<template>
  <div class="bg-white rounded-md overflow-hidden">
    <div class="bg-primary-light rounded-b-[50px] flex justify-center mb-12">
      <img
        v-if="profileUrl"
        class="w-32 h-32 rounded-md shadow-[0_0_0_5px_rgba(255,255,255,1)] relative bottom-[-50px]"
        :src="profileUrl"
        alt="profile"
      />
      <img
        v-else
        class="w-32 h-32 rounded-md shadow-[0_0_0_5px_rgba(255,255,255,1)] relative bottom-[-50px]"
        src="/img/placeholder-user.svg"
        alt="profile"
      />
    </div>
    <div class="p-5">
      <div class="" v-if="me">
        <div class="mb-2">
          <h5 class="text-center text-lg text-primary font-bold">
            {{ userName }}
          </h5>
          <div class="flex justify-center items-center mb-3">
            <img class="w-3 h-3 mr-1" src="/icon/calendar.svg" alt="icon" />
            <p class="text-sm text-gray-500">Created {{ created }}</p>
          </div>
        </div>
        <div class="flex">
          <div class="text-center mb-2 flex-1">
            <p class="text-gray-500 text-sm">Finished Projects</p>
            <p class="text-gray-800 text-lg font-bold">{{ finishedProject }}</p>
          </div>
          <div class="text-center mb-2 flex-1">
            <p class="text-gray-500 text-sm">Total Working Hours</p>
            <p class="text-gray-800 text-lg font-bold">
              {{ totalWorkingHours }}
              <span class="text-sm font-medium">Hours</span>
            </p>
          </div>
        </div>
        <div class="flex justify-center">
          <NuxtLink
            class="text-white bg-primary focus:ring-4 focus:outline-none focus:ring-blue-300 font-bold rounded-md text-sm px-5 py-1.5 text-center inline-flex justify-center"
            to="/profile"
          >
            Edit
          </NuxtLink>
        </div>
      </div>

      <div v-else>
        <div class="mb-2">
          <span
            class="bg-gray-100 text-gray-800 text-sm px-2.5 py-0.5 rounded"
            >{{ role }}</span
          >
        </div>
        <div class="mb-2">
          <h5 class="text-lg text-primary font-bold">{{ userName }}</h5>
          <div class="flex items-center mb-3">
            <img class="w-3 h-3 mr-1" src="/icon/calendar.svg" alt="icon" />
            <p class="text-sm text-gray-500">Created {{ created }}</p>
          </div>
        </div>
        <div class="mb-2">
          <p class="text-gray-500">Department</p>
          <p class="text-gray-800 font-bold">{{ department }}</p>
        </div>
        <div class="mb-2">
          <p class="text-gray-500">Email address</p>
          <p class="text-gray-800">{{ email }}</p>
        </div>
        <div class="mb-2">
          <p class="text-gray-500">Phone number</p>
          <p class="text-gray-800">{{ phone }}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    me: Boolean,
    userName: String,
    created: String,
    department: String,
    email: String,
    phone: String,
    role: String,
    profileUrl: String,
    finishedProject: Number,
    totalWorkingHours: Number,
  },
};
</script>
