<template>
  <div class="flex">
    <div class="flex-1 text-sm text-gray-500 font-bold p-2">User Name</div>
    <div class="flex-2 text-sm text-gray-500 font-bold">
      <div class="flex">
        <div class="flex-1 p-2">
          Department
        </div>
        <div class="flex-1 p-2">
          Project Name
        </div>
        <div class="w-[60px] p-2">
          Code
        </div>
        <div class="w-[120px] p-2">
          Working Hours
        </div>
      </div>
    </div>
    <div class="w-[100px]" />
  </div>
  <div class="gap-2">
    <slot />
  </div>
</template>

<script>
export default {};
</script>