<template>
  <div class="bg-white rounded-md mb-2">
    <div class="flex items-start border-gray-200 border rounded-md">
      <div class="flex-1 flex items-center text-gray-800 font-bold p-2">
        <img
          v-if="profilepict"
          class="w-10 h-10 rounded"
          :src="profilepict"
          alt="profile pict"
        />
        <img
          v-else
          class="w-10 h-10 rounded"
          src="/img/placeholder-user.svg"
          alt="profile pict"
        />

        <p class="ml-2">{{ username }}</p>
      </div>
      <div class="flex-2">
        <slot />
      </div>
      <div class="w-[100px] flex justify-end p-2">
        <Dropdown>
          <template #toggler>
            <button
              class="border border-gray-200 text-gray-800 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-md text-sm px-3 py-2 text-center inline-flex items-center"
              type="button"
            >
              Action
              <svg
                class="ml-2 w-4 h-4"
                aria-hidden="true"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M19 9l-7 7-7-7"
                ></path>
              </svg>
            </button>
          </template>
          <DropdownContent>
            <DropdownItem
              :to="
                role !== 'EMPLOYEE'
                  ? '/users/admin/' + userId
                  : '/users/employee/' + userId
              "
              >View Profile
            </DropdownItem>
            <DropdownItem
              v-if="auth.user.role === 'ADMIN'"
              :to="'/timesheets/edit/' + id"
              >Edit</DropdownItem
            >
          </DropdownContent>
        </Dropdown>
      </div>
    </div>
  </div>
</template>

<script setup>
import { userStore } from "~/store/userStore";
import { useAuthStore } from "~/store/auth";
const auth = useAuthStore();

const { $showToast } = useNuxtApp();
const user = userStore();
const runtimeConfig = useRuntimeConfig();

// async function deleteConfirm(id, role) {
//   if (confirm("Do you really want to delete ?")) {
//     const userRole = auth.user.role;
//     let urlPath =
//       userRole === "MANAGER"
//         ? "admin/user/employee/delete/"
//         : "admin/user/admin/delete/";

//     const { data, pending, error, refresh } = await useLazyFetch(
//       runtimeConfig.apiBaseUrl + urlPath + id,
//       {
//         method: "DELETE",
//         headers: {
//           Authorization: `Bearer ${auth.token}`,
//         },
//         async onResponse({ request, response, options }) {
//           if (response.status === 200) {
//             $showToast("The data has been deleted", "success", 3000);
//             await refreshNuxtData();
//             // window.location.reload(true);
//           } else {
//             console.log(response);
//           }
//         },
//       }
//     );
//   }
// }
</script>

<script>
import Dropdown from "../Dropdown/index.vue";
import DropdownContent from "../Dropdown/Content.vue";
import DropdownItem from "../Dropdown/Items.vue";

export default {
  props: {
    id: { type: Number },
    profilepict: { type: String, default: "/img/placeholder-user.svg" },
    username: { type: String, default: "First Name Last Name" },
    userId: { type: Number },
    // projectname: { type: String, default: "Project Name" },
    // department: { type: String, default: "Department" },
    // code: { type: String, default: "101" },
    // workinghours: { type: String, default: "3" },
    // shift: { type: String, default: "Day" },
  },
  components: {
    Dropdown,
    DropdownContent,
    DropdownItem,
  },
};
</script>
