<template>
  <div class="flex items-center">
    <div class="flex-1 p-2">
      {{ department }}
    </div>
    <div class="flex-1 p-2">
      {{ projectname }}
    </div>
    <div class="w-[60px] p-2">
      {{ code }}
    </div>
    <div class="w-[120px] p-2">
      <p>{{ workinghours }} hours</p>
      <p class="text-xs text-gray-500">{{ shift }}</p>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    id: { type: Number, default: 1 },
    projectname: { type: String, default: "Project Name" },
    department: { type: String, default: "Department" },
    code: { type: String, default: "101" },
    workinghours: { type: String, default: "0" },
    shift: { type: String, default: "Day" },
  },
};
</script>
