<template>
  <div v-if="pending">
    <SkeletonTable />
  </div>
  <div v-else>
    <div class="mb-5">
      <div class="flex items-center">
        <div class="flex-1 mr-3">
          <h1 class="text-3xl text-secondary font-bold mb-1">
            Project Details
          </h1>
          <!-- Breadcrumb -->
          <nav class="flex" aria-label="Breadcrumb">
            <ol class="inline-flex items-center space-x-1 md:space-x-2">
              <li class="inline-flex items-center">
                <NuxtLink
                  to="/projects"
                  class="inline-flex items-center text-sm text-gray-500 hover:text-gray-900"
                >
                  Project
                </NuxtLink>
              </li>
              <li>
                <div class="flex items-center">
                  <svg
                    class="w-4 h-4 text-gray-400"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                      clip-rule="evenodd"
                    ></path>
                  </svg>
                  <a
                    href="#"
                    class="ml-1 text-sm text-primary hover:text-secondary md:ml-2"
                    >{{ data.data.name }}</a
                  >
                </div>
              </li>
            </ol>
          </nav>
          <!-- Breadcrumb -->
        </div>
        <div>
          <NuxtLink
            v-if="auth.user.role === 'ADMIN'"
            class="text-white bg-primary focus:ring-4 focus:outline-none focus:ring-blue-300 font-bold rounded-md text-lg px-6 py-2.5 text-center inline-flex justify-center"
            :to="'/projects/edit/' + data.data.id"
          >
            Edit
          </NuxtLink>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-12 gap-6">
      <div class="col-span-9">
        <div class="bg-white rounded-md p-5 mb-6">
          <div class="flex items-center mb-5">
            <div class="flex-1 mr-3">
              <h3 class="text-2xl text-primary font-bold">
                {{ data.data.name }}
              </h3>
              <div class="text-gray-500 text-sm flex items-center">
                <img class="w-4 h-4" src="/icon/calendar.svg" alt="icon" />
                <span class="ml-1"
                  >Created
                  {{
                    $moment(data.data.createdAt, `YYYY-MM-DD H:i:s`).format(
                      "DD MMM YYYY hh:mm:ss"
                    )
                  }}</span
                >
              </div>
            </div>
            <div class="flex items-center">
              <span class="text-sm text-gray-800 mr-2"> Sales Status </span>

              <ProjectSalesStatusDropdown :status="data.data.salesStatus" />
              <Modal>
                <template #toggler>
                  <button
                    @click="this.modalShow = true"
                    class="ml-2 text-primary border border-gray-200 hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-md p-2 text-center inline-flex justify-center"
                    type="submit"
                  >
                    <img
                      class="w-5 h-5"
                      src="/icon/info-circle.svg"
                      alt="icon"
                    />
                  </button>
                </template>
                <ModalContent :show="modalShow">
                  <div class="p-5">
                    <h3 class="text-2xl text-secondary mb-3 font-bold">
                      Change Status Information
                    </h3>
                    <div class="mb-4">
                      <StatusInfo
                        v-for="statusinfo in statusinfos"
                        :key="statusinfo.id"
                        :icon="statusinfo.icon"
                        :iconbg="statusinfo.iconbg"
                        :title="statusinfo.title"
                        :description="statusinfo.description"
                      />
                    </div>
                    <div class="flex justify-end">
                      <button
                        class="border border-0 text-white bg-secondary hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-md px-6 py-2 text-center inline-flex items-center font-bold"
                        @click="this.modalShow = false"
                      >
                        Close
                      </button>
                    </div>
                  </div>
                </ModalContent>
              </Modal>
            </div>
          </div>
          <div class="mb-5">
            <div class="flex items-center mb-3">
              <div class="w-[100px] text-gray-500 mr-3">ID Project</div>
              <div class="flex-1 font-bold text-gray-800">
                {{ data.data.id }}
              </div>
            </div>
            <div class="flex items-center mb-3">
              <div class="w-[100px] text-gray-500 mr-3">Code</div>
              <div class="flex-1 font-bold text-gray-800">
                {{ data.data.code }}
              </div>
            </div>
            <div class="flex items-center">
              <div class="w-[100px] text-gray-500 mr-3">Status</div>
              <div class="flex-1 font-bold text-gray-800">
                <ProjectStatusDropdown :status="data.data.status" />
              </div>
            </div>
          </div>
          <div>
            <div class="mb-2">
              <h5 class="text-lg text-gray-800 font-bold">Project Manager</h5>
              <p class="text-sm text-gray-500">
                Manager who responsible on {{ data.data.name }}
              </p>
            </div>
            <div class="grid gap-2">
              <div v-if="project.usersInProject === null">
                <SkeletonTable />
              </div>
              <div v-else>
                <UserList
                  v-if="project.usersInProject[0].rows.length > 0"
                  v-for="user in project.usersInProject[0].rows"
                  :key="user.id"
                  :id="user.id"
                  :profilepict="user.avatarUrl"
                  :username="user.firstName + ' ' + user.lastName"
                  :email="user.email"
                  :cta="auth.user.role === 'EMPLOYEE' ? false : true"
                />
                <EmptyState
                  v-else
                  title="No Manager"
                  description="Assign Manager to this Project"
                >
                  <NuxtLink
                    :to="'/projects/edit/' + data.data.id"
                    class="bg-secondary text-white text-sm font-bold px-4 py-2 rounded-md mt-3 hover:bg-primary"
                    >Add Manager</NuxtLink
                  >
                </EmptyState>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-span-3">
        <div
          class="bg-secondary rounded-md p-5 mb-6 bg-no-repeat"
          :style="{
            backgroundImage: 'url(/img/bg-wave-primary.png)',
            backgroundSize: '50%',
            backgroundPositionX: '100%',
            backgroundPositionY: '0',
          }"
        >
          <div class="flex flex-col items-center">
            <img
              class="w-12 h-12 mb-3"
              src="/icon/clock-primary-light.svg"
              alt="icon"
            />
            <div class="text-center">
              <p class="text-white">Total Working Hour on Project</p>
              <h5 class="text-white text-4xl font-bold">
                {{
                  data.data.totalHours !== null
                    ? $hourRound(data.data.totalHours)
                    : 0
                }}
                <span class="text-sm font-medium">Hours</span>
              </h5>
            </div>
          </div>
        </div>

        <div class="bg-white rounded-md p-5 mb-6">
          <h5 class="text-lg text-gray-800 font-bold mb-3">Status History</h5>
          <div class="" v-if="project.projectHistory !== null">
            <ActivityLog
              v-for="activityuser in project.projectHistory[0]"
              :key="activityuser.id"
              :text="activityuser.name"
              :timestamp="
                $moment(activityuser.createdAt, `YYYY-MM-DD H:i:s`).format(
                  `hh.mm - DD MMM YYYY `
                )
              "
            />
          </div>
          <div v-else>
            <SkeletonWidget />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// import Modal from "~/components/Modal/index.vue";
// import ModalContent from "~/components/Modal/Content.vue";

export default {
  // data() {
  //   return {
  //     modalShow: false,
  //     users: [
  //       {
  //         id: 1,
  //         profilepict:
  //           "https://nanny.org/wp-content/uploads/2021/11/profile-square.jpeg",
  //         username: "User Name",
  //         email: "email@email.com",
  //       },
  //       {
  //         id: 3,
  //         profilepict: "/img/placeholder-user.svg",
  //         username: "User Name",
  //         email: "email@email.com",
  //       },
  //     ],
  //     statusinfos: [
  //       {
  //         id: 1,
  //         icon: "/icon/clipboard-white.svg",
  //         iconbg: "bg-warning",
  //         title: "Offer",
  //         description: "Lorem ipsum",
  //       },
  //       {
  //         id: 2,
  //         icon: "/icon/dashboard-white.svg",
  //         iconbg: "bg-warning",
  //         title: "Preparation",
  //         description: "Lorem ipsum dolor",
  //       },
  //       {
  //         id: 3,
  //         icon: "/icon/cut-content-white.svg",
  //         iconbg: "bg-sky-600",
  //         title: "In Production",
  //         description: "Lorem ipsum dolor",
  //       },
  //       {
  //         id: 4,
  //         icon: "/icon/boxes-white.svg",
  //         iconbg: "bg-sky-600",
  //         title: "Instalation",
  //         description: "Lorem ipsum dolor",
  //       },
  //       {
  //         id: 5,
  //         icon: "/icon/file-search-white.svg",
  //         iconbg: "bg-teal-700",
  //         title: "After Sales",
  //         description:
  //           "Quam tincidunt lectus id praesent massa proin sed viverra eget.",
  //       },
  //     ],
  //     activityusers: [
  //       {
  //         id: 1,
  //         text: "Order created",
  //         timestamp: "17.45 - 12 Sept 2022",
  //       },
  //       {
  //         id: 2,
  //         text: "<span class='font-bold'> Username </span> was edited order ",
  //         timestamp: "17.45 - 12 Sept 2022",
  //       },
  //       {
  //         id: 3,
  //         text: "<span class='font-bold'> Username </span> accepted order ID121231",
  //         timestamp: "17.45 - 12 Sept 2022",
  //       },
  //     ],
  // };
  // },
};
</script>

<script setup>
import { ref } from "vue";
import { useAuthStore } from "~/store/auth";
import { projectStore } from "~/store/projectStore";
const project = projectStore();
const auth = useAuthStore();
const route = useRoute();
const params = route.params;
const runtimeConfig = useRuntimeConfig();
const date = ref();

useHead({
  title: "Hemlock - Project Detail",
  meta: [{ name: "description", content: "Project Detail" }],
});

definePageMeta({
  layout: "applayout",
  middleware: ["auth"],
});

// fetch project
const { pending, data, error } = await useLazyFetch(
  runtimeConfig.apiBaseUrl + "admin/project/get/" + params.id,
  {
    headers: {
      Authorization: `Bearer ${auth.token}`,
    },
  }
);

// fetch project history
await useLazyFetch(
  runtimeConfig.apiBaseUrl + "admin/project/history/" + params.id,
  {
    headers: {
      Authorization: `Bearer ${auth.token}`,
    },
    onResponse({ request, response, options }) {
      if (response.status === 200) {
        const resData = response._data.data.rows;
        project.setProjectHistory(resData);
      } else {
        // error
        console.log(resData.message || response.statusText);
      }
    },
  }
);

// fetch users in project
await useLazyFetch(
  runtimeConfig.apiBaseUrl + "admin/project/users/" + params.id,
  {
    headers: {
      Authorization: `Bearer ${auth.token}`,
    },
    onResponse({ request, response, options }) {
      if (response.status === 200) {
        const data = response._data.data;
        project.setUsersInProject(data);
      }
    },
  }
);
</script>
