<template>
  <div v-if="auth.user.role === 'ADMIN'">
    <div class="mb-5">
      <h1 class="text-3xl text-secondary font-bold mb-1">Create Project</h1>
      <!-- Breadcrumb -->
      <nav class="flex" aria-label="Breadcrumb">
        <ol class="inline-flex items-center space-x-1 md:space-x-2">
          <li class="inline-flex items-center">
            <NuxtLink
              to="/projects"
              class="inline-flex items-center text-sm text-gray-500 hover:text-gray-900"
            >
              Project
            </NuxtLink>
          </li>
          <li>
            <div class="flex items-center">
              <svg
                class="w-4 h-4 text-gray-400"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                  clip-rule="evenodd"
                ></path>
              </svg>
              <a
                href="#"
                class="ml-1 text-sm text-primary hover:text-secondary md:ml-2"
                >Create Project</a
              >
            </div>
          </li>
        </ol>
      </nav>
      <!-- Breadcrumb -->
    </div>

    <form class="mb-8" @submit.prevent="submitForm" method="POST">
      <div class="bg-white rounded-md p-5 mb-6">
        <div class="mb-5">
          <div class="flex items-center justify-between mb-2">
            <h3 class="text-xl text-gray-800 font-bold">General</h3>
            <!-- <div class="text-gray-500 text-sm flex items-center">
            <img class="w-4 h-4" src="/icon/calendar.svg" alt="icon" />
            <span class="ml-1">Created 22 Sept 2022</span>
          </div> -->
          </div>

          <AlertsAlert />
          <AlertsValidationAlert />

          <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div class="mb-4">
              <label
                for="code"
                class="block mb-2 text-sm font-medium text-gray-900"
              >
                Code <span class="text-red-500">*</span>
              </label>
              <input
                v-model="formData.code"
                type="text"
                class="bg-white border border-gray-200 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3"
                placeholder="Code"
              />
            </div>
            <div class="mb-4">
              <label
                for="ID Project"
                class="block mb-2 text-sm font-medium text-gray-900"
              >
                Project Name <span class="text-red-500">*</span>
              </label>
              <input
                v-model="formData.name"
                type="text"
                id="projectName"
                class="bg-white border border-gray-200 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3"
                placeholder="Project Name"
              />
            </div>
          </div>

          <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div class="mb-4">
              <label
                for="status"
                class="block mb-2 text-sm font-medium text-gray-900"
              >
                Status <span class="text-red-500">*</span>
              </label>
              <select
                v-model="formData.status"
                id="status"
                class="bg-white border border-gray-200 text-gray-900 text-md rounded-lg focus:ring-primary-vogue focus:border-primary-vogue block w-full px-4 py-3 h-[50px]"
              >
                <option value="OPEN">Open</option>
                <option value="LOCKED">Locked</option>
                <option value="CLOSED">Closed</option>
              </select>
            </div>
            <div class="mb-4">
              <label
                for="Sales Status"
                class="block mb-2 text-sm font-medium text-gray-900"
              >
                Sales Status <span class="text-red-500">*</span>
              </label>
              <select
                v-model="formData.salesStatus"
                id="Sales Status"
                class="bg-white border border-gray-200 text-gray-900 text-md rounded-lg focus:ring-primary-vogue focus:border-primary-vogue block w-full px-4 py-3 h-[50px]"
              >
                <option value="OFFER">Offer</option>
                <option value="PREPERATION">Preparation</option>
                <option value="IN_PRODUCTION">Production</option>
                <option value="INSTALATION">Instalation</option>
                <option value="AFTER_SALES">After Sales</option>
                <option value="FINISHED">Finished</option>
              </select>
            </div>
          </div>
        </div>

        <!-- <div class="mb-5">
          <div class="flex items-center justify-between mb-2">
            <div class="flex-1 mr-3">
              <h3 class="text-xl text-gray-800 font-bold">Project Manager</h3>
              <p class="text-sm text-gray-500">
                Assign manager who responsible
              </p>
            </div>
            <div>
              <AssignManager />
            </div>
          </div>
          <div>
            <div class="grid gap-2">
              <UserList
                v-for="user in users"
                :key="user.id"
                :profilepict="user.profilepict"
                :username="user.username"
                :email="user.email"
                cta
              />
            </div>
            <EmptyState
              title="No Manager"
              description="Assign Manager to this Project"
            />
          </div>
        </div> -->
      </div>

      <div class="flex">
        <!-- <button
        class="text-danger focus:ring-4 focus:outline-none focus:ring-blue-300 font-bold rounded-md text-lg px-5 py-2.5 text-center inline-flex justify-center"
        type="submit"
      >
        Delete
      </button> -->
        <div class="flex flex-1 justify-end">
          <NuxtLink
            to="/projects"
            class="text-gray-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-bold rounded-md text-lg px-5 py-2.5 text-center inline-flex justify-center"
          >
            Cancel
          </NuxtLink>
          <button
            class="text-white bg-primary focus:ring-4 focus:outline-none focus:ring-blue-300 font-bold rounded-md text-lg px-8 py-2.5 text-center inline-flex justify-center"
            type="submit"
          >
            <Loaders />
            <span v-if="loaderInit.display === false"> Save </span>
          </button>
        </div>
      </div>
    </form>
  </div>
  <div v-else>Unauthorized</div>
</template>

<script>
// import Modal from "~/components/Modal/index.vue";
// import ModalContent from "~/components/Modal/Content.vue";

// export default {
//   components: {
//     Modal,
//     ModalContent,
//   },
// };
</script>

<script setup>
import { ref } from "vue";
import Datepicker from "@vuepic/vue-datepicker";
import "@vuepic/vue-datepicker/dist/main.css";
import { useAuthStore } from "~/store/auth";
import { validationErrors } from "~/store/validationError";
import { messageAlert } from "~~/store/messageAlert";
import { loader } from "~~/store/loader";
import { projectStore } from "~/store/projectStore";

const auth = useAuthStore();
const loaderInit = loader();
const runtimeConfig = useRuntimeConfig();
const project = projectStore();

const date = ref();

useHead({
  title: "Hemlock - Create Project",
  meta: [{ name: "description", content: "Create Project" }],
});

definePageMeta({
  layout: "applayout",
  middleware: ["auth"],
});

let formData = {
  code: "",
  name: "",
  status: "OPEN",
  salesStatus: "OFFER",
  projectManager: 1,
};

// form submit
async function submitForm() {
  const validationError = validationErrors();
  const messageInit = messageAlert();

  validationError.clearErrors();
  messageInit.clearMessageAlert();

  loaderInit.display = true;

  const { data, pending, error, refresh } = await useFetch(
    runtimeConfig.apiBaseUrl + "admin/project/create",
    {
      method: "POST",
      body: formData,
      headers: {
        Authorization: `Bearer ${auth.token}`,
      },
      onResponse({ request, response, options }) {
        // Process the response data
        const resData = response._data;

        if (response.status === 200) {
          // successfully
          messageInit.setMessageAlert("Project has been created", "success");

          // set all form value to empty
          for (let index in formData) {
            formData[index] = "";
          }
        } else {
          // errors
          if (resData.message === "validation error") {
            validationError.setErrors(resData.errors);
          } else {
            messageInit.setMessageAlert(
              resData.message || response.statusText,
              "danger"
            );
          }
        }
        window.scrollTo(0, 0);
      },
    }
  ).then(() => {
    loaderInit.display = false;
  });
}
</script>
