<template>
  <div v-if="auth.user.role !== null">
    <div class="flex justify-between items-center mb-5">
      <h1 class="text-3xl text-secondary font-bold flex-1">Projects</h1>
      <div class="flex">
        <select
          id="role"
          class="bg-white border border-gray-200 text-gray-900 text-md rounded-lg focus:ring-primary-vogue focus:border-primary-vogue block py-2 h-[44px]"
        >
          <option selected>All Department</option>
          <option value="admin">Administration</option>
        </select>

        <NuxtLink
          v-if="auth.user.role === 'ADMIN'"
          to="/projects/create"
          class="inline-flex text-white bg-primary hover:bg-secondary focus:ring-4 focus:ring-blue-300 rounded-md text-md px-5 py-2.5 ml-3"
        >
          Add Project
        </NuxtLink>
      </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <OverviewDataWidget
        v-if="project.totalProjectsOnGoing !== null"
        title="On Going"
        :number="project.totalProjectsOnGoing"
        iconWrapperColor="bg-primary-vogue"
        icon="/icon/boxes-primary.svg"
      />
      <div v-else>
        <SkeletonWidget />
      </div>

      <OverviewDataWidget
        v-if="project.totalProjects !== null"
        title="Projects Total"
        :number="project.totalProjects"
        iconWrapperColor="bg-secondary-vogue"
        icon="/icon/receipt-secondary.svg"
      />
      <div v-else>
        <SkeletonWidget />
      </div>
    </div>

    <div class="bg-white rounded-md p-5 mb-6">
      <h3 class="text-xl text-secondary font-bold mb-3">On Going</h3>
      <div class="mb-3">
        <SearchBar :onSearch="onSearch" sorting />
      </div>
      <div v-if="project.projectList === null">
        <SkeletonTable />
      </div>
      <div v-else>
        <ProjectTable>
          <ProjectTableList
            v-if="project.projectList[0].rows.length > 0"
            v-for="project in project.projectList[0].rows"
            :key="project.id"
            :projectname="project.name"
            :id="project.id"
            :code="project.code"
            :workinghours="$hourRound(project.totalHours)"
            :created="
              $moment(project.createdAt, `YYYY-MM-DD H:i:s`).format(
                `DD MMM YYYY`
              )
            "
            :status="project.status"
            :salesstatus="project.salesStatus"
          />
          <div class="bg-gray-100 p-2 rounded-md mb-2 text-center" v-else>
            No records found
          </div>
        </ProjectTable>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  // data() {
  //   return {
  //     projects: [
  //       {
  //         id: 1,
  //         projectname: "Logistic",
  //         workinghours: "4.5",
  //         people: "213",
  //         created: "12 Sept 2022",
  //         status: "open",
  //         salesstatus: "offer",
  //       },
  //     ],
  //   };
  // },
};
</script>
<script setup>
import { ref } from "vue";
import Datepicker from "@vuepic/vue-datepicker";
import "@vuepic/vue-datepicker/dist/main.css";
import { useAuthStore } from "~/store/auth";
import { validationErrors } from "~/store/validationError";
import { messageAlert } from "~~/store/messageAlert";
import { loader } from "~~/store/loader";
import { projectStore } from "~/store/projectStore";

const date = ref();

const auth = useAuthStore();
const project = projectStore();
const loaderInit = loader();
const runtimeConfig = useRuntimeConfig();

useHead({
  title: "Hemlock - Projects",
  meta: [{ name: "description", content: "Projects" }],
});
definePageMeta({
  layout: "applayout",
  middleware: ["auth"],
});

let projectApiPath = "admin/project/list";
// fetch projects data
const { data, pending } = await useLazyFetch(
  runtimeConfig.apiBaseUrl + projectApiPath,
  {
    headers: {
      Authorization: `Bearer ${auth.token}`,
    },
    onResponse({ request, response, options }) {
      if (response.status === 200) {
        project.setProjectList(response._data.data);
      } else {
        if (response.status === 204) {
          // $showToast("No recors found", "success", 3000);
        }
      }
    },
  }
);

// fetch overview
const { data: overviewata, pending: overviewPending } = await useLazyFetch(
  runtimeConfig.apiBaseUrl + "admin/project/overview",
  {
    headers: {
      Authorization: `Bearer ${auth.token}`,
    },
    onResponse({ request, response, options }) {
      if (response.status === 200) {
        const data = response._data.data;
        console.log(data);

        if (data && data[0]) {
          project.setTotalProjects(data[0].total);
          project.setTotalProjectsOnGoing(
            data[0].ongoing ? data[0].ongoing : 0
          );
        }
      } else {
        if (response.status === 204) {
          // $showToast("No recors found", "success", 3000);
        }
      }
    },
  }
);

async function onSearch(event) {
  const input = document.getElementsByName("searchbar");
  const searchKeyword = input[0].value;

  await useLazyFetch(
    runtimeConfig.apiBaseUrl +
      "admin/project/list" +
      "/?search=" +
      searchKeyword,
    {
      headers: {
        Authorization: `Bearer ${auth.token}`,
      },
      onResponse({ request, response, options }) {
        if (response.status === 200) {
          project.setProjectList(response._data.data);
        } else {
          if (response.status === 204) {
            // $showToast("No recors found", "success", 3000);
          }
        }
      },
    }
  );
}
</script>
