// @import '@vuepic/vue-datepicker/src/VueDatePicker/style/main.scss';

$primary: #9c268f;
$secondary: #32174a;
$primary-vogue: #f7eef6;
$secondary-vogue: #efedf1;
$success-vogue: #f4f9e9;
$success: #78a518;
$gray-vogue: #f2f2f2;
$gray-lighter: #dddddd;

.sidebar {
  .router-link-active {
    color: $primary;
    fill: $primary;
    background: $primary-vogue;
    &.tab {
      background: $secondary;
      color: white;
    }
  }
}


select {
  appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' fill='none' stroke='%23333' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M19 9l-7 7-7-7'%3E%3C/path%3E%3C/svg%3E");
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position-x: calc(100% - 10px);
  background-position-y: calc(50%);
  border: 1px solid #dfdfdf;
  border-radius: 2px;
  padding: 1rem;
  padding-right: 2.5rem;
}

input {
  &:disabled {
    background-color: $gray-vogue;
  }
}
.radio-button {
  position: relative;
  padding-left: 32px;
  min-height: 24px;
  min-width: 24px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  input {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    &:checked ~ .checkmark {
      background-color: white;
      border: 2px solid $success;
      &:after {
        display: block;
      }
    }
  }
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    border: 2px solid $gray-lighter;
    background-color: white#eee;
    border-radius: 50%;
    pointer-events: none;
    &:after {
      content: "";
      position: absolute;
      display: none;
      top: 2px;
      left: 2px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background: $success;
    }
  }
}
.grecaptcha-badge {
  visibility: hidden;
}
.status-info {
  position: relative;
  margin-bottom: 15px;
  &::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 18px;
    width: 3px;
    height: 100%;
    background-color: $gray-lighter;
  }
  &:last-child {
    &::before {
      display: none;
    }
  }
  &.activity {
    &::before {
      top: 19px;
      left: 5px;
      width: 2px;
      height: calc(100% - 3px);
    }
  }
}
.dp__input {
  border-radius: 6px !important;
  height: 50px;
  font-family: "Signika", sans-serif !important;
}
.dp__calendar_wrap {
  font-family: "Signika", sans-serif !important;
}
.dp__action {
  font-size: 0.85rem;
  padding: 3px 8px !important;
  &.dp__select {
    background-color: $secondary;
    color: white;
    margin-left: 5px;
  }
}
.dp__active_date{
  background-color: $primary !important;
  border-color: $primary !important;
}
.dp__today{
  border-color: $primary !important;
}