<template>
  <Dropdown>
    <template #toggler>
      <button
        class="text-gray-800 hover:bg-opacity-70 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-md text-sm font-bold px-2 py-1 text-center inline-flex items-center"
        :class="
          status === 'OPEN'
            ? 'bg-success-vogue'
            : status === 'lock'
            ? 'bg-danger-vogue'
            : 'bg-gray-100'
        "
        type="button"
      >
        <!-- loader -->
        <Loaders />
        <div
          v-if="project.activeStatus === 'OPEN'"
          class="inline-flex items-center"
        >
          <img
            class="w-4 h-4 mr-1"
            src="/icon/lock-open-success.svg"
            alt="icon-lock"
          />
          <span class="text-success"> Open </span>
        </div>
        <div
          v-else-if="project.activeStatus === 'LOCKED'"
          class="inline-flex items-center"
        >
          <img
            class="w-4 h-4 mr-1"
            src="/icon/lock-danger.svg"
            alt="icon-lock"
          />
          <span class="text-danger"> Locked </span>
        </div>
        <div v-else class="inline-flex items-center">
          <img
            class="w-4 h-4 mr-1"
            src="/icon/blocked-circle.svg"
            alt="icon-lock"
          />
          <span class="text-gray-500"> Closed </span>
        </div>
        <svg
          class="ml-2 w-4 h-4"
          aria-hidden="true"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M19 9l-7 7-7-7"
          ></path>
        </svg>
      </button>
    </template>
    <DropdownContent v-if="auth.user.role !== 'EMPLOYEE'">
      <DropdownItem>
        <div class="flex items-center" @click="onStatusChange('OPEN')">
          <img
            class="w-5 h-5 mr-1"
            src="/icon/lock-open-success.svg"
            alt="icon"
          />
          <div class="flex-1 font-bold text-success">Open</div>
          <div class="radio-button">
            <input id="open" type="radio" value="" name="status" />
            <span class="checkmark" />
          </div>
        </div>
      </DropdownItem>
      <hr />
      <DropdownItem>
        <div class="flex items-center" @click="onStatusChange('LOCKED')">
          <img class="w-5 h-5 mr-1" src="/icon/lock-danger.svg" alt="icon" />
          <div class="flex-1 font-bold text-danger">Locked</div>
          <div class="radio-button">
            <input id="lock" type="radio" value="" name="status" />
            <span class="checkmark" />
          </div>
        </div>
      </DropdownItem>
      <hr />
      <DropdownItem>
        <div class="flex items-center" @click="onStatusChange('CLOSED')">
          <img class="w-5 h-5 mr-1" src="/icon/blocked-circle.svg" alt="icon" />
          <div class="flex-1 font-bold text-gray-500">Closed</div>
          <div class="radio-button">
            <input id="close" type="radio" value="" name="status" />
            <span class="checkmark" />
          </div>
        </div>
      </DropdownItem>
    </DropdownContent>
  </Dropdown>
</template>

<script>
import Dropdown from "../Dropdown/index.vue";
import DropdownContent from "../Dropdown/Content.vue";
import DropdownItem from "../Dropdown/Items.vue";
import Loaders from "~/components/Loaders";

export default {
  components: {
    Dropdown,
    DropdownContent,
    DropdownItem,
    Loaders,
  },
  props: {
    status: { type: Function, default: "OPEN" },
  },
};
</script>

<script setup>
import { useAuthStore } from "~/store/auth";
import { validationErrors } from "~/store/validationError";
import { messageAlert } from "~~/store/messageAlert";
import { loader } from "~~/store/loader";
import { projectStore } from "~/store/projectStore";
const project = projectStore();
const auth = useAuthStore();
const validationError = validationErrors();
const runtimeConfig = useRuntimeConfig();
const loaderInit = loader();
const route = useRoute();
const params = route.params;
const { $showToast } = useNuxtApp();

const props = defineProps({
  status: { type: Function },
});

project.setActiveStatus(props.status);

async function onStatusChange(status) {
  loaderInit.display = true;
  // fetch API when status changed
  await useFetch(
    runtimeConfig.apiBaseUrl + "admin/project/status/update/" + params.id,
    {
      method: "PUT",
      body: { status: status },
      headers: {
        Authorization: `Bearer ${auth.token}`,
      },
      async onResponse({ request, response, options }) {
        // Process the response data
        const resData = response._data;

        if (response.status === 200) {
          // successfully
          $showToast("The status has been changed", "success", 3000);
          // update selected status
          project.setActiveStatus(status);
        } else {
          // errors
          if (resData.message === "validation error") {
            validationError.setErrors(resData.errors);
          } else {
            console.log(resData.message);
          }
        }
      },
    }
  ).then(() => {
    loaderInit.display = false;
  });
}
</script>
