<template>
  <Modal>
    <template #toggler>
      <button
        class="text-gray-800 bg-white border-0 focus:ring-4 focus:outline-none focus:ring-blue-300 font-bold rounded-md text-md px-5 py-3 text-center inline-flex justify-center items-center"
        type="button"
        @click="this.modalShow = true"
      >
        <img class="w-4 h-4 mr-2" src="/icon/calendar.svg" alt="calendar" />
        <span>{{ main.selectedDateRange.value }}</span>
      </button>
    </template>
    <ModalContent :show="modalShow" size="large">
      <div class="p-5">
        <div class="mb-5">
          <h3 class="text-xl text-secondary mb-3 font-bold">Date Range</h3>
          <div class="flex">
            <div class="flex-1">
              <button
                type="button"
                class="flex w-full justify-between px-3 py-1.5 rounded-md"
                @click="selectDateRange('lastseven', 'Last 7 Days')"
                :class="
                  main.selectedDateRange.key === 'lastseven'
                    ? 'text-primary bg-primary-vogue'
                    : 'text-gray-500 bg-white'
                "
              >
                <span class="font-bold">Last 7 Days</span>
                <span
                  >{{
                    $moment(new Date()).add(-7, "days").format("DD MMM YYYY")
                  }}
                  -
                  {{
                    $moment(new Date()).add(-30, "days").format("DD MMM YYYY")
                  }}</span
                >
              </button>
              <button
                type="button"
                class="flex w-full justify-between px-3 py-1.5 rounded-md"
                @click="selectDateRange('lastthirty', 'Last 30 Days')"
                :class="
                  main.selectedDateRange.key === 'lastthirty'
                    ? 'text-primary bg-primary-vogue'
                    : 'text-gray-500 bg-white'
                "
              >
                <span class="font-bold">Last 30 Days</span>
                <span
                  >{{
                    $moment(new Date()).add(-30, "days").format("DD MMM YYYY")
                  }}
                  - {{ $moment(new Date()).format("DD MMM YYYY") }}</span
                >
              </button>
              <button
                type="button"
                class="flex w-full justify-between px-3 py-1.5 rounded-md"
                @click="selectDateRange('thismonth', 'This Month')"
                :class="
                  main.selectedDateRange.key === 'thismonth'
                    ? 'text-primary bg-primary-vogue'
                    : 'text-gray-500 bg-white'
                "
              >
                <span class="font-bold">This Month</span>
                <span>{{
                  $moment(new Date()).add(-30, "days").format(" MMM YYYY")
                }}</span>
              </button>
              <button
                type="button"
                class="flex w-full px-3 py-1.5 rounded-md"
                @click="selectDateRange('today', 'Today')"
                :class="
                  main.selectedDateRange.key === 'today'
                    ? 'text-primary bg-primary-vogue'
                    : 'text-gray-500 bg-white'
                "
              >
                <span class="font-bold">Today</span>
              </button>
              <hr class="my-3" />
              <button
                type="button"
                class="flex w-full px-3 py-1.5 rounded-md"
                @click="selectedRange = 'selectdate'"
                :class="
                  selectedRange === 'selectdate'
                    ? 'text-primary bg-primary-vogue'
                    : 'text-gray-500 bg-white'
                "
              >
                <span class="font-bold">Select Date</span>
              </button>
            </div>
            <div v-if="selectedRange === 'selectdate'" class="ml-3 w-[260px]">
              <Datepicker v-model="date" inline auto-apply />
            </div>
          </div>
        </div>
        <div class="flex justify-end">
          <button
            class="border-0 text-gray-800 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-md px-3 py-2 text-center text-sm inline-flex items-center font-bold mr-3"
            @click="this.modalShow = false"
          >
            Cancel
          </button>
          <button
            class="border-0 text-white bg-primary hover:bg-opacity-80 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-md px-6 py-2 text-sm text-center inline-flex items-center font-bold"
            @click="this.modalShow = false"
          >
            Apply
          </button>
        </div>
      </div>
    </ModalContent>
  </Modal>
</template>

<script>
import { ref } from "vue";
import Datepicker from "@vuepic/vue-datepicker";
import "@vuepic/vue-datepicker/dist/main.css";
// import Modal from "~/components/Modal/index.vue";
// import ModalContent from "~/components/Modal/Content.vue";

export default {
  components: {
    Datepicker,
  },
  setup() {
    const date = ref(new Date());
    return {
      date,
    };
  },
  data() {
    return {
      modalShow: false,
      selectedRange: "lastseven",
    };
  },
  props: {
    selectedRange: { type: String, default: "lastseven" },
  },
};
</script>

<script setup>
import { mainStore } from "~/store/mainStore";
const { $moment } = useNuxtApp();
const main = mainStore();

function selectDateRange(selectedDateKey, selectedDateValue) {
  main.setSelectedDateRange({ key: selectedDateKey, value: selectedDateValue });
}
</script>
