<template>
  <div class="grid grid-cols-12">
    <div class="col-span-4 text-sm text-gray-500 font-bold p-2">
      User Name
    </div>
    <div class="col-span-3 text-sm text-gray-500 font-bold p-2">
      Email
    </div>
    <div class="col-span-2 text-sm text-gray-500 font-bold p-2">
      Role
    </div>
    <div class="col-span-2 text-sm text-gray-500 font-bold p-2">Created</div>
    <div></div>
  </div>
  <div class="gap-2">
    <slot />
  </div>
</template>

<script>
export default {};
</script>