<template>
  <div class="bg-white rounded-md mb-2">
    <div
      class="grid grid-cols-12 border-gray-200 border rounded-md items-center"
    >
      <div class="col-span-4 flex items-center text-gray-800 font-bold p-2">
        <img
          v-if="profilepict"
          class="w-10 h-10 rounded ml-3"
          :src="profilepict"
          alt="profile pict"
        />
        <img
          v-else
          class="w-10 h-10 rounded ml-3"
          src="/img/placeholder-user.svg"
          alt="profile pict"
        />

        <p class="ml-2">{{ username }}</p>
      </div>
      <div class="col-span-3 text-gray-800 p-2">
        {{ email }}
      </div>
      <div class="col-span-2 text-gray-800 p-2">
        {{ role }}
      </div>
      <div class="col-span-2">
        {{ datecreated }}
      </div>
      <div class="flex justify-end p-2">
        <Dropdown>
          <template #toggler>
            <button
              class="border border-gray-200 text-gray-800 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-md text-sm px-3 py-2 text-center inline-flex items-center"
              type="button"
            >
              Action
              <svg
                class="ml-2 w-4 h-4"
                aria-hidden="true"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M19 9l-7 7-7-7"
                ></path>
              </svg>
            </button>
          </template>
          <DropdownContent>
            <DropdownItem
              :to="
                role !== 'EMPLOYEE'
                  ? '/users/admin/' + id
                  : '/users/employee/' + id
              "
              >View Profile
            </DropdownItem>
            <DropdownItem
              :to="
                role !== 'EMPLOYEE'
                  ? '/users/admin/edit/' + id
                  : '/users/employee/edit/' + id
              "
              >Edit</DropdownItem
            >
            <hr />
            <DropdownItem
              ><span class="text-danger" @click="deleteConfirm(id)"
                >Delete</span
              ></DropdownItem
            >
          </DropdownContent>
        </Dropdown>
      </div>
    </div>
  </div>
</template>

<script setup>
import { userStore } from "~/store/userStore";
import { useAuthStore } from "~/store/auth";
const auth = useAuthStore();

const { $showToast } = useNuxtApp();
const user = userStore();
const runtimeConfig = useRuntimeConfig();

async function deleteConfirm(id, role) {
  if (confirm("Do you really want to delete ?")) {
    const userRole = auth.user.role;
    let urlPath =
      userRole === "MANAGER"
        ? "admin/user/employee/delete/"
        : "admin/user/admin/delete/";

    const { data, pending, error, refresh } = await useLazyFetch(
      runtimeConfig.apiBaseUrl + urlPath + id,
      {
        method: "DELETE",
        headers: {
          Authorization: `Bearer ${auth.token}`,
        },
        async onResponse({ request, response, options }) {
          if (response.status === 200) {
            $showToast("The data has been deleted", "success", 3000);
            await refreshNuxtData();
            // window.location.reload(true);
          } else {
            console.log(response);
          }
        },
      }
    );
  }
}
</script>

<script>
import Dropdown from "../Dropdown/index.vue";
import DropdownContent from "../Dropdown/Content.vue";
import DropdownItem from "../Dropdown/Items.vue";

export default {
  props: {
    id: Number,
    profilepict: String,
    username: String,
    email: String,
    role: String,
    datecreated: String,
  },
  components: {
    Dropdown,
    DropdownContent,
    DropdownItem,
  },
};
</script>
