<template>
  <div v-if="auth.user.role === 'ADMIN'">
    <div class="mb-5">
      <h1 class="text-3xl text-secondary font-bold mb-1">Edit Departments</h1>
      <!-- Breadcrumb -->
      <nav class="flex" aria-label="Breadcrumb">
        <ol class="inline-flex items-center space-x-1 md:space-x-2">
          <li class="inline-flex items-center">
            <NuxtLink
              to="/departments"
              class="inline-flex items-center text-sm text-gray-500 hover:text-gray-900"
            >
              Department
            </NuxtLink>
          </li>
          <li>
            <div class="flex items-center">
              <svg
                class="w-4 h-4 text-gray-400"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                  clip-rule="evenodd"
                ></path>
              </svg>
              <a
                href="#"
                class="ml-1 text-sm text-primary hover:text-secondary md:ml-2"
                >Edit Department</a
              >
            </div>
          </li>
        </ol>
      </nav>
      <!-- Breadcrumb -->
    </div>

    <form class="mb-8" @submit.prevent="submitForm" method="POST">
      <div class="bg-white rounded-md p-5 mb-6" v-if="pending">
        <SkeletonForm />
      </div>
      <div class="bg-white rounded-md p-5 mb-6" v-else>
        <div class="flex items-center justify-between mb-2">
          <h3 class="text-xl text-gray-800 font-bold">General</h3>
          <div class="text-gray-500 text-sm flex items-center">
            <img class="w-4 h-4" src="/icon/calendar.svg" alt="icon" />
            <span class="ml-1"
              >Created
              {{
                $moment(data.data.createdAt, `YYYY-MM-DD H:i:s`).format(
                  "DD MMM YYYY H:M:s"
                )
              }}</span
            >
          </div>
        </div>

        <AlertsAlert />
        <AlertsValidationAlert />

        <div class="mb-4">
          <label
            for="departmentname"
            class="block mb-2 text-sm font-medium text-gray-900"
          >
            Department Name <span class="text-red-500">*</span></label
          >
          <input
            type="text"
            id="departmentname"
            v-model="formData.name"
            class="bg-white border border-gray-200 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3"
            placeholder="Department Name"
          />
        </div>
        <div class="mb-4">
          <label
            for="Description"
            class="block mb-2 text-sm font-medium text-gray-900"
          >
            Description</label
          >
          <textarea
            id="description"
            placeholder="description"
            v-model="formData.description"
            name="description"
            class="mb-2 bg-white border border-gray-200 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3"
            rows="5"
          />
        </div>
      </div>

      <div class="flex">
        <div class="flex flex-1 justify-end">
          <NuxtLink
            to="/departments"
            class="text-gray-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-bold rounded-md text-lg px-5 py-2.5 text-center inline-flex justify-center"
          >
            Cancel
          </NuxtLink>
          <button
            class="text-white bg-primary focus:ring-4 focus:outline-none focus:ring-blue-300 font-bold rounded-md text-lg px-8 py-2.5 text-center inline-flex justify-center"
            type="submit"
          >
            <Loaders />
            <span v-if="loaderInit.display === false"> Save </span>
          </button>
        </div>
      </div>
    </form>
  </div>
  <div v-else>
    <h1>Unauthorized</h1>
  </div>
</template>

<script setup>
// import { ref } from "vue";
import { useAuthStore } from "~/store/auth";
import Datepicker from "@vuepic/vue-datepicker";
import "@vuepic/vue-datepicker/dist/main.css";
import { validationErrors } from "~/store/validationError";
import { messageAlert } from "~~/store/messageAlert";
import { loader } from "~~/store/loader";
const auth = useAuthStore();
const loaderInit = loader();
const runtimeConfig = useRuntimeConfig();
const route = useRoute();
const params = route.params;

// const date = ref();

useHead({
  title: "Hemlock - Edit Department",
  meta: [{ name: "description", content: "Departments" }],
  middleware: ["auth"],
});

definePageMeta({
  layout: "applayout",
  middleware: ["auth"],
});

let formData = {
  name: "",
  description: "",
};

// fetch data
const { data, pending, error, refresh } = await useLazyFetch(
  runtimeConfig.apiBaseUrl + "admin/department/get/" + params.id,
  {
    headers: {
      Authorization: `Bearer ${auth.token}`,
    },
    onResponse({ request, response, options }) {
      if (response.status === 200) {
        formData.name = response._data.data.name;
        formData.description = response._data.data.description;
      } else {
        messageInit.setMessageAlert(
          resData.message || response.statusText,
          "danger"
        );
      }
    },
  }
);

// form submit
async function submitForm() {
  const validationError = validationErrors();
  const messageInit = messageAlert();

  validationError.clearErrors();
  messageInit.clearMessageAlert();

  loaderInit.display = true;

  const { data, pending, error, refresh } = await useFetch(
    runtimeConfig.apiBaseUrl + "admin/department/update/" + params.id,
    {
      method: "PUT",
      body: formData,
      headers: {
        Authorization: `Bearer ${auth.token}`,
      },
      onResponse({ request, response, options }) {
        // Process the response data
        const resData = response._data;

        if (response.status === 200) {
          // successfully
          messageInit.setMessageAlert("Department has been updated", "success");
        } else {
          // errors
          if (resData.message === "validation error") {
            validationError.setErrors(resData.errors);
          } else {
            messageInit.setMessageAlert(
              resData.message || response.statusText,
              "danger"
            );
          }
        }
      },
    }
  ).then(() => {
    loaderInit.display = false;
  });
}
</script>
