<template>
  <div role="status" class="animate-pulse">
    <div class="flex">
      <div
        class="flex-1 h-12 bg-gray-200 rounded-full dark:bg-gray-300 m-3"
      ></div>
      <div class="flex-1 h-12 rounded-full dark:bg-gray-300 m-3"></div>
    </div>
    <div class="flex">
      <div class="flex-1 h-12 rounded-full dark:bg-gray-300 m-3"></div>
    </div>
    <div class="flex">
      <div class="flex-1 h-12 rounded-full dark:bg-gray-300 m-3"></div>
    </div>
    <div class="flex">
      <div
        class="flex-1 h-12 bg-gray-200 rounded-full dark:bg-gray-300 m-3"
      ></div>
      <div class="flex-1 h-12 rounded-full dark:bg-gray-300 m-3"></div>
    </div>

    <span class="sr-only">Loading...</span>
  </div>
</template>
