<template>
  <div
    role="status"
    class="rounded divide-y divide-gray-100 shadow animate-pulse dark:divide-gray-300 md:p-6 dark:border-gray-500"
  >
    <div class="flex justify-between items-center mb-5">
      <div>
        <div
          class="w-60 h-2.5 bg-gray-100 rounded-full dark:bg-gray-300 mb-2.5"
        ></div>
        <div class="w-80 h-2 bg-gray-100 rounded-full dark:bg-gray-200"></div>
      </div>
      <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-300 w-12"></div>
    </div>

    <div class="flex justify-between items-center pt-4 pb-4">
      <div>
        <div
          class="w-60 h-2.5 bg-gray-100 rounded-full dark:bg-gray-300 mb-2.5"
        ></div>
        <div class="w-80 h-2 bg-gray-100 rounded-full dark:bg-gray-200"></div>
      </div>
      <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-300 w-12"></div>
    </div>

    <div class="flex justify-between items-center pt-4 pb-4">
      <div>
        <div
          class="w-60 h-2.5 bg-gray-100 rounded-full dark:bg-gray-300 mb-2.5"
        ></div>
        <div class="w-80 h-2 bg-gray-100 rounded-full dark:bg-gray-200"></div>
      </div>
      <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-300 w-12"></div>
    </div>

    <div class="flex justify-between items-center pt-4 pb-4">
      <div>
        <div
          class="w-60 h-2.5 bg-gray-100 rounded-full dark:bg-gray-300 mb-2.5"
        ></div>
        <div class="w-80 h-2 bg-gray-100 rounded-full dark:bg-gray-200"></div>
      </div>
      <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-300 w-12"></div>
    </div>

    <span class="sr-only">Loading...</span>
  </div>
</template>
