<template>
  <Dropdown>
    <template #toggler>
      <button
        class="
          text-white
          hover:opacity-50
          focus:ring-4 focus:outline-none
          px-3
          py-3
          text-center
          inline-flex
          items-center
        "
        type="button"
      >
        <svg
          stroke="#FFF"
          stroke-width="2"
          class="w-6 h-6"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M21.3581 15.5H2.64209C4.06259 19.294 7.71059 22 12.0001 22C16.2896 22 19.9376 19.294 21.3581 15.5Z"
            fill="#3F51B5"
          />
          <path
            d="M12.0001 2C7.71059 2 4.06259 4.706 2.64209 8.5H21.3576C19.9376 4.706 16.2896 2 12.0001 2Z"
            fill="#FF3D00"
          />
          <path
            d="M22 12C22 10.7665 21.766 9.591 21.358 8.5H2.642C2.234 9.591 2 10.7665 2 12C2 13.2335 2.234 14.409 2.642 15.5H21.3575C21.766 14.409 22 13.2335 22 12Z"
            fill="#ECEFF1"
          />
        </svg>
      </button>
    </template>
    <DropdownContent>
      <DropdownItem>Dutch</DropdownItem>
      <DropdownItem>English</DropdownItem>
    </DropdownContent>
  </Dropdown>
</template>
  
<script>
import Dropdown from "../Dropdown";
import DropdownContent from "../Dropdown/Content.vue";
import DropdownItem from "../Dropdown/Items.vue";

export default {
  components: {
    Dropdown,
    DropdownContent,
    DropdownItem,
  },
};
</script>
  