<template>
  <header
    class="
      z-10
      relative
      sticky
      top-0
      px-3
      lg:px-6
      py-4
      bg-gradient-to-r
      from-secondary
      to-primary
      text-white
    "
  >
    <div class="container flex flex-wrap items-center justify-between mx-auto">
      <NuxtLink to="/">
        <img src="/img/hemlock-logo.svg" alt="logo" />
      </NuxtLink>
      <div class="flex items-center">
        <NuxtLink
          v-show="employee"
          to="/timesheets/create"
          class="
            inline-flex
            items-center
            text-secondary
            bg-white
            focus:outline-none
            hover:bg-gray-100
            focus:ring-4 focus:ring-gray-200
            rounded-md
            text-lg
            px-5
            py-2.5
            mr-2
          "
        >
          <img
            src="/icon/pencil-secondary.svg"
            alt="pencil"
            class="w-5 h-5 mr-1"
          />
          <span>Register Timesheet</span>
        </NuxtLink>
        <HeaderNavbarNotif />
        <HeaderNavbarChangeLang />
        <HeaderNavbarProfile />
      </div>
    </div>
  </header>
</template>

<script>
export default {
  props: {
    employee: Boolean,
  },
};
</script>
