<template>
  <Dropdown>
    <template #toggler>
      <button
        class="text-white hover:opacity-50 focus:ring-4 focus:outline-none px-3 py-3 text-center inline-flex items-center"
      >
        <svg
          class="w-6 h-6"
          fill="none"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="m8.0001 18h-4c-0.45416 0-0.85128-0.306-0.967-0.7452-0.11571-0.4392 0.07905-0.9012 0.47425-1.125 0.4087-0.2314 0.75736-0.5556 1.0179-0.9464 0.25017-0.3752 0.41239-0.8019 0.47486-1.2481v-2.9353c0-0.0156 3.7e-4 -0.0313 0.0011-0.0469 0.06807-1.4502 0.52949-2.8545 1.3348-4.0625 0.70046-1.0507 1.6381-1.9184 2.7341-2.5349 0.12208-0.55513 0.40049-1.0688 0.80869-1.477 0.56263-0.56261 1.3256-0.87868 2.1213-0.87868 0.7956 0 1.5587 0.31607 2.1213 0.87868 0.4082 0.4082 0.6866 0.92191 0.8087 1.477 1.096 0.61652 2.0336 1.4842 2.7341 2.5349 0.8053 1.208 1.2667 2.6123 1.3348 4.0625 7e-4 0.0156 0.0011 0.0313 0.0011 0.0469v2.9354c0.0625 0.4461 0.2247 0.8728 0.4749 1.248 0.2605 0.3908 0.6091 0.715 1.0178 0.9464 0.3952 0.2238 0.59 0.6858 0.4743 1.125s-0.5129 0.7452-0.967 0.7452h-4c0 1.0609-0.4214 2.0783-1.1716 2.8284-0.7501 0.7502-1.7675 1.1716-2.8284 1.1716s-2.0783-0.4214-2.8284-1.1716c-0.75014-0.7501-1.1716-1.7675-1.1716-2.8284zm3.2929-13.707c0.1875-0.18753 0.4419-0.29289 0.7071-0.29289s0.5196 0.10536 0.7071 0.29289c0.1875 0.18754 0.2929 0.44189 0.2929 0.70711 0 0.38669 0.2229 0.73873 0.5725 0.90403 0.9844 0.46545 1.8235 1.19 2.4275 2.096 0.5998 0.89972 0.9452 1.9447 1 3.0244v2.9756c0 0.0402 0.0024 0.0803 0.0072 0.1202 0.0803 0.663 0.2924 1.302 0.6226 1.8798h-11.26c0.33018-0.5778 0.54228-1.2168 0.62254-1.8798 0.00482-0.0399 0.00724-0.08 0.00724-0.1202v-2.9756c0.05475-1.0797 0.40019-2.1247 1-3.0244 0.60017-0.90026 1.4325-1.6214 2.4088-2.0871 0.0477-0.02139 0.0934-0.04641 0.1368-0.07471 0.1233-0.08004 0.2242-0.18418 0.2993-0.30307 0.1035-0.16374 0.1582-0.35546 0.1552-0.55075 0.0041-0.25955 0.1089-0.5076 0.2928-0.69145zm2.7071 13.707c0 0.5304-0.2107 1.0391-0.5858 1.4142s-0.8838 0.5858-1.4142 0.5858-1.0392-0.2107-1.4142-0.5858c-0.3751-0.3751-0.5858-0.8838-0.5858-1.4142h4z"
            clip-rule="evenodd"
            fill="#fff"
            fill-rule="evenodd"
          />
        </svg>
      </button>
    </template>
    <DropdownContent>
      <!-- <DropdownItem>Action 1</DropdownItem>
      <DropdownItem>Action 2</DropdownItem>
      <DropdownItem>Action 3</DropdownItem> -->
    </DropdownContent>
  </Dropdown>
</template>

<script>
import Dropdown from "../Dropdown";
import DropdownContent from "../Dropdown/Content.vue";
import DropdownItem from "../Dropdown/Items.vue";

export default {
  components: {
    Dropdown,
    DropdownContent,
    DropdownItem,
  },
};
</script>
