<template>
  <Dropdown>
    <template #toggler>
      <button
        class="ml-4 hover:opacity-50 focus:ring-4 focus:outline-none text-center inline-flex items-center"
        type="button"
      >
        <img
          v-if="auth.user.avatarUrl"
          class="w-12 h-12 rounded-full shadow-[0_0_0_3px_rgba(255,255,255,1)]"
          :src="auth.user.avatarUrl"
          alt="photo"
        />
        <img
          v-else
          class="w-12 h-12 rounded-full shadow-[0_0_0_3px_rgba(255,255,255,1)]"
          src="http://telecommsult.nl/wp-content/uploads/2016/07/brad-profile-square.jpg"
          alt="photo"
        />
      </button>
    </template>
    <DropdownContent>
      <NuxtLink to="/profile"><DropdownItem>Profile</DropdownItem></NuxtLink>
      <DropdownItem @click="logout">Logout</DropdownItem>
    </DropdownContent>
  </Dropdown>
</template>

<script>
import Dropdown from "../Dropdown";
import DropdownContent from "../Dropdown/Content.vue";
import DropdownItem from "../Dropdown/Items.vue";

export default {
  components: {
    Dropdown,
    DropdownContent,
    DropdownItem,
  },
};
</script>

<script setup>
import { useAuthStore } from "~/store/auth";
const auth = useAuthStore();
const router = useRouter();

function logout() {
  auth.logout();
  router.push({ path: "/" });
}
</script>
