<template>
  <div
    v-if="messageInit.message !== 'The URL not valid'"
    class="p-5 md:p-6 lg:p-20"
  >
    <img
      class="h-14 w-auto mb-8"
      src="/img/hemlock-logo-color.svg"
      alt="logo"
    />
    <h1 class="text-3xl text-secondary font-bold mb-4">Change Password</h1>
    <div>
      <!-- MESSAGE ALERT -->
      <AlertsAlert />

      <!-- VALIDATION ALERT -->
      <AlertsValidationAlert />

      <form class="mb-8" @submit.prevent="submitForm" method="POST">
        <div class="mb-4">
          <label
            for="email"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >
            Email</label
          >
          <input
            type="text"
            id="email"
            placeholder="Email"
            class="mb-2 bg-gray-100 border border-gray-200 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3"
            v-model="formData.email"
            readonly
            required
          />
        </div>

        <div class="mb-4">
          <label
            for="password"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >
            New Password</label
          >
          <input
            type="password"
            id="password"
            placeholder="New Password"
            class="mb-2 bg-white border border-gray-200 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3"
            v-model="formData.newPassword"
          />
        </div>
        <div class="mb-4">
          <label
            for="password"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >
            Confirm New Password</label
          >
          <input
            type="password"
            id="password"
            placeholder="Confirm New Password"
            class="mb-2 bg-white border border-gray-200 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3"
            v-model="formData.repeatPassword"
          />
        </div>

        <button
          class="mb-3 w-full text-white bg-secondary focus:ring-4 focus:outline-none focus:ring-blue-300 font-bold rounded-md text-lg px-5 py-2.5 text-center inline-flex justify-center"
        >
          Change Password
        </button>
      </form>

      <div class="flex text-sm text-gray-500">
        <div class="mr-3">&copy; ddev</div>
      </div>
    </div>
  </div>
  <div v-else class="p-5 md:p-6 lg:p-20">
    <img
      class="h-14 w-auto mb-8"
      src="/img/hemlock-logo-color.svg"
      alt="logo"
    />
    <h1 class="text-3xl text-secondary font-bold mb-4">
      {{ messageInit.message }}
    </h1>

    <NuxtLink
      to="/"
      class="mb-3 w-full text-white bg-secondary focus:ring-4 focus:outline-none focus:ring-blue-300 font-bold rounded-md text-lg px-5 py-2.5 text-center inline-flex justify-center"
    >
      Back
    </NuxtLink>
  </div>
</template>

<script setup>
import { validationErrors } from "~/store/validationError";
import { messageAlert } from "~~/store/messageAlert";
const runtimeConfig = useRuntimeConfig();
const route = useRoute();
const params = route.params;
const messageInit = messageAlert();

useHead({
  title: "Hemlock - Forgot Password",
  meta: [{ name: "description", content: "Forgot Password" }],
  script: [
    {
      src:
        "https://www.google.com/recaptcha/api.js?render=" +
        runtimeConfig.reCaptchaSiteKey,
    },
  ],
});

definePageMeta({
  layout: "default",
});

let formData = {
  id: null,
  email: null,
  key: params.key,
  newPassword: null,
  repeatPassword: null,
  reCaptchaToken: null,
};

const { data, pending, error, refresh } = await useFetch(
  runtimeConfig.apiBaseUrl +
    "forgot-password/validate/" +
    params.id +
    "/" +
    params.key,
  {
    onResponse({ request, response, options }) {
      // Process the response data
      const userData = response._data.data;
    },
    onResponseError({ request, response, options }) {
      // Handle the response errors
      const data = response._data;
    },
  }
);

if (process.client) {
  if (data && data._rawValue) {
    formData.email = data._rawValue.data.email;
    formData.id = data._rawValue.data.id;
  } else {
    messageInit.setMessageAlert(data.message, "danger");
  }
}

onMounted(() => {
  if (formData.email == null && formData.id == null) {
    // The URL not valid
    messageInit.setMessageAlert("The URL not valid", "danger");
  }
});

async function submitForm() {
  const validationError = validationErrors();
  const messageInit = messageAlert();
  const router = useRouter();

  grecaptcha.ready(function () {
    grecaptcha
      .execute(runtimeConfig.reCaptchaSiteKey, { action: "submit" })
      .then(async function (token) {
        // assign recaptcha token into form
        formData.reCaptchaToken = token;
        const { data, pending, error, refresh } = await useFetch(
          runtimeConfig.apiBaseUrl + "forgot-password/process",
          {
            method: "POST",
            body: formData,
            onResponse({ request, response, options }) {
              // Process the response data
              const resData = response._data;
              if (resData.status == true) {
                messageInit.setMessageAlert(resData.message, "success");

                setTimeout(function () {
                  router.push({ path: "/" });
                }, 2000);
              }
            },
            onResponseError({ request, response, options }) {
              // Handle the response errors
              const data = response._data;

              if (data.message == "validation error") {
                validationError.setErrors(data.errors);
              } else {
                messageInit.setMessageAlert(data.message, "danger");
              }

              return validationError.errors;
            },
          }
        ).then((data) => {
          return true;
        });
      });
  });
}
</script>
