<template>
  <div v-if="auth.user.role === 'ADMIN'">
    <div v-if="pending">
      <div class="mb-5">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
          <SkeletonWidget />
          <SkeletonWidget />
        </div>
        <div class="bg-white">
          <SkeletonTable />
        </div>
      </div>
    </div>
    <div v-else>
      <div class="mb-5">
        <div class="flex items-center">
          <div class="flex-1 mr-3">
            <h1 class="text-3xl text-secondary font-bold mb-1">
              {{ data.data.name }}
            </h1>
            <!-- Breadcrumb -->
            <nav class="flex" aria-label="Breadcrumb">
              <ol class="inline-flex items-center space-x-1 md:space-x-2">
                <li class="inline-flex items-center">
                  <NuxtLink
                    to="/worktypes"
                    class="inline-flex items-center text-sm text-gray-500 hover:text-gray-900"
                  >
                    Work Type
                  </NuxtLink>
                </li>
                <li>
                  <div class="flex items-center">
                    <svg
                      class="w-4 h-4 text-gray-400"
                      fill="currentColor"
                      viewBox="0 0 20 20"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                        clip-rule="evenodd"
                      ></path>
                    </svg>
                    <a
                      href="#"
                      class="ml-1 text-sm text-primary hover:text-secondary md:ml-2"
                    >
                      {{ data.data.name }}</a
                    >
                  </div>
                </li>
              </ol>
            </nav>
            <!-- Breadcrumb -->
          </div>
          <div>
            <NuxtLink
              class="text-white bg-primary focus:ring-4 focus:outline-none focus:ring-blue-300 font-bold rounded-md text-lg px-6 py-2.5 text-center inline-flex justify-center"
              :to="'/worktypes/edit/' + data.data.id"
            >
              Edit
            </NuxtLink>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div v-if="workType.totalHours === null">
          <SkeletonWidget />
        </div>
        <OverviewDataWidget
          v-else
          title="Total Working Hours"
          :number="null ? 0 : $hourRound(workType.totalHours)"
          unit
          unitnumber="Hours"
          iconWrapperColor="bg-warning-vogue"
          icon="/icon/clock-warning.svg"
        />
        <div v-if="workType.totalUsers === null">
          <SkeletonWidget />
        </div>
        <OverviewDataWidget
          v-else
          title="Total People"
          :number="workType.totalUsers"
          iconWrapperColor="bg-secondary-vogue"
          icon="/icon/user-secondary.svg"
        />
      </div>
      <div class="grid grid-cols-1 md:grid-cols-12 gap-6">
        <div class="col-span-9">
          <div class="bg-white rounded-md p-5 mb-6">
            <div class="flex items-center mb-3">
              <h3 class="flex-1 text-2xl text-secondary font-bold">People</h3>
            </div>
            <div class="mb-3">
              <SearchBar :onSearch="onSearchUsers" sorting />
            </div>
            <div v-if="workType.usersInWorkType === null">
              <SkeletonTable />
            </div>
            <PeopleWorkingHours v-else>
              <PeopleWorkingHoursList
                v-if="workType.usersInWorkType[0].rows.length > 0"
                v-for="user in workType.usersInWorkType[0].rows"
                :key="user.id"
                :id="user.id"
                :profilepict="user.avatarUrl"
                :username="user.firstName + ' ' + user.lastName"
                :workinghours="
                  user.totalHours === null ? 0 : $hourRound(user.totalHours)
                "
                :role="user.role"
                :increment="user.increment"
                :incrementnumber="user.incrementnumber"
              />
              <div class="bg-gray-100 p-2 rounded-md mb-2 text-center" v-else>
                No records found
              </div>
            </PeopleWorkingHours>
          </div>
        </div>

        <div class="col-span-3">
          <div class="bg-white rounded-md p-5 mb-6">
            <h5 class="text-lg text-primary font-bold">{{ data.data.name }}</h5>
            <div class="flex items-center mb-3">
              <img class="w-3 h-3 mr-1" src="/icon/calendar.svg" alt="icon" />
              <p class="text-sm text-gray-500">
                Created
                {{
                  $moment(data.data.createdAt, `YYYY-MM-DD H:i:s`).format(
                    "DD MMM YYYY"
                  )
                }}
              </p>
            </div>
            <div>
              <p class="text-gray-500">Description</p>
              <p class="text-gray-800">
                {{ data.data.description }}
              </p>
            </div>
          </div>

          <div class="bg-white rounded-md p-5 mb-6">
            <h5 class="text-lg text-secondary font-bold mb-3">Department</h5>
            <div class="grid grid-cols-1 gap-3">
              <DepartmentCard
                v-for="departmenthour in departmenthours"
                :key="departmenthour.id"
                :departmenthourname="departmenthour.departmenthourname"
                :workinghours="departmenthour.workinghours"
                :increment="departmenthour.increment"
                :incrementnumber="departmenthour.incrementnumber"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div v-else>Unauthorized</div>
</template>

<script>
// import Modal from "~/components/Modal/index.vue";
// import ModalContent from "~/components/Modal/Content.vue";

export default {
  data() {
    return {
      modalShow: false,
      // users: [
      //   {
      //     id: 1,
      //     profilepict:
      //       "https://nanny.org/wp-content/uploads/2021/11/profile-square.jpeg",
      //     username: "User Name",
      //     workinghours: "4.5",
      //     role: "Manager",
      //     increment: "up",
      //     incrementnumber: "3",
      //   },
      //   {
      //     id: 2,
      //     profilepict:
      //       "https://nanny.org/wp-content/uploads/2021/11/profile-square.jpeg",
      //     username: "User Name",
      //     workinghours: "4.5",
      //     role: "Employee",
      //     increment: "down",
      //     incrementnumber: "3",
      //   },
      //   {
      //     id: 3,
      //     profilepict: "/img/placeholder-user.svg",
      //     username: "User Name",
      //     workinghours: "4.5",
      //     role: "Employee",
      //     increment: "",
      //     incrementnumber: "0",
      //   },
      // ],
      // departmenthours: [
      //   {
      //     id: 1,
      //     departmentname: "Departname Name 1",
      //     workinghours: "4.5",
      //     incrementnumber: "3",
      //     increment: "up",
      //   },
      //   {
      //     id: 2,
      //     departmentname: "Departname Name 2",
      //     workinghours: "4.5",
      //     incrementnumber: "3",
      //     increment: "down",
      //   },
      //   {
      //     id: 3,
      //     departmentname: "Departname Name 3",
      //     workinghours: "4.5",
      //     incrementnumber: "0",
      //     increment: "",
      //   },
      // ],
    };
  },
};
</script>

<script setup>
import { ref } from "vue";
import Datepicker from "@vuepic/vue-datepicker";
import "@vuepic/vue-datepicker/dist/main.css";
import { useAuthStore } from "~/store/auth";
import { validationErrors } from "~/store/validationError";
import { messageAlert } from "~~/store/messageAlert";
import { loader } from "~~/store/loader";
import { workTypeStore } from "~/store/workTypeStore";
const auth = useAuthStore();
const loaderInit = loader();
const runtimeConfig = useRuntimeConfig();
const route = useRoute();
const params = route.params;
const workType = workTypeStore();

const date = ref();

useHead({
  title: "Hemlock - Work Type",
  meta: [{ name: "description", content: " Work Type" }],
});

definePageMeta({
  layout: "applayout",
  middleware: ["auth"],
});

// fetch
const { pending, data, error } = await useLazyFetch(
  runtimeConfig.apiBaseUrl + "admin/worktype/get/" + params.id,
  {
    headers: {
      Authorization: `Bearer ${auth.token}`,
    },
  }
);

// fetch users
await useLazyFetch(
  runtimeConfig.apiBaseUrl + "admin/worktype/users/" + params.id,
  {
    headers: {
      Authorization: `Bearer ${auth.token}`,
    },
    onResponse({ request, response, options }) {
      if (response.status === 200) {
        const data = response._data.data;
        console.log(data);

        workType.setUsersInWorkType(response._data.data);
        workType.setTotalUsers(response._data.data.totalItems);
        workType.setTotalHours(response._data.data.totalHours);
      } else {
        // $showToast("Errors", 3000);
        console.log(response);
      }
    },
  }
);

async function onSearchUsers(event) {
  const input = document.getElementsByName("searchbar");
  const searchKeyword = input[0].value;

  await useLazyFetch(
    runtimeConfig.apiBaseUrl +
      "admin/worktype/users/" +
      params.id +
      "/?search=" +
      searchKeyword,
    {
      headers: {
        Authorization: `Bearer ${auth.token}`,
      },
      onResponse({ request, response, options }) {
        console.log(response);
        if (response.status === 200) {
          workType.setUsersInWorkType(response._data.data);
        } else {
          if (response.status === 204) {
            $showToast("No recors found", "success", 3000);
          }
        }
      },
    }
  );
}
</script>
