<template>
  <div v-if="auth.user.role === 'ADMIN'">
    <div class="flex justify-between items-center mb-5">
      <h1 class="text-3xl text-secondary font-bold">Work Types</h1>
      <div class="flex">
        <DateRangePicker />
        <NuxtLink
          to="/worktypes/create"
          class="text-white bg-primary hover:bg-secondary focus:ring-4 focus:ring-blue-300 rounded-md text-md px-5 py-2.5 ml-3"
        >
          Add Work Type
        </NuxtLink>
      </div>
    </div>
    <div
      class="grid grid-cols-1 md:grid-cols-3 gap-6"
      v-if="workType.workTypeList === null"
    >
      <SkeletonWidget />
      <SkeletonWidget />
      <SkeletonWidget />
      <SkeletonWidget />
      <SkeletonWidget />
      <SkeletonWidget />
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6" v-else>
      <WorkTypesCard
        v-for="worktype in workType.workTypeList[0].rows"
        :key="worktype.id"
        :id="worktype.id"
        :worktypename="worktype.name"
        :workinghours="$hourRound(worktype.totalHours)"
        :increment="worktype.increment"
        :incrementnumber="worktype.incrementnumber"
      />
    </div>
  </div>
  <div v-else>Unauthorized</div>
</template>

<script setup>
import { ref } from "vue";
import Datepicker from "@vuepic/vue-datepicker";
import "@vuepic/vue-datepicker/dist/main.css";
import { useAuthStore } from "~/store/auth";
import { workTypeStore } from "~/store/workTypeStore";

const auth = useAuthStore();
const workType = workTypeStore();

const runtimeConfig = useRuntimeConfig();

const date = ref();

useHead({
  title: "Hemlock - Work types",
  meta: [{ name: "description", content: "Work Types" }],
});
definePageMeta({
  layout: "applayout",
  middleware: ["auth"],
});

// fetch work types
const { data, pending } = await useLazyFetch(
  runtimeConfig.apiBaseUrl + "admin/worktype/list",
  {
    headers: {
      Authorization: `Bearer ${auth.token}`,
    },
    onResponse({ request, response, options }) {
      if (response.status === 200) {
        const data = response._data.data;
        workType.setWorkTypeList(response._data.data);
      } else {
        // $showToast("Errors", 3000);
        console.log(response);
      }
    },
  }
);
</script>
