<template>
  <div class="bg-white rounded-md mb-2">
    <div
      class="grid grid-cols-6 border-gray-200 border rounded-md items-center"
    >
      <div class="col-span-2 flex items-center text-gray-800 font-bold p-2">
        {{ departmentname }}
      </div>
      <div class="text-gray-800 p-2">
        <div>
          <span class="font-bold text-md">{{ workinghours }}</span>
          <span class="text-sm">Hours</span>
        </div>
        <div class="text-sm flex items-center">
          <img
            v-show="increment === 'up'"
            class="w-4 h-4"
            src="/icon/chevron-up-xxs-success.svg"
            alt="icon up"
          />
          <img
            v-show="increment === 'down'"
            class="w-4 h-4"
            src="/icon/chevron-down-xxs-danger.svg"
            alt="icon down"
          />
          <span
            :class="
              increment === 'up'
                ? 'text-success'
                : increment === 'down'
                ? 'text-danger'
                : 'text-gray-800'
            "
            >{{ incrementnumber }}&nbsp;%</span
          >&nbsp;
          <span class="text-gray-400">from last 7 days</span>
        </div>
      </div>
      <div class="text-gray-800 p-2">
        {{ people }}
      </div>
      <div class="text-gray-800 p-2">
        {{ created }}
      </div>
      <div class="flex justify-end p-2">
        <Dropdown>
          <template #toggler>
            <button
              class="border border-gray-200 text-gray-800 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-md text-sm px-3 py-2 text-center inline-flex items-center"
              type="button"
            >
              Action
              <svg
                class="ml-2 w-4 h-4"
                aria-hidden="true"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M19 9l-7 7-7-7"
                ></path>
              </svg>
            </button>
          </template>
          <DropdownContent>
            <DropdownItem :to="'/departments/' + id">View Details</DropdownItem>
            <DropdownItem :to="'/departments/' + id">Add People</DropdownItem>
            <DropdownItem
              v-if="auth.user.role === 'ADMIN'"
              class="text-red-500"
              @click="deleteConfirm(id)"
              >Delete</DropdownItem
            >
          </DropdownContent>
        </Dropdown>
      </div>
    </div>
  </div>
</template>

<script setup>
import { departmentStore } from "~/store/departmentStore";
import { useAuthStore } from "~/store/auth";
const auth = useAuthStore();
const { $showToast } = useNuxtApp();
const department = departmentStore();
const runtimeConfig = useRuntimeConfig();

async function deleteConfirm(id) {
  if (confirm("Do you really want to delete ?")) {
    const { data, pending, error, refresh } = await useLazyFetch(
      runtimeConfig.apiBaseUrl + "admin/department/delete/" + id,
      {
        method: "DELETE",
        headers: {
          Authorization: `Bearer ${auth.token}`,
        },
        async onResponse({ request, response, options }) {
          console.log(response);
          if (response.status === 200) {
            $showToast("The data has been deleted", "success", 3000);
            await refreshNuxtData();
            // window.location.reload(true);
          } else {
            // console.log(response);
          }
        },
      }
    );
  }
}
</script>

<script>
import Dropdown from "../Dropdown";
import DropdownContent from "../Dropdown/Content.vue";
import DropdownItem from "../Dropdown/Items.vue";

function getColor(status) {
  if (status === "up") {
    return "text-black";
  }
  if (status === "down") {
    return "text-success";
  }
  return "text-danger";
}

export default {
  methods: {
    getColor,
  },
  props: {
    id: Number,
    departmentname: String,
    workinghours: String,
    incrementnumber: String,
    people: String,
    created: String,
    increment: "up" | "down",
  },
  components: {
    Dropdown,
    DropdownContent,
    DropdownItem,
  },
};
</script>
