<template>
  <div class="mb-5">
    <h1 class="text-3xl text-secondary font-bold mb-1">Edit Day Off</h1>
    <!-- Breadcrumb -->
    <nav class="flex" aria-label="Breadcrumb">
      <ol class="inline-flex items-center space-x-1 md:space-x-2">
        <li class="inline-flex items-center">
          <NuxtLink
            to="/dayoff"
            class="inline-flex items-center text-sm text-gray-500 hover:text-gray-900"
          >
            Day Off
          </NuxtLink>
        </li>
        <li>
          <div class="flex items-center">
            <svg
              class="w-4 h-4 text-gray-400"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                clip-rule="evenodd"
              ></path>
            </svg>
            <a
              href="#"
              class="ml-1 text-sm text-primary hover:text-secondary md:ml-2"
              >Edit Day Off</a
            >
          </div>
        </li>
      </ol>
    </nav>
    <!-- Breadcrumb -->
  </div>

  <div v-if="!dayOffData">
    <SkeletonForm />
  </div>
  <div v-else>
    <form class="mb-8" @submit.prevent="submitForm" method="POST">
      <div class="bg-white rounded-md mb-6">
        <div class="grid grid-cols-6">
          <div class="col-span-4 p-5">
            <div class="mb-5">
              <div class="flex items-center justify-between mb-3">
                <h3 class="text-xl text-gray-800 font-bold">General</h3>
                <div class="text-gray-500 text-sm flex items-center">
                  <img class="w-4 h-4" src="/icon/calendar.svg" alt="icon" />
                  <span class="ml-1"
                    >Created
                    {{
                      $moment(
                        dayOffData.data.createdAt,
                        `YYYY-MM-DD H:i:s`
                      ).format("DD MMM YYYY H:M:s")
                    }}</span
                  >
                </div>
              </div>

              <AlertsAlert />
              <AlertsValidationAlert />

              <div class="mb-4">
                <label
                  for="dayoffname"
                  class="block mb-2 text-sm font-medium text-gray-900"
                >
                  Day Off Name</label
                >
                <input
                  v-model="formData.name"
                  type="input"
                  id="dayoffname"
                  class="bg-white border border-gray-200 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3"
                  placeholder="Work Types Name"
                />
              </div>
              <div class="mb-4">
                <label
                  for="Description"
                  class="block mb-2 text-sm font-medium text-gray-900"
                >
                  Description
                </label>
                <textarea
                  v-model="formData.description"
                  id="description"
                  placeholder="description"
                  name="description"
                  class="mb-2 bg-white border border-gray-200 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3"
                  rows="5"
                />
              </div>
            </div>
            <div class="mb-5">
              <div class="mb-3">
                <h3 class="text-xl text-gray-800 font-bold">Date</h3>
              </div>
              <div class="grid grid-cols-2 gap-5">
                <div class="mb-4">
                  <label
                    for="dayoffname"
                    class="block mb-2 text-sm font-medium text-gray-900"
                  >
                    start Date</label
                  >
                  <Datepicker
                    v-model="startDate"
                    :enable-time-picker="false"
                  ></Datepicker>
                  <input
                    type="hidden"
                    id="startDate"
                    name="startDateInput"
                    :value="
                      $moment(
                        startDate === null
                          ? dayOffData.data.startDate
                          : startDate,
                        `DD/MM/YYYY`
                      ).format('YYYY-MM-DD')
                    "
                  />
                </div>
                <div class="mb-4">
                  <label
                    for="dayoffname"
                    class="block mb-2 text-sm font-medium text-gray-900"
                  >
                    End Date</label
                  >
                  <Datepicker
                    v-model="endDate"
                    :enable-time-picker="false"
                  ></Datepicker>
                  <input
                    type="hidden"
                    id="endDate"
                    name="endDateInput"
                    :value="
                      $moment(
                        endDate === null ? dayOffData.data.endDate : endDate,
                        `DD/MM/YYYY`
                      ).format('YYYY-MM-DD')
                    "
                  />
                </div>
              </div>
              <div class="mb-4">
                <label
                  for="dayoffname"
                  class="block mb-2 text-sm font-medium text-gray-900"
                >
                  Day Off Type</label
                >
                <select
                  v-if="!dayOffTypePending"
                  v-model="formData.dayOffTypeId"
                  id="dayOffTypeId"
                  class="bg-white border border-gray-200 text-gray-900 text-md rounded-lg focus:ring-primary-vogue focus:border-primary-vogue block py-2 w-full h-[44px]"
                >
                  <option v-for="row in dayOffTypes.data.rows" :value="row.id">
                    {{ row.name }}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div class="border-l border-gray-200 col-span-2 p-5">
            <div class="flex items-center mb-3">
              <h3 class="flex-1 text-xl text-gray-800 font-bold">
                Approval From
              </h3>
              <AssignManager />
            </div>

            <div class="grid gap-2" v-if="dayOff.userListInDayOff !== null">
              <div v-for="userIn in dayOff.userListInDayOff[0]">
                <UserList
                  :username="userIn.username"
                  :email="userIn.email"
                  :profilepict="userIn.avatarUrl"
                  pagePart="dayOffManager"
                  cta
                />
              </div>
            </div>
            <EmptyState
              v-else
              title="Assign Manager"
              description="Add your Head or Manager for approval"
            />
          </div>
        </div>
      </div>

      <div class="flex">
        <!-- <Modal>
          <template #toggler>
            <button
              class="text-danger focus:ring-4 focus:outline-none focus:ring-blue-300 font-bold rounded-md text-lg px-5 py-2.5 text-center inline-flex justify-center"
              type="button"
              @click="this.modalShow = true"
            >
              Delete
            </button>
          </template>
          <ModalContent :show="modalShow" size="small">
            <div class="p-5">
              <div class="text-center mb-5">
                <div
                  class="bg-danger-vogue rounded-full mb-3 inline-flex w-16 h-16 items-center justify-center"
                >
                  <img
                    src="/icon/exclamation-triangle-fill-danger.svg"
                    alt="warning"
                  />
                </div>
                <h3 class="text-xl text-danger mb-1 font-bold">
                  Delete Day Off Request
                </h3>
                <div class="mb-3">
                  Are you sure want to delete day off request from {username}?
                </div>
              </div>
              <div class="flex justify-end">
                <button
                  class="border border-0 text-gray-800 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-md px-3 py-2 text-center inline-flex items-center font-bold mr-3"
                  @click="this.modalShow = false"
                >
                  Cancel
                </button>
                <button
                  class="border border-0 text-white bg-danger hover:bg-opacity-80 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-md px-6 py-2 text-center inline-flex items-center font-bold"
                  @click="this.modalShow = false"
                >
                  Delete
                </button>
              </div>
            </div>
          </ModalContent>
        </Modal> -->
        <div class="flex flex-1 justify-end">
          <NuxtLink
            to="/dayoff"
            class="text-gray-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-bold rounded-md text-lg px-5 py-2.5 text-center inline-flex justify-center"
          >
            Cancel
          </NuxtLink>
          <button
            class="text-white bg-primary focus:ring-4 focus:outline-none focus:ring-blue-300 font-bold rounded-md text-lg px-8 py-2.5 text-center inline-flex justify-center"
            type="submit"
          >
            <Loaders />
            <span v-if="loaderInit.display === false"> Save </span>
          </button>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
// import Modal from "~/components/Modal/index.vue";
// import ModalContent from "~/components/Modal/Content.vue";

export default {
  data() {
    return {
      modalShow: false,
      startDate: null,
      endDate: null,
    };
  },
};
</script>

<script setup>
import { ref } from "vue";
import Datepicker from "@vuepic/vue-datepicker";
import { useAuthStore } from "~/store/auth";
import { validationErrors } from "~/store/validationError";
import { messageAlert } from "~~/store/messageAlert";
import { dayOffStore } from "~/store/dayOffStore";
import { loader } from "~~/store/loader";
const auth = useAuthStore();
const loaderInit = loader();
const runtimeConfig = useRuntimeConfig();
const dayOff = dayOffStore();
const route = useRoute();
const params = route.params;

const date = ref();

useHead({
  title: "Hemlock - Day Off",
  meta: [{ name: "description", content: "Departments" }],
});

definePageMeta({
  layout: "applayout",
});

// fetch dayoff type list
const {
  data: dayOffTypes,
  pending: dayOffTypePending,
  error,
  refresh,
} = await useLazyFetch(
  runtimeConfig.apiBaseUrl + "admin/dayofftypes/list/?size=100",
  {
    headers: {
      Authorization: `Bearer ${auth.token}`,
    },
  }
);

let formData = {
  dayOffTypeId: "",
  managerId: "",
  name: "",
  startDate: null,
  endDate: null,
  description: "",
};

// fetch day off by id
const { data: dayOffData } = await useLazyFetch(
  runtimeConfig.apiBaseUrl + "admin/dayoff/get/" + params.id,
  {
    headers: {
      Authorization: `Bearer ${auth.token}`,
    },
    async onResponse({ request, response, options }) {
      if (response.status === 200) {
        formData.dayOffTypeId = response._data.data.dayOffTypeId;
        formData.name = response._data.data.name;
        formData.description = response._data.data.description;

        // fetch manager data
        await useLazyFetch(
          runtimeConfig.apiBaseUrl +
            "admin/user/get/" +
            response._data.data.managerId,
          {
            headers: {
              Authorization: `Bearer ${auth.token}`,
            },
            onResponse({ request, response, options }) {
              if (response.status === 200) {
                const resData = response._data.data;
                const manager = [
                  {
                    id: resData.id,
                    username: resData.firstName + " " + resData.lastName,
                    email: resData.email,
                    avatarUrl: resData.avatarUrl,
                  },
                ];

                dayOff.setUserListInDayOff(manager);
              } else {
                console.log(response.statusText);
              }
            },
          }
        );
      } else {
        console.log(response.statusText);
      }
    },
  }
);

// form submit
const startDateInput = document.getElementsByName("startDateInput");
const endDateInput = document.getElementsByName("endDateInput");

async function submitForm() {
  const validationError = validationErrors();
  const messageInit = messageAlert();

  // get date input
  formData.startDate = startDateInput[0] ? startDateInput[0].value : null;
  formData.endDate = endDateInput[0] ? endDateInput[0].value : null;

  // get manager ids
  const managers = dayOff.userListInDayOff;

  validationError.clearErrors();
  messageInit.clearMessageAlert();

  loaderInit.display = true;

  if (managers === null) {
    messageInit.setMessageAlert("Please assign the manager", "danger");
    window.scrollTo(0, 0);
    loaderInit.display = false;
  } else {
    formData.managerId = managers[0][0].id;
    const { data, pending, error, refresh } = await useFetch(
      runtimeConfig.apiBaseUrl + "admin/dayoff/update/" + params.id,
      {
        method: "PUT",
        body: formData,
        headers: {
          Authorization: `Bearer ${auth.token}`,
        },
        onResponse({ request, response, options }) {
          // Process the response data
          const resData = response._data;

          if (response.status === 200) {
            // successfully
            messageInit.setMessageAlert("Dayoff has been created", "success");

            window.scrollTo(0, 0);
          } else {
            // errors
            if (resData.message === "validation error") {
              validationError.setErrors(resData.errors);
            } else {
              messageInit.setMessageAlert(
                resData.message || response.statusText,
                "danger"
              );
            }
            window.scrollTo(0, 0);
          }
          loaderInit.display = false;
        },
      }
    );
  }
}
</script>
