<template>
  <div class="flex status-info activity">
    <div
      class="
        inline-flex
        w-3
        h-3
        rounded-full
        mt-1
        mr-2
        relative
        z-2
        bg-gray-400
      "
    ></div>
    <div class="flex-1">
      <p class="text-gray-800" v-html="text" />
      <p class="text-gray-500 text-sm" >{{ timestamp }}</p>
    </div>
  </div>
</template>
    
<script>
export default {
  props: {
    text: { type: String, default: "Activity Users" },
    timestamp: { type: String, default: "17.45 - 12 Sept 2022" },
  },
};
</script>
    