<script>
export default {
  props: {
    month: String,
    company: Boolean,
  },
};
</script>

<template>
  <div class="bg-white rounded-md overflow-hidden mb-6">
    <div
      class="flex items-center px-5 py-3"
      :class="[company ? 'bg-secondary' : 'bg-primary']"
    >
      <img
        v-if="company"
        class="w-8 h-8 mr-3"
        src="/img/company-holiday.svg"
        alt="icon company holiday"
      />
      <img
        v-else
        class="w-8 h-8 mr-3"
        src="/img/day-off.svg"
        alt="icon day off"
      />
      <h5 class="text-lg font-bold tracking-tight text-white">
        {{ company ? "Company Holiday" : "Day Off" }}
      </h5>
    </div>

    <div class="flex items-center px-5 py-3">
      <div class="flex-1 text-gray-700">
        {{ month }}
      </div>
      <div>
        <button
          type="button"
          class="border border-gray-200 bg-white hover:bg-gray-50 focus:ring-4 focus:outline-none rounded-md p-1 text-center inline-flex items-center mr-2"
        >
          <svg
            class="w-5 h-5"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M14.7071 8.70711C15.0976 8.31658 15.0976 7.68342 14.7071 7.29289C14.3166 6.90237 13.6834 6.90237 13.2929 7.29289L9.29289 11.2929C8.90237 11.6834 8.90237 12.3166 9.29289 12.7071L13.2929 16.7071C13.6834 17.0976 14.3166 17.0976 14.7071 16.7071C15.0976 16.3166 15.0976 15.6834 14.7071 15.2929L11.4142 12L14.7071 8.70711Z"
            />
          </svg>
        </button>
        <button
          type="button"
          class="border border-gray-200 bg-white hover:bg-gray-50 focus:ring-4 focus:outline-none rounded-md p-1 text-center inline-flex items-center"
        >
          <svg
            class="w-5 h-5"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M9.29289 15.2929C8.90237 15.6834 8.90237 16.3166 9.29289 16.7071C9.68342 17.0976 10.3166 17.0976 10.7071 16.7071L14.7071 12.7071C15.0976 12.3166 15.0976 11.6834 14.7071 11.2929L10.7071 7.29289C10.3166 6.90237 9.68342 6.90237 9.29289 7.29289C8.90237 7.68342 8.90237 8.31658 9.29289 8.70711L12.5858 12L9.29289 15.2929Z"
            />
          </svg>
        </button>
      </div>
    </div>

    <div class="px-5">
      <div class="flex items-center py-3 border-t border-gray-200">
        <!-- <div class="text-sm flex items-center justify-center text-white rounded-full w-8 h-8 mr-2"
                    :class="[company ? 'bg-secondary' : 'bg-primary']">
                    12
                </div>
                <div class="flex-1 text-gray-700">
                    Independence Day
                </div> -->
      </div>
    </div>
  </div>
</template>
