<template>
  <div class="bg-white rounded-md mb-6">
    <div class="flex items-center p-3 lg:p-5">
      <div class="flex-1">
        <p class="text-sm text-gray-600">{{ title }}</p>
        <div class="flex items-end text-gray-800">
          <h3 class="text-2xl font-bold">{{ number }}</h3>
          <p v-show="unit" class="text-gray-400 ml-1">{{ unitnumber }}</p>
        </div>
      </div>
      <div
        v-bind="$attrs"
        :class="
          iconWrapperColor +
          ' ml-3 w-12 h-12 rounded-full inline-flex items-center justify-center'
        "
      >
        <img class="w-6 h-6" :src="icon" alt="icon img" />
      </div>
    </div>
  </div>
</template>

<script>
import { loader } from "~~/store/loader";

export default {
  props: {
    title: String,
    number: Number,
    unit: Boolean,
    unitnumber: String,
    iconWrapperColor: String,
    icon: String,
  },
};
</script>
