<template>
  <form @submit.prevent="onSearch">
    <label for="search-bar" class="mb-2 text-sm text-gray-800 sr-only"
      >Search</label
    >
    <div class="flex items-center bg-secondary-vogue rounded-md">
      <div class="flex items-center pl-3 pointer-events-none">
        <svg
          aria-hidden="true"
          class="w-5 h-5 text-gray-500"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
          ></path>
        </svg>
      </div>
      <input
        type="text"
        id="default-search"
        name="searchbar"
        value=""
        class="flex-1 border-0 bg-transparent focus:border-0 focus:outline-transparent focus:drop-shadow-none focus:ring-0 px-2.5 py-2.5"
        placeholder="Search"
      />
      <Dropdown v-show="sorting">
        <template #toggler>
          <button
            class="border border-gray-200 text-gray-800 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-md text-sm px-3 py-2 text-center inline-flex items-center m-1"
            type="button"
          >
            A-Z
            <svg
              class="ml-2 w-4 h-4"
              aria-hidden="true"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M19 9l-7 7-7-7"
              ></path>
            </svg>
          </button>
        </template>
        <DropdownContent>
          <DropdownItem>A-Z</DropdownItem>
          <DropdownItem>Lowest Working Hours</DropdownItem>
          <DropdownItem>Highest Working Hours</DropdownItem>
          <DropdownItem>Role</DropdownItem>
        </DropdownContent>
      </Dropdown>
    </div>
  </form>
</template>

<script>
import Dropdown from "./Dropdown";
import DropdownContent from "./Dropdown/Content.vue";
import DropdownItem from "./Dropdown/Items.vue";

export default {
  components: {
    Dropdown,
    DropdownContent,
    DropdownItem,
  },
  // data() {
  //   return {
  //     collapseuser: false,
  //   };
  // },
  props: {
    sorting: Boolean,
    onSearch: Function,
  },
};
</script>
