<template>
  <nav class="sidebar h-full pt-[82px] fixed left-0 top-0 w-[260px] py-5 bg-white">
    <ul class="pr-3 py-3">
      <li v-show="auth.role !== 'EMPLOYEE'">
        <NuxtLink
          to="/overview"
          class="flex items-center font-bold py-3 pl-4 pr-2 fill-gray-400 text-gray-400 rounded-r-md border-0 hover:text-primary hover:bg-primary-vogue hover:fill-primary"
        >
          <svg
            class="w-5 h-5"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M10.7196 1.46361C11.5258 0.791836 12.7042 0.861717 13.4263 1.59791L13.5364 1.71968L22.3047 9.04155C22.709 9.52678 22.9488 10.1258 22.9927 10.7523L23 10.9621V22C23 22.5128 22.614 22.9355 22.1166 22.9933L22 23H15C14.4872 23 14.0645 22.614 14.0067 22.1166L14 22V16C14 15.4872 13.614 15.0645 13.1166 15.0067L13 15H11C10.4872 15 10.0645 15.386 10.0067 15.8834L10 16V22C10 22.5128 9.61396 22.9355 9.11662 22.9933L9 23H2C1.48716 23 1.06449 22.614 1.00673 22.1166L1 22V10.9621C1 10.3305 1.1993 9.71683 1.56669 9.20739L1.69534 9.04155L10.4636 1.71968C10.541 1.62676 10.6267 1.54105 10.7196 1.46361ZM12 3.00005L3.23178 10.3219C3.11197 10.4657 3.03552 10.6394 3.00973 10.8229L3 10.9621V21H8V16C8 14.4023 9.24892 13.0963 10.8237 13.0051L11 13H13C14.5977 13 15.9037 14.2489 15.9949 15.8237L16 16V21H21V10.9621C21 10.775 20.9475 10.5925 20.8498 10.435L20.7682 10.3219L12 3.00005Z"
              clip-rule="evenodd"
              fill-rule="evenodd"
            />
          </svg>

          <span class="ml-2">Overview</span>
        </NuxtLink>
      </li>
      <li v-show="auth.role === 'EMPLOYEE'">
        <NuxtLink
          to="/overview-employee"
          class="flex items-center font-bold py-3 pl-4 pr-2 fill-gray-400 text-gray-400 rounded-r-md border-0 hover:text-primary hover:bg-primary-vogue hover:fill-primary"
        >
          <svg
            class="w-5 h-5"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M10.7196 1.46361C11.5258 0.791836 12.7042 0.861717 13.4263 1.59791L13.5364 1.71968L22.3047 9.04155C22.709 9.52678 22.9488 10.1258 22.9927 10.7523L23 10.9621V22C23 22.5128 22.614 22.9355 22.1166 22.9933L22 23H15C14.4872 23 14.0645 22.614 14.0067 22.1166L14 22V16C14 15.4872 13.614 15.0645 13.1166 15.0067L13 15H11C10.4872 15 10.0645 15.386 10.0067 15.8834L10 16V22C10 22.5128 9.61396 22.9355 9.11662 22.9933L9 23H2C1.48716 23 1.06449 22.614 1.00673 22.1166L1 22V10.9621C1 10.3305 1.1993 9.71683 1.56669 9.20739L1.69534 9.04155L10.4636 1.71968C10.541 1.62676 10.6267 1.54105 10.7196 1.46361ZM12 3.00005L3.23178 10.3219C3.11197 10.4657 3.03552 10.6394 3.00973 10.8229L3 10.9621V21H8V16C8 14.4023 9.24892 13.0963 10.8237 13.0051L11 13H13C14.5977 13 15.9037 14.2489 15.9949 15.8237L16 16V21H21V10.9621C21 10.775 20.9475 10.5925 20.8498 10.435L20.7682 10.3219L12 3.00005Z"
              clip-rule="evenodd"
              fill-rule="evenodd"
            />
          </svg>

          <span class="ml-2">Overview</span>
        </NuxtLink>
      </li>
      <li v-show="auth.role !== 'EMPLOYEE'">
        <NuxtLink
          to="/departments"
          class="flex items-center font-bold py-3 pl-4 pr-2 fill-gray-400 text-gray-400 rounded-r-md border-0 hover:text-primary hover:bg-primary-vogue hover:fill-primary"
        >
          <svg
            class="w-5 h-5"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="m20 10h-7v-3h2c0.6 0 1-0.4 1-1v-4c0-0.6-0.4-1-1-1h-6c-0.6 0-1 0.4-1 1v4c0 0.6 0.4 1 1 1h2v3h-7c-1.1 0-2 0.9-2 2v3h2v-3h7v3h2v-3h7v3h2v-3c0-1.1-0.9-2-2-2zm-10-5v-2h4v2h-4zm-5 12h-4c-0.6 0-1 0.4-1 1v4c0 0.6 0.4 1 1 1h4c0.6 0 1-0.4 1-1v-4c0-0.6-0.4-1-1-1zm-1 4h-2v-2h2v2zm19-4h-4c-0.6 0-1 0.4-1 1v4c0 0.6 0.4 1 1 1h4c0.6 0 1-0.4 1-1v-4c0-0.6-0.4-1-1-1zm-1 4h-2v-2h2v2zm-8-4h-4c-0.6 0-1 0.4-1 1v4c0 0.6 0.4 1 1 1h4c0.6 0 1-0.4 1-1v-4c0-0.6-0.4-1-1-1zm-1 4h-2v-2h2v2z"
            />
          </svg>
          <span class="ml-2">Departments</span>
        </NuxtLink>
      </li>
      <li v-show="auth.role === 'ADMIN'">
        <NuxtLink
          to="/worktypes"
          class="flex items-center font-bold py-3 pl-4 pr-2 fill-gray-400 text-gray-400 rounded-r-md border-0 hover:text-primary hover:bg-primary-vogue hover:fill-primary"
        >
          <svg
            class="w-5 h-5"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="m20 8v1c0 0.55228-0.4477 1-1 1s-1-0.44772-1-1v-1h-12v1c0 0.55228-0.44772 1-1 1s-1-0.44772-1-1v-1h-1c-0.55228 0-1 0.44772-1 1v10c0 0.5523 0.44772 1 1 1h18c0.5523 0 1-0.4477 1-1v-10c0-0.55228-0.4477-1-1-1h-1zm-13-2v-2c0-1.1046 0.89543-2 2-2h6c1.1046 0 2 0.89543 2 2v2h4c1.6569 0 3 1.3432 3 3v10c0 1.6569-1.3431 3-3 3h-18c-1.6568 0-3-1.3431-3-3v-10c0-1.6568 1.3432-3 3-3h4zm2 0h6v-2h-6v2z"
              clip-rule="evenodd"
              fill-rule="evenodd"
            />
          </svg>
          <span class="ml-2">Work Types</span>
        </NuxtLink>
      </li>
      <li v-show="auth.role !== 'EMPLOYEE'">
        <button
          @click="collapseuser = !collapseuser"
          class="flex w-full items-center font-bold py-3 pl-4 pr-2 fill-gray-400 text-gray-400 rounded-r-md border-0 hover:text-primary hover:bg-primary-vogue hover:fill-primary"
        >
          <svg
            class="w-5 h-5"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="m12 3c-2.2091 0-4 1.7909-4 4s1.7909 4 4 4c2.2091 0 4-1.7909 4-4s-1.7909-4-4-4zm0-2c3.3137 0 6 2.6863 6 6 0 3.3137-2.6863 6-6 6-3.3137 0-6-2.6863-6-6 0-3.3137 2.6863-6 6-6zm-8 21.099c0 0.5523-0.44772 1-1 1s-1-0.4477-1-1v-2.099c0-2.7614 2.2386-5 5-5h10.001c2.7614 0 5 2.2386 5 5v2.099c0 0.5523-0.4477 1-1 1s-1-0.4477-1-1v-2.099c0-1.6569-1.3431-3-3-3h-10.001c-1.6568 0-3 1.3431-3 3v2.099z"
              clip-rule="evenodd"
              fill-rule="evenodd"
            />
          </svg>
          <span class="flex-1 font-bold text-left ml-2">Users</span>
          <svg
            class="w-4 h-4 shrink-0"
            :class="[collapseuser ? 'rotate-180' : 'rotate-0']"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
              clip-rule="evenodd"
            />
          </svg>
        </button>
        <div v-show="collapseuser">
          <NuxtLink
            v-show="auth.role !== 'MANAGER'"
            to="/users/admin"
            class="flex items-center py-3 pl-11 pr-2 text-gray-400 rounded border-0 hover:text-primary hover:bg-primary-vogue"
          >
            Admin
          </NuxtLink>
          <NuxtLink
            to="/users/employee"
            class="flex items-center py-3 pl-11 pr-2 text-gray-400 rounded border-0 hover:text-primary hover:bg-primary-vogue"
          >
            Employee
          </NuxtLink>
        </div>
      </li>
      <li>
        <NuxtLink
          to="/projects"
          class="flex items-center font-bold py-3 pl-4 pr-2 fill-gray-400 text-gray-400 rounded-r-md border-0 hover:text-primary hover:bg-primary-vogue hover:fill-primary"
        >
          <svg
            class="w-5 h-5"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="m21.168 10h0.5c1.1045 0 2 0.8954 2 2 0 0.2641-0.0523 0.5255-0.1539 0.7692l-3.3333 8c-0.3105 0.7453-1.0388 1.2308-1.8462 1.2308h-13.966c-1.5353 0-2.8228-1.1591-2.9835-2.6859l-1.3684-13c-0.17345-1.6478 1.0217-3.1241 2.6695-3.2976 0.10432-0.01098 0.20915-0.01648 0.31405-0.01648h5.9469c0.43043 0 0.81257 0.27543 0.94868 0.68377l0.7721 2.3162h8.7344c1.1046 0 2 0.89543 2 2 0 0.08293-0.0051 0.16578-0.0154 0.24807l-0.219 1.7519zm-2.0156 0 0.25-2h-10.176l-1-3h-5.2261c-0.03496 0-0.06991 0.00183-0.10468 0.00549-0.54925 0.05782-0.94764 0.54994-0.88982 1.0992l1.2676 12.042 2.8817-6.9161c0.31054-0.7453 1.0388-1.2308 1.8462-1.2308h11.151zm-11.151 2-3.3333 8h13.667l3.3334-8h-13.667z"
              clip-rule="evenodd"
              fill-rule="evenodd"
            />
          </svg>
          <span class="ml-2">Projects</span>
        </NuxtLink>
      </li>
      <li>
        <NuxtLink
          to="/timesheets"
          class="flex items-center font-bold py-3 pl-4 pr-2 fill-gray-400 text-gray-400 rounded-r-md border-0 hover:text-primary hover:bg-primary-vogue hover:fill-primary"
        >
          <svg
            class="w-5 h-5"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="m13 11h3c0.5523 0 1 0.4477 1 1s-0.4477 1-1 1h-4c-0.5523 0-1-0.4477-1-1v-6c0-0.55228 0.4477-1 1-1s1 0.44772 1 1v5zm-1 13c-6.6274 0-12-5.3726-12-12 0-6.6274 5.3726-12 12-12 6.6274 0 12 5.3726 12 12 0 6.6274-5.3726 12-12 12zm0-2c5.5228 0 10-4.4772 10-10 0-5.5228-4.4772-10-10-10-5.5228 0-10 4.4772-10 10 0 5.5228 4.4772 10 10 10z"
              clip-rule="evenodd"
              fill-rule="evenodd"
            />
          </svg>
          <span class="ml-2">Timesheets</span>
        </NuxtLink>
      </li>
      <li>
        <NuxtLink
          to="/dayoff"
          class="flex items-center font-bold py-3 pl-4 pr-2 fill-gray-400 text-gray-400 rounded-r-md border-0 hover:text-primary hover:bg-primary-vogue hover:fill-primary"
        >
          <svg
            class="w-5 h-5"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="m21 6v-1c0-0.55228-0.4477-1-1-1h-16c-0.55228 0-1 0.44772-1 1v1h18zm0 2h-18v13c0 0.5523 0.44772 1 1 1h16c0.5523 0 1-0.4477 1-1v-13zm-2-6h1c1.6569 0 3 1.3432 3 3v16c0 1.6569-1.3431 3-3 3h-16c-1.6568 0-3-1.3431-3-3v-16c0-1.6568 1.3432-3 3-3h1v-1c0-0.55228 0.44772-1 1-1s1 0.44772 1 1v1h10v-1c0-0.55228 0.4477-1 1-1s1 0.44772 1 1v1zm-13 16c0.55228 0 1 0.4477 1 1s-0.44772 1-1 1-1-0.4477-1-1 0.44772-1 1-1zm4 0c0.5523 0 1 0.4477 1 1s-0.4477 1-1 1c-0.55229 0-1-0.4477-1-1s0.44771-1 1-1zm4 0c0.5523 0 1 0.4477 1 1s-0.4477 1-1 1-1-0.4477-1-1 0.4477-1 1-1zm-8-4c0.55228 0 1 0.4477 1 1s-0.44772 1-1 1-1-0.4477-1-1 0.44772-1 1-1zm4 0c0.5523 0 1 0.4477 1 1s-0.4477 1-1 1c-0.55229 0-1-0.4477-1-1s0.44771-1 1-1zm4 0c0.5523 0 1 0.4477 1 1s-0.4477 1-1 1-1-0.4477-1-1 0.4477-1 1-1zm-8-4c0.55228 0 1 0.4477 1 1s-0.44772 1-1 1-1-0.4477-1-1 0.44772-1 1-1zm4 0c0.5523 0 1 0.4477 1 1s-0.4477 1-1 1c-0.55229 0-1-0.4477-1-1s0.44771-1 1-1zm4 0c0.5523 0 1 0.4477 1 1s-0.4477 1-1 1-1-0.4477-1-1 0.4477-1 1-1zm4 8c0.5523 0 1 0.4477 1 1s-0.4477 1-1 1-1-0.4477-1-1 0.4477-1 1-1zm0-4c0.5523 0 1 0.4477 1 1s-0.4477 1-1 1-1-0.4477-1-1 0.4477-1 1-1zm0-4c0.5523 0 1 0.4477 1 1s-0.4477 1-1 1-1-0.4477-1-1 0.4477-1 1-1z"
              clip-rule="evenodd"
              fill-rule="evenodd"
            />
          </svg>
          <span class="ml-2">Day Off</span>
        </NuxtLink>
      </li>
    </ul>
  </nav>
</template>

<script setup>
import { useAuthStore } from "~/store/auth";
const auth = useAuthStore().user;
</script>

<script>
export default {
  data() {
    return {
      collapseuser: false,
    };
  },
};
</script>
