<template>
  <div class="flex status-info">
    <div :class="(iconbg + ' inline-flex items-center justify-center w-10 h-10 rounded-full mr-3 relative z-2')">
      <img :src="icon" class="w-5 h-5" alt="icon" />
    </div>
    <div class="flex-1">
      <p class="text-gray-800">{{ title }}</p>
      <p class="text-gray-500 text-sm">{{ description }}</p>
    </div>
  </div>
</template>
  
  <script>
export default {
  props: {
    icon: { type: String, default: "/icon/info-circle.svg" },
    iconbg: { type: String, default: "bg-gray-100" },
    title: { type: String, default: "Title" },
    description: { type: String, default: "Description" },
  },
};
</script>
  