<template>
  <div class="flex">
    <div class="flex-1 text-sm text-gray-500 font-bold p-2">Project Name</div>
    <div class="flex-1 text-sm text-gray-500 font-bold p-2">Project Code</div>
    <div class="w-[140px] text-sm text-gray-500 font-bold p-2">
      Date Created
    </div>
    <div class="w-[120px] text-sm text-gray-500 font-bold p-2">
      Working Hours
    </div>
    <div class="w-[120px] text-sm text-gray-500 font-bold p-2">Status</div>
    <div class="w-[120px] text-sm text-gray-500 font-bold p-2">
      Sales Status
    </div>
    <div class="w-[120px] text-sm text-gray-500 font-bold p-2"></div>
  </div>
  <div class="gap-2">
    <slot />
  </div>
</template>
