<template>
  <div class="bg-white rounded-md mb-2">
    <div class="flex border rounded-md items-center">
      <div class="flex-1 text-gray-800 font-bold p-2">
        {{ projectname }}
      </div>
      <div class="flex-1 text-gray-800 p-2">
        {{ code }}
      </div>
      <div class="w-[140px] text-gray-800 p-2">
        {{ created }}
      </div>
      <div class="w-[120px] text-gray-800 p-2">
        <div>
          <span class="font-bold text-lg">{{ workinghours }}</span
          >&nbsp;
          <span class="text-sm">Hours</span>
        </div>
      </div>
      <div class="w-[120px] text-gray-800 p-2">
        <div
          v-if="status === 'OPEN'"
          class="inline-flex bg-success-vogue text-success text-sm px-2.5 py-0.5 rounded items-center"
        >
          <img
            class="mr-1 w-3 h-3"
            src="/icon/lock-open-success.svg"
            alt="icon-open"
          />
          <span>Open</span>
        </div>
        <div
          v-else-if="status === 'LOCKED'"
          class="inline-flex bg-danger-vogue text-danger text-sm px-2.5 py-0.5 rounded items-center"
        >
          <img
            class="w-3 h-3 mr-1"
            src="/icon/lock-danger.svg"
            alt="icon-locked"
          />
          <span>Locked</span>
        </div>
        <div
          v-else-if="status === 'CLOSED'"
          class="inline-flex bg-gray-100 text-gray-600 text-sm px-2.5 py-0.5 rounded items-center"
        >
          <img
            class="w-3 h-3 mr-1"
            src="/icon/blocked-circle-gray.svg"
            alt="icon-closed"
          /><span>Closed</span>
        </div>
      </div>
      <div class="w-[120px] text-gray-800 p-2">
        <div
          v-if="salesstatus === 'OFFER'"
          class="inline-flex bg-secondary text-white text-sm px-2.5 py-0.5 rounded items-center"
        >
          Offer
        </div>
        <div
          v-else-if="salesstatus === 'PREPERATION'"
          class="inline-flex bg-sky-500 text-white text-sm px-2.5 py-0.5 rounded items-center"
        >
          Preparation
        </div>
        <div
          v-else-if="salesstatus === 'IN_PRODUCTION'"
          class="inline-flex bg-sky-500 text-white text-sm px-2.5 py-0.5 rounded items-center"
        >
          In Production
        </div>
        <div
          v-else-if="salesstatus === 'INSTALATION'"
          class="inline-flex bg-sky-500 text-white text-sm px-2.5 py-0.5 rounded items-center"
        >
          Instalation
        </div>
        <div
          v-else-if="salesstatus === 'AFTER_SALES'"
          class="inline-flex bg-warning text-white text-sm px-2.5 py-0.5 rounded items-center"
        >
          After Sales
        </div>
        <div
          v-else-if="salesstatus === 'FINISHED'"
          class="inline-flex bg-success text-white text-sm px-2.5 py-0.5 rounded items-center"
        >
          Finished
        </div>
      </div>

      <div class="w-[120px] flex justify-end p-2">
        <Dropdown>
          <template #toggler>
            <button
              class="border border-gray-200 text-gray-800 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-md text-sm px-3 py-2 text-center inline-flex items-center"
              type="button"
            >
              Action
              <svg
                class="ml-2 w-4 h-4"
                aria-hidden="true"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M19 9l-7 7-7-7"
                ></path>
              </svg>
            </button>
          </template>
          <DropdownContent>
            <DropdownItem :to="'/projects/' + id">View Details</DropdownItem>
            <DropdownItem
              v-if="auth.user.role === 'ADMIN'"
              :to="'/projects/edit/' + id"
              >Edit</DropdownItem
            >
            <hr />
            <DropdownItem
              v-if="auth.user.role === 'ADMIN'"
              class="text-danger"
              @click="deleteConfirm(id)"
              >Delete</DropdownItem
            >
          </DropdownContent>
        </Dropdown>
      </div>
    </div>
  </div>
</template>

<script>
import Dropdown from "../Dropdown";
import DropdownContent from "../Dropdown/Content.vue";
import DropdownItem from "../Dropdown/Items.vue";

function getColor(status) {
  if (status === "up") {
    return "text-black";
  }
  if (status === "down") {
    return "text-success";
  }
  return "text-danger";
}

export default {
  methods: {
    getColor,
  },
  props: {
    projectname: { type: String },
    id: { type: Number },
    code: { type: String },
    workinghours: { type: String, default: "0" },
    created: { type: String },
    salesstatus: { type: String },
    status: { type: String },
  },
  components: {
    Dropdown,
    DropdownContent,
    DropdownItem,
  },
};
</script>

<script setup>
import { projectStore } from "~/store/projectStore";
import { useAuthStore } from "~/store/auth";
const auth = useAuthStore();
const { $showToast } = useNuxtApp();
const project = projectStore();
const runtimeConfig = useRuntimeConfig();

async function deleteConfirm(id) {
  if (confirm("Do you really want to delete ?")) {
    const { data, pending, error, refresh } = await useLazyFetch(
      runtimeConfig.apiBaseUrl + "admin/project/delete/" + id,
      {
        method: "DELETE",
        headers: {
          Authorization: `Bearer ${auth.token}`,
        },
        async onResponse({ request, response, options }) {
          console.log(response);
          if (response.status === 200) {
            $showToast("The data has been deleted", "success", 3000);
            await refreshNuxtData();
            // window.location.reload(true);
          } else {
            // console.log(response);
          }
        },
      }
    );
  }
}
</script>
