<template>
  <div class="bg-white rounded-md p-5">
    <div class="flex items-center">
      <h4 class="text-lg font-bold text-gray-800 flex-1">{{ worktypename }}</h4>
      <div>
        <Dropdown>
          <template #toggler>
            <button
              class="border border-gray-200 text-gray-800 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-md text-sm px-2 py-2 text-center inline-flex items-center"
              type="button"
            >
              <img src="/icon/ellipsis.svg" alt="icon" class="w-3 h-3" />
            </button>
          </template>
          <DropdownContent>
            <DropdownItem :to="'/worktypes/' + id">View Details</DropdownItem>
            <DropdownItem :to="'/worktypes/edit/' + id">Edit</DropdownItem>
            <hr />
            <DropdownItem @click="deleteConfirm(id)">
              <span class="text-danger">Delete</span>
            </DropdownItem>
          </DropdownContent>
        </Dropdown>
      </div>
    </div>
    <div class="">
      <div class="flex items-end text-primary">
        <h2 class="text-3xl font-bold">{{ workinghours }}</h2>
        <p class="ml-2">hours</p>
      </div>
      <div class="text-sm flex items-center">
        <img
          v-show="increment === 'up'"
          class="w-4 h-4"
          src="/icon/chevron-up-xxs-success.svg"
          alt="icon up"
        />
        <img
          v-show="increment === 'down'"
          class="w-4 h-4"
          src="/icon/chevron-down-xxs-danger.svg"
          alt="icon down"
        />
        <span
          :class="
            increment === 'up'
              ? 'text-success'
              : increment === 'down'
              ? 'text-danger'
              : 'text-gray-800'
          "
          >{{ incrementnumber }}%</span
        >&nbsp;
        <span class="text-gray-400">from last 7 days</span>
      </div>
    </div>
  </div>
</template>

<script>
import Dropdown from "../Dropdown/index.vue";
import DropdownContent from "../Dropdown/Content.vue";
import DropdownItem from "../Dropdown/Items.vue";

function getColor(status) {
  if (status === "up") {
    return "text-black";
  }
  if (status === "down") {
    return "text-success";
  }
  return "text-danger";
}

export default {
  props: {
    id: { type: Number },
    worktypename: {
      type: String,
    },
    workinghours: { type: Number, default: 0 },
    incrementnumber: { type: String, default: "0" },
    increment: "up" | "down",
  },
  components: {
    Dropdown,
    DropdownContent,
    DropdownItem,
  },
  methods: {
    getColor,
  },
};
</script>

<script setup>
import { useAuthStore } from "~/store/auth";
const auth = useAuthStore();
const { $showToast } = useNuxtApp();
const runtimeConfig = useRuntimeConfig();

async function deleteConfirm(id) {
  if (confirm("Do you really want to delete ?")) {
    const { data, pending, error, refresh } = await useLazyFetch(
      runtimeConfig.apiBaseUrl + "admin/worktype/delete/" + id,
      {
        method: "DELETE",
        headers: {
          Authorization: `Bearer ${auth.token}`,
        },
        async onResponse({ request, response, options }) {
          if (response.status === 200) {
            $showToast("The data has been deleted", "success", 3000);
            await refreshNuxtData();
            // window.location.reload(true);
          } else {
            // console.log(response);
          }
        },
      }
    );
  }
}
</script>
