<template>
  <NuxtLink to="/departments/[id]">
    <div class="bg-white border border-gray-200 rounded-md px-3 py-2.5">
      <div class="flex items-center">
        <h5 class="text-md font-bold text-gray-800 flex-1">
          {{ departmentname }}
        </h5>
      </div>
      <div class="">
        <div class="flex items-end text-gray-800">
          <h2 class="font-bold">{{ workinghours }}</h2>
          <p class="ml-2">hours</p>
        </div>
        <div class="text-sm flex items-center">
          <img
            v-show="increment === 'up'"
            class="w-4 h-4"
            src="/icon/chevron-up-xxs-success.svg"
            alt="icon up"
          />
          <img
            v-show="increment === 'down'"
            class="w-4 h-4"
            src="/icon/chevron-down-xxs-danger.svg"
            alt="icon down"
          />
          <span
            :class="
              increment === 'up'
                ? 'text-success'
                : increment === 'down'
                ? 'text-danger'
                : 'text-gray-800'
            "
            >{{ incrementnumber }}%</span
          >&nbsp;
          <span class="text-gray-400">from last 7 days</span>
        </div>
      </div>
    </div>
  </NuxtLink>
</template>
  
<script>
function getColor(status) {
  if (status === "up") {
    return "text-black";
  }
  if (status === "down") {
    return "text-success";
  }
  return "text-danger";
}

export default {
  props: {
    departmentname: {
      type: String,
      default: "Department Name",
    },
    workinghours: { type: String, default: "336" },
    incrementnumber: { type: String, default: "3" },
    increment: "up" | "down",
  },
  methods: {
    getColor,
  },
};
</script>