<template>
  <div class="flex flex-col items-center p-3">
    <img class="w-24 h-24 mb-3" :src="icon" alt="icon" />
    <h4 class="text-gray-800 text-xl font-bold">{{ title }}</h4>
    <p class="text-gray-500">{{ description }}</p>
    <slot />
  </div>
</template>

<script>
export default {
  props: {
    icon: { type: String, default: "/icon/user.svg" },
    title: { type: String, default: "Title" },
    description: { type: String, default: "Description" },
  },
};
</script>
