<template>
  <Modal>
    <template #toggler>
      <button
        @click="loadModal()"
        class="text-white text-sm bg-secondary border border-primary focus:ring-4 focus:outline-none focus:ring-blue-300 hover:bg-primary font-bold rounded-md px-3 py-1.5 text-center inline-flex justify-center"
        type="button"
      >
        Assign Manager
      </button>
    </template>
    <ModalContent :show="dayOff.modalShow" size="large">
      <div class="p-5">
        <h3 class="text-2xl text-secondary mb-3 font-bold">Assign Manager</h3>
        <div class="mb-3">
          <SearchBar :onSearch="onSearchEmployee" />
        </div>
        <div class="mb-3">
          <UserOption department :role="false">
            <form @submit.prevent="onSubmitUsers">
              <div v-if="dayOff.allUsersList === null">loading...</div>
              <UserOptionList
                v-else
                v-for="user in dayOff.allUsersList[0]"
                :key="user.id"
                :id="user.id"
                :email="user.email"
                :profilepict="user.avatarUrl"
                :username="user.firstName + ' ' + user.lastName"
                :role="false"
                :department="user.role"
              />
              <div class="flex justify-end">
                <button
                  class="border border-0 text-gray-800 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-md px-3 py-2 text-center inline-flex items-center font-bold text-lg mr-3"
                  @click="dayOff.setModalShow(false)"
                >
                  Cancel
                </button>
                <button
                  class="border border-0 text-white bg-primary hover:bg-secondary focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-md px-6 py-2 text-center inline-flex items-center font-bold text-lg"
                  type="submit"
                >
                  Add
                </button>
              </div>
            </form>
          </UserOption>
        </div>
      </div>
    </ModalContent>
  </Modal>
</template>

<script>
// import Modal from "~/components/Modal/index.vue";
// import ModalContent from "~/components/Modal/Content.vue";

export default {
  data() {
    return {
      modalShow: false,
    };
  },
};
</script>

<script setup>
import { useAuthStore } from "~/store/auth";
import { dayOffStore } from "~/store/dayOffStore";

const auth = useAuthStore();
const { $showToast } = useNuxtApp();
const runtimeConfig = useRuntimeConfig();
const dayOff = dayOffStore();

async function loadModal() {
  dayOff.setModalShow(true);
  // fetch all users
  await useLazyFetch(
    runtimeConfig.apiBaseUrl + "admin/user/employee/list?all=true",
    {
      headers: {
        Authorization: `Bearer ${auth.token}`,
      },
      onResponse({ request, response, options }) {
        const resData = response._data;
        if (response.status === 200) {
          const userData = response._data.data.rows;
          dayOff.setAllUsersList(userData);
        } else {
          // error
          console.log(resData.message || response.statusText);
        }
      },
    }
  );
}

async function onSearchEmployee(event) {
  const input = document.getElementsByName("searchbar");
  const searchKeyword = input[0].value;

  // recall users
  await useLazyFetch(
    runtimeConfig.apiBaseUrl +
      "admin/user/employee/list/?all=true&search=" +
      searchKeyword,
    {
      headers: {
        Authorization: `Bearer ${auth.token}`,
      },
      onResponse({ request, response, options }) {
        const resData = response._data;
        if (response.status === 200) {
          const userData = response._data.data.rows;
          dayOff.setAllUsersList(userData);
        } else {
          // error
          console.log(resData.message || response.statusText);
          $showToast(resData.message || response.statusText, "error", 3000);
        }
      },
    }
  );
}

async function onSubmitUsers(event) {
  let checkedUsers = [];
  // get checked users
  const input = document.getElementsByName("userId[]");
  for (let i = 0; i < input.length; i++) {
    let a = input[i];
    if (a.checked) {
      let value = {
        id: a._value,
        username: a.attributes.data_username.value,
        email: a.attributes.data_email.value,
        avatarUrl: a.attributes.data_picture.value,
      };
      checkedUsers.push(value);
    }
  }

  dayOff.setUserListInDayOff(checkedUsers);
  dayOff.setModalShow(false);
}
</script>
