<template>
  <div v-if="auth.user.role === 'EMPLOYEE'">
    <div class="mb-5">
      <h1 class="text-3xl text-secondary font-bold mb-1">
        Register Timesheets
      </h1>
      <!-- Breadcrumb -->
      <nav class="flex" aria-label="Breadcrumb">
        <ol class="inline-flex items-center space-x-1 md:space-x-2">
          <li class="inline-flex items-center">
            <NuxtLink
              to="/timesheets"
              class="inline-flex items-center text-sm text-gray-500 hover:text-gray-900"
            >
              Timesheets
            </NuxtLink>
          </li>
          <li>
            <div class="flex items-center">
              <svg
                class="w-4 h-4 text-gray-400"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                  clip-rule="evenodd"
                ></path>
              </svg>
              <a
                href="#"
                class="ml-1 text-sm text-primary hover:text-secondary md:ml-2"
                >Register Timesheets</a
              >
            </div>
          </li>
        </ol>
      </nav>
      <!-- Breadcrumb -->
    </div>

    <div class="bg-white rounded-md mb-6 p-5">
      <div class="mb-3">
        <h3 class="text-xl text-gray-800 font-bold">Register Job</h3>
        <p class="text-sm text-gray-500">
          Please make sure timesheet assignment for today
        </p>
      </div>
      <div class="flex justify-between mb-3">
        <div
          class="bg-gray-100 rounded text-gray-800 text-sm px-3 py-1.5 inline-flex items-center"
        >
          <img class="w-4 h-4" src="/icon/calendar.svg" alt="icon" />
          <span class="ml-1">{{
            $moment(new Date(), `YYYY-MM-DD H:i:s`).format(`DD MMMM YYYY`)
          }}</span>
        </div>
        <button
          @click="jobform = true"
          type="button"
          class="text-primary bg-white border-primary border focus:ring-4 focus:outline-none focus:ring-blue-300 font-bold rounded-md text-md px-3 py-1.5 text-center inline-flex justify-center hover:bg-primary hover:text-white"
        >
          Add Job
        </button>
      </div>
      <div v-show="jobform" class="p-5 rounded-md bg-gray-50 mb-5">
        <form @submit.prevent="submitForm">
          <AlertsAlert />
          <AlertsValidationAlert />

          <div class="grid grid-cols-1 md:grid-cols-3 gap-5 mb-5">
            <div class="col-span-2">
              <label
                for="dayoffname"
                class="block mb-2 text-sm font-medium text-gray-900"
              >
                Day Off Type</label
              >
              <select
                v-if="!projectListPending"
                v-model="formData.projectId"
                id="projectName"
                name="projectName"
                @change="changeProject()"
                class="bg-white border border-gray-200 text-gray-900 text-md rounded-lg focus:ring-primary-vogue focus:border-primary-vogue block py-2 w-full h-[44px]"
              >
                <option value="null" data_projectCode="0">
                  Select Project
                </option>
                <option
                  v-if="projectList.data.rows.length > 0"
                  v-for="row in projectList.data.rows"
                  :value="row.id"
                  :data_projectCode="row.code"
                >
                  {{ row.name }}
                </option>
              </select>
            </div>
            <div class="">
              <label
                for="code"
                class="block mb-2 text-sm font-medium text-gray-900"
              >
                Code</label
              >
              <input
                disabled
                type="input"
                id="projectCode"
                class="bg-gray-100 border border-gray-200 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3"
                placeholder="Code"
              />
            </div>
            <div class="">
              <label
                for="WorkType"
                class="block mb-2 text-sm font-medium text-gray-900"
              >
                Work Type
              </label>
              <select
                v-if="!workTypeListPending"
                v-model="formData.workTypeId"
                id="WorkType"
                class="bg-white border border-gray-200 text-gray-900 text-md rounded-lg focus:ring-primary-vogue focus:border-primary-vogue block py-2 w-full h-[44px]"
              >
                <option value="null">Select Work Type</option>
                <option
                  v-if="workTypeList.data.rows.length > 0"
                  v-for="wtRow in workTypeList.data.rows"
                  :value="wtRow.id"
                >
                  {{ wtRow.name }}
                </option>
              </select>
            </div>
            <div class="">
              <label
                for="Working Hours"
                class="block mb-2 text-sm font-medium text-gray-900"
              >
                Working Hours
              </label>
              <select
                id="Working Hours"
                v-model="formData.hours"
                class="bg-white border border-gray-200 text-gray-900 text-md rounded-lg focus:ring-primary-vogue focus:border-primary-vogue block py-2 w-full h-[44px]"
              >
                <option value="null">Select Hours</option>
                <option value="00:10:00">10 Minutes</option>
                <option value="00:15:00">15 Minutes</option>
                <option value="00:30:00">30 Minutes</option>
                <option value="00:45:00">45 Minutes</option>
                <option value="01:00:00">60 Minutes</option>
              </select>
            </div>
            <div class="">
              <label
                for="Shift"
                class="block mb-2 text-sm font-medium text-gray-900"
              >
                Shift
              </label>
              <select
                v-model="formData.shift"
                id="Shift"
                class="bg-white border border-gray-200 text-gray-900 text-md rounded-lg focus:ring-primary-vogue focus:border-primary-vogue block py-2 w-full h-[44px]"
              >
                <option value="DAY">Day</option>
                <option value="NIGHT">Night</option>
              </select>
            </div>
          </div>
          <div class="flex flex-1 justify-end">
            <button
              @click="jobform = !jobform"
              type="button"
              class="text-gray-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-bold rounded-md text-sm px-5 py-2.5 text-center inline-flex justify-center"
            >
              Cancel
            </button>
            <button
              class="text-white bg-secondary focus:ring-4 focus:outline-none focus:ring-blue-300 font-bold rounded-md text-sm px-6 py-2.5 text-center inline-flex justify-center"
              type="submit"
            >
              <Loaders />
              <span v-if="loaderInit.display === false"> Save </span>
            </button>
          </div>
        </form>
      </div>

      <div>
        <ProjectHours v-if="timeSheets.timeSheetsList !== null">
          <div v-if="timeSheets.timeSheetsList[0].rows.length > 0">
            <ProjectHoursList
              v-for="tsRows in timeSheets.timeSheetsList[0].rows"
              :id="tsRows.id"
              :projectname="tsRows.projectName"
              :code="tsRows.code"
              :workType="tsRows.workTypeName"
              :workinghours="$hourRound(tsRows.hours)"
              editable
            />
          </div>
          <div class="bg-gray-100 p-2 rounded-md mb-2 text-center" v-else>
            No records found
          </div>
        </ProjectHours>
      </div>
    </div>

    <div class="flex flex-1 justify-end">
      <NuxtLink
        to="/timesheets"
        class="text-gray-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-bold rounded-md text-lg px-5 py-2.5 text-center inline-flex justify-center"
      >
        Cancel
      </NuxtLink>
      <button
        @click="this.modalConfirm = true"
        class="text-white bg-primary focus:ring-4 focus:outline-none focus:ring-blue-300 font-bold rounded-md text-lg px-6 py-2.5 text-center inline-flex justify-center"
        type="submit"
      >
        Register Timesheet
      </button>
    </div>

    <!-- Submit confirm modal -->
    <Modal>
      <template #toggler>
        <!-- <button
          class="text-danger focus:ring-4 focus:outline-none focus:ring-blue-300 font-bold rounded-md text-lg px-5 py-2.5 text-center inline-flex justify-center"
          type="button"
          @click="this.modalShow = true"
        >
          Delete
        </button> -->
      </template>
      <ModalContent :show="modalConfirm" size="small">
        <div class="p-5">
          <div class="text-center mb-5">
            <div
              class="bg-danger-vogue rounded-full mb-3 inline-flex w-16 h-16 items-center justify-center"
            >
              <img
                src="/icon/exclamation-triangle-fill-danger.svg"
                alt="warning"
              />
            </div>
            <h3 class="text-xl text-danger mb-1 font-bold">
              Register Timesheets
            </h3>
            <div class="mb-3">Are you sure want to submit the timesheets?</div>
          </div>
          <div class="flex justify-end">
            <button
              class="border border-0 text-gray-800 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-md px-3 py-2 text-center inline-flex items-center font-bold mr-3"
              @click="this.modalConfirm = false"
            >
              Cancel
            </button>
            <button
              class="border border-0 text-white bg-danger hover:bg-opacity-80 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-md px-6 py-2 text-center inline-flex items-center font-bold"
              @click="timeSheetsSubmit()"
            >
              <Loaders />
              <span v-if="loaderInit.display === false"> Submit </span>
            </button>
          </div>
        </div>
      </ModalContent>
    </Modal>
    <!-- ./submit confirm modal -->
  </div>
  <div v-else>Unauthorized</div>
</template>

<script>
// import Modal from "~/components/Modal/index.vue";
// import ModalContent from "~/components/Modal/Content.vue";

export default {
  data() {
    return {
      modalConfirm: false,
      jobform: false,
    };
  },
};
</script>

<script setup>
import { ref } from "vue";
import Datepicker from "@vuepic/vue-datepicker";
import { useAuthStore } from "~/store/auth";
import "@vuepic/vue-datepicker/dist/main.css";
import { validationErrors } from "~/store/validationError";
import { messageAlert } from "~~/store/messageAlert";
import { loader } from "~~/store/loader";
import { timeSheetsStore } from "~/store/timeSheetsStore";
const auth = useAuthStore();
const loaderInit = loader();
const timeSheets = timeSheetsStore();
const runtimeConfig = useRuntimeConfig();
const router = useRouter();

const { $showToast } = useNuxtApp();

const date = ref();

useHead({
  title: "Hemlock - Timesheets",
  meta: [{ name: "description", content: "Timesheets" }],
});

definePageMeta({
  layout: "applayout",
  middleware: "auth",
});

// fetch the working time sheets where status is open
await useLazyFetch(
  runtimeConfig.apiBaseUrl +
    "admin/workingtime/list/?status=OPEN&userId " +
    auth.user.id +
    "&limit=100",
  {
    headers: {
      Authorization: `Bearer ${auth.token}`,
    },
    onResponse({ request, response, options }) {
      // Process the response data
      if (response.status === 200) {
        // successfully
        const resData = response._data.data;
        timeSheets.setTimeSheetsList(resData);
      } else {
        window.scrollTo(0, 0);
      }
    },
  }
);

// fetch the project list where assigned into the user
const {
  data: projectList,
  pending: projectListPending,
  error,
  refresh,
} = await useLazyFetch(runtimeConfig.apiBaseUrl + "admin/project/list/", {
  headers: {
    Authorization: `Bearer ${auth.token}`,
  },
});

// fetch all work types
const { data: workTypeList, pending: workTypeListPending } = await useLazyFetch(
  runtimeConfig.apiBaseUrl + "admin/worktype/list",
  {
    headers: {
      Authorization: `Bearer ${auth.token}`,
    },
  }
);

let formData = {
  projectId: null,
  userId: null,
  workTypeId: null,
  hours: null,
  shift: "DAY",
};

function changeProject() {
  // get the project code
  const e = document.getElementById("projectName");
  const value = e.value;
  const text = e.options[e.selectedIndex];
  const code = text.attributes.data_projectcode.nodeValue;
  // update the project code into formData
  if (code === "0") {
    document.getElementById("projectCode").value = null;
  } else {
    document.getElementById("projectCode").value = code;
  }
}

async function submitForm(event) {
  const validationError = validationErrors();
  const messageInit = messageAlert();

  validationError.clearErrors();
  messageInit.clearMessageAlert();

  loaderInit.display = true;

  formData.userId = auth.user.id;

  const { data, pending, error, refresh } = await useFetch(
    runtimeConfig.apiBaseUrl + "admin/workingtime/create",
    {
      method: "POST",
      body: formData,
      headers: {
        Authorization: `Bearer ${auth.token}`,
      },
      async onResponse({ request, response, options }) {
        // Process the response data
        const resData = response._data;

        if (response.status === 200) {
          // successfully
          messageInit.setMessageAlert("Timesheet saved", "success");

          window.scrollTo(0, 0);

          // reset form
          formData.projectId = null;
          formData.userId = null;
          formData.workTypeId = null;
          formData.hours = null;
          formData.shift = "DAY";

          // refetch the data
          await useLazyFetch(
            runtimeConfig.apiBaseUrl +
              "admin/workingtime/list/?status=OPEN&userId " +
              auth.user.id +
              "&limit=100",
            {
              headers: {
                Authorization: `Bearer ${auth.token}`,
              },
              onResponse({ request, response, options }) {
                // Process the response data
                if (response.status === 200) {
                  // successfully
                  const resData = response._data.data;
                  timeSheets.setTimeSheetsList(resData);
                }
              },
            }
          );
        } else {
          // errors
          if (resData.message === "validation error") {
            validationError.setErrors(resData.errors);
          } else {
            messageInit.setMessageAlert(
              resData.message || response.statusText,
              "danger"
            );
          }
          window.scrollTo(0, 0);
        }
        loaderInit.display = false;
      },
    }
  );
}

async function timeSheetsSubmit() {
  loaderInit.display = true;

  const { data, pending, error, refresh } = await useFetch(
    runtimeConfig.apiBaseUrl + "admin/workingtime/register",
    {
      method: "PUT",
      headers: {
        Authorization: `Bearer ${auth.token}`,
      },
      onResponse({ request, response, options }) {
        // Process the response data
        const resData = response._data;

        console.log(response);

        if (response.status === 200) {
          loaderInit.display = false;
          // successfully
          $showToast("Timesheets has been registered", "success", 3000);
          router.push("/timesheets");
        } else {
          console.log(resData);
        }
      },
    }
  );
}
</script>
