<template>
  <div>
    <div class="flex justify-between items-center mb-5">
      <h1 class="text-3xl text-secondary font-bold">Timesheets</h1>
      <div class="flex">
        <select
          @change="changeDepartment"
          v-if="departmentList"
          v-model="formData.departmentId"
          id="departmentName"
          class="bg-white border border-gray-200 text-gray-900 text-md rounded-lg focus:ring-primary-vogue focus:border-primary-vogue block py-2 h-[44px]"
        >
          <option value="null">All Department</option>

          <option
            v-if="departmentList.data.rows.length > 0"
            v-for="row in departmentList.data.rows"
            :value="row.id"
          >
            {{ row.name }}
          </option>
        </select>
        <button
          @click="reload"
          class="ml-2 inline-flex items-center justify-center text-primary bg-white border border-gray-200 hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-md py-2 px-3 text-center inline-flex justify-center"
          type="submit"
        >
          <img class="w-5 h-5" src="/icon/refresh-gray-dark.svg" alt="icon" />
        </button>
      </div>
    </div>
    <div class="bg-white rounded-md p-5 mb-6">
      <div class="mb-3">
        <h3 class="text-xl text-secondary font-bold mb-1">
          {{
            timeSheets.selectedDepartmentName
              ? timeSheets.selectedDepartmentName
              : ""
          }}
        </h3>
        <div class="text-gray-500 text-sm flex items-center">
          <img class="w-4 h-4" src="/icon/calendar.svg" alt="icon" />
          <span class="ml-1">21 November 2022 - 27 November 2022</span>
        </div>
      </div>
      <div class="mb-4">
        <button
          class="text-white bg-secondary inline-flex text-gray-800 font-bold rounded-md text-sm px-4 py-2"
          type="button"
        >
          Mo
        </button>
        <button
          class="text-gray-800 bg-white inline-flex text-gray-800 font-bold rounded-md text-sm px-4 py-2 hover:bg-gray-100"
          type="button"
        >
          Tu
        </button>
        <button
          class="text-gray-800 bg-white inline-flex text-gray-800 font-bold rounded-md text-sm px-4 py-2 hover:bg-gray-100"
          type="button"
        >
          We
        </button>
        <button
          class="text-gray-800 bg-white inline-flex text-gray-800 font-bold rounded-md text-sm px-4 py-2 hover:bg-gray-100"
          type="button"
        >
          Th
        </button>
        <button
          class="text-gray-800 bg-white inline-flex text-gray-800 font-bold rounded-md text-sm px-4 py-2 hover:bg-gray-100"
          type="button"
        >
          Fr
        </button>
        <button
          class="text-gray-800 bg-white inline-flex text-gray-800 font-bold rounded-md text-sm px-4 py-2 hover:bg-gray-100"
          type="button"
        >
          Sa
        </button>
        <button
          class="text-gray-800 bg-white inline-flex text-gray-800 font-bold rounded-md text-sm px-4 py-2 hover:bg-gray-100"
          type="button"
        >
          Su
        </button>
      </div>
      <div class="mb-3">
        <SearchBar :onSearch="onSearch" />
      </div>
      <div>
        <Timesheets>
          <div v-if="timeSheets.timeSheetsList === null">
            <SkeletonTable />
          </div>
          <div v-else>
            <div
              v-if="timeSheets.timeSheetsList[0].rows.length > 0"
              v-for="row in timeSheets.timeSheetsList[0].rows"
            >
              <TimesheetsList
                :profilepict="row.avatarUrl"
                :username="row.firstName + ' ' + row.lastName"
                :id="row.id"
                :userId="row.userId"
              >
                <TimesheetsWorkingHours
                  :projectname="row.projectName"
                  :code="row.code"
                  :workinghours="$hourRound(row.hours)"
                  :shift="row.shift"
                  :department="row.departmenName"
                />
              </TimesheetsList>
            </div>
            <div class="bg-gray-100 p-2 rounded-md mb-2 text-center" v-else>
              No records found
            </div>
          </div>
        </Timesheets>
      </div>
    </div>
  </div>
</template>

<script setup>
import { useAuthStore } from "~/store/auth";
import { timeSheetsStore } from "~/store/timeSheetsStore";

const auth = useAuthStore();
const timeSheets = timeSheetsStore();
const runtimeConfig = useRuntimeConfig();

useHead({
  title: "Hemlock - Timesheets",
  meta: [{ name: "description", content: "Timesheets" }],
});

definePageMeta({
  layout: "applayout",
  middleware: "auth",
});

// fetch the working time sheets where status is submitted
let apiPath = "";
if (auth.user.role === "EMPLOYEE") {
  apiPath =
    "admin/workingtime/list/?status=SUBMITTED&userId=" +
    auth.user.id +
    "&limit=100&";
  // must in the last
  apiPath += "departmentId=";
} else if (auth.user.role === "ADMIN") {
  apiPath = "admin/workingtime/list/?status=SUBMITTED&limit=100&";
  // must in the last
  apiPath += "departmentId=";
}

let formData = {
  departmentId: null,
};

async function changeDepartment() {
  // get the project code
  const e = document.getElementById("departmentName");
  const value = e.value == "null" ? null : e.value;
  const text = e.options[e.selectedIndex].text;

  // save department into timesheets store
  timeSheets.setSelectedDepartmentName(text);
  timeSheets.setSelectedDepartmentId(value);

  reload();
}

const { data: departmentList, departmentPending } = await useLazyFetch(
  runtimeConfig.apiBaseUrl + "admin/department/list",
  {
    headers: {
      Authorization: `Bearer ${auth.token}`,
    },
  }
);

await useLazyFetch(runtimeConfig.apiBaseUrl + apiPath, {
  headers: {
    Authorization: `Bearer ${auth.token}`,
  },
  onResponse({ request, response, options }) {
    // Process the response data
    if (response.status === 200) {
      // successfully
      const resData = response._data.data;
      timeSheets.setTimeSheetsList(resData);
    } else {
      window.scrollTo(0, 0);
    }
  },
});

async function reload() {
  // clear all records
  timeSheets.clearTimeSheetsList();

  // modif the API URL and assign the documentId value if available
  let apiUrl = runtimeConfig.apiBaseUrl + apiPath;
  const urlObj = new URL(apiUrl);
  let urlParams = new URLSearchParams(urlObj.search);
  // remove departmentId from URL
  urlParams.delete("departmentId");

  // assign the new departmentId into apiPath
  let selectedDepartmentId =
    timeSheets.selectedDepartmentId !== null
      ? timeSheets.selectedDepartmentId
      : "";
  urlParams.append("departmentId", selectedDepartmentId);

  const newApiUrl = new URL(`${urlObj.origin}${urlObj.pathname}?${urlParams}`);

  await useLazyFetch(newApiUrl, {
    headers: {
      Authorization: `Bearer ${auth.token}`,
    },
    onResponse({ request, response, options }) {
      // Process the response data
      if (response.status === 200) {
        // successfully
        const resData = response._data.data;
        timeSheets.setTimeSheetsList(resData);
      }
    },
  });
}

async function onSearch(event) {
  const input = document.getElementsByName("searchbar");
  const searchKeyword = input[0].value;
  timeSheets.clearTimeSheetsList();
  await useLazyFetch(
    runtimeConfig.apiBaseUrl + apiPath + "&search=" + searchKeyword,
    {
      headers: {
        Authorization: `Bearer ${auth.token}`,
      },
      onResponse({ request, response, options }) {
        if (response.status === 200) {
          // successfully
          const resData = response._data.data;
          timeSheets.setTimeSheetsList(resData);
        }
      },
    }
  );
}
</script>
