<template>
  <div class="mb-5">
    <div v-if="pending">
      <SkeletonTable />
    </div>
    <div v-else>
      <div class="flex items-center">
        <div class="flex-1 mr-3">
          <h1 class="text-3xl text-secondary font-bold mb-1">
            {{ user.data.firstName + " " + user.data.lastName }}
          </h1>
          <!-- Breadcrumb -->
          <nav class="flex" aria-label="Breadcrumb">
            <ol class="inline-flex items-center space-x-1 md:space-x-2">
              <li class="inline-flex items-center">
                <NuxtLink
                  to="/users/admin"
                  class="inline-flex items-center text-sm text-gray-500 hover:text-gray-900"
                >
                  Users
                </NuxtLink>
              </li>
              <li>
                <div class="flex items-center">
                  <svg
                    class="w-4 h-4 text-gray-400"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                      clip-rule="evenodd"
                    ></path>
                  </svg>
                  <NuxtLink
                    to="/users/admin"
                    class="inline-flex items-center text-sm text-gray-500 hover:text-gray-900"
                  >
                    Admin
                  </NuxtLink>
                </div>
              </li>
              <li>
                <div class="flex items-center">
                  <svg
                    class="w-4 h-4 text-gray-400"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                      clip-rule="evenodd"
                    ></path>
                  </svg>
                  <a
                    href="#"
                    class="ml-1 text-sm text-primary hover:text-secondary"
                    >{{ user.data.firstName + " " + user.data.lastName }}</a
                  >
                </div>
              </li>
            </ol>
          </nav>
          <!-- Breadcrumb -->
        </div>
        <div>
          <NuxtLink
            v-if="auth.user.role === 'ADMIN'"
            class="text-white bg-primary focus:ring-4 focus:outline-none focus:ring-blue-300 font-bold rounded-md text-lg px-6 py-2.5 text-center inline-flex justify-center"
            :to="'/users/admin/edit/' + user.data.id"
          >
            Edit
          </NuxtLink>
        </div>
      </div>
    </div>
    <div v-if="!pending" class="bg-white rounded-md p-5 mb-6 mt-5 flex">
      <div>
        <img
          v-if="user.data.avatarUrl"
          class="w-[200px] h-[200px] mr-4 rounded-md"
          :src="user.data.avatarUrl"
          alt="profile pict"
        />
        <img
          v-else
          class="w-[200px] h-[200px] mr-4 rounded-md"
          src="/img/placeholder-user.svg"
          alt="profile pict"
        />
      </div>

      <div v-if="!pending" class="flex-1 mr-4">
        <div class="">
          <h3 class="text-xl text-primary font-bold">
            {{ user.data.firstName + " " + user.data.lastName }}
          </h3>
          <div class="flex items-center mb-3">
            <img class="w-3 h-3 mr-1" src="/icon/calendar.svg" alt="icon" />
            <p class="text-sm text-gray-500">
              Created At
              {{
                $moment(user.data.createdAt, `YYYY-MM-DD H:i:s`).format(
                  "DD MMM YYYY H:m:s"
                )
              }}
            </p>
          </div>
          <div class="mb-3">
            <p class="text-gray-500">Email address</p>
            <p class="text-gray-800">{{ user.data.email }}</p>
          </div>
          <div class="mb-3">
            <p class="text-gray-500">Phone number</p>
            <p class="text-gray-800">{{ user.data.phoneNumber }}</p>
          </div>
        </div>
      </div>
      <div>
        <span class="bg-secondary-vogue text-secondary px-2.5 py-1 rounded">{{
          user.data.role
        }}</span>
      </div>
    </div>
  </div>
</template>

<script setup>
import { ref } from "vue";
import { useAuthStore } from "~/store/auth";
const auth = useAuthStore();
const runtimeConfig = useRuntimeConfig();
const route = useRoute();
const params = route.params;

useHead({
  title: "Hemlock - User Profile",
  meta: [{ name: "description", content: "User Profile" }],
});

definePageMeta({
  layout: "applayout",
  middleware: "auth",
});

// fetch user
const {
  data: user,
  pending,
  error,
  refresh,
} = await useLazyFetch(
  runtimeConfig.apiBaseUrl + "admin/user/get/" + params.id,
  {
    headers: {
      Authorization: `Bearer ${auth.token}`,
    },
  }
);
</script>
