<template>
  <div v-if="auth.user.role === 'ADMIN'">
    <div class="flex justify-between items-center mb-5">
      <h1 class="text-3xl text-secondary font-bold">Admin</h1>
    </div>
    <div class="bg-white rounded-md p-1 mb-3">
      <NuxtLink
        v-if="auth.user.role === 'ADMIN'"
        to="/users/admin"
        class="tab inline-flex text-gray-800 font-bold rounded-md text-md px-5 py-2.5"
      >
        Admin
      </NuxtLink>
      <NuxtLink
        to="/users/employee"
        class="tab inline-flex text-gray-800 font-bold rounded-md text-md px-5 py-2.5"
      >
        Employee
      </NuxtLink>
    </div>
    <div class="bg-white rounded-md p-5 mb-6">
      <div class="flex items-center mb-3">
        <div class="flex items-center flex-1">
          <h3 class="text-xl text-secondary font-bold">Admin</h3>
          <span
            class="bg-gray-100 text-gray-800 text-sm font-semibold ml-2 px-2.5 py-0.5 rounded"
            v-if="users.userList !== null"
            >{{ users.userList[0].totalItems }}</span
          >
        </div>
        <NuxtLink
          to="/users/admin/create"
          class="inline-flex text-primary font-bold bg-white border border-primary hover:bg-primary hover:text-white focus:ring-4 focus:ring-primary-vogue rounded-md text-md px-3 py-2"
        >
          Add Admin
        </NuxtLink>
      </div>
      <div class="mb-3">
        <SearchBar :onSearch="onSearchUsers" />
      </div>
      <div v-if="users.userList === null">
        <SkeletonTable />
      </div>
      <div v-else>
        <Users>
          <UsersList
            v-if="users.userList[0].rows.length > 0"
            v-for="user in users.userList[0].rows"
            :key="user.id"
            :id="user.id"
            :profilepict="user.avatarUrl"
            :username="user.firstName + ' ' + user.lastName"
            :email="user.email"
            :role="user.role"
            :datecreated="
              $moment(user.createdAt, `YYYY-MM-DD H:i:s`).format('DD MMM YYYY')
            "
          />
          <div class="bg-gray-100 p-2 rounded-md mb-2 text-center" v-else>
            No records found
          </div>
        </Users>
      </div>
    </div>
  </div>
  <div v-else>
    <h1>Unauthorized</h1>
  </div>
</template>

<script setup>
import { ref } from "vue";
import { useAuthStore } from "~/store/auth";
import { messageAlert } from "~/store/messageAlert";
import { userStore } from "~/store/userStore";

const { $moment } = useNuxtApp();
const auth = useAuthStore();
const users = userStore();
const runtimeConfig = useRuntimeConfig();
const messageInit = messageAlert();

useHead({
  title: "Hemlock - Users",
  meta: [{ name: "description", content: "Users Admin" }],
});

definePageMeta({
  layout: "applayout",
});

// fetch admin list
await useLazyFetch(runtimeConfig.apiBaseUrl + "admin/user/admin/list", {
  headers: {
    Authorization: `Bearer ${auth.token}`,
  },
  onResponse({ request, response, options }) {
    if (response.status === 200) {
      users.setUserList(response._data.data);
    } else {
      $showToast(response.status, "error", 3000);
    }
  },
});

async function onSearchUsers(event) {
  const input = document.getElementsByName("searchbar");
  const searchKeyword = input[0].value;

  await useLazyFetch(
    runtimeConfig.apiBaseUrl +
      "admin/user/admin/list" +
      "/?search=" +
      searchKeyword,
    {
      headers: {
        Authorization: `Bearer ${auth.token}`,
      },
      onResponse({ request, response, options }) {
        if (response.status === 200) {
          users.setUserList(response._data.data);
        } else {
          if (response.status === 204) {
            // $showToast("No recors found", "success", 3000);
          }
        }
      },
    }
  );
}
</script>
