<template>
  <div v-if="pending">
    <SkeletonTable />
  </div>
  <div v-else>
    <div class="mb-5">
      <div class="flex items-center">
        <div class="flex-1 mr-3">
          <h1 class="text-3xl text-secondary font-bold mb-1">
            Employee Detail
          </h1>
          <!-- Breadcrumb -->
          <nav class="flex" aria-label="Breadcrumb">
            <ol class="inline-flex items-center space-x-1 md:space-x-2">
              <li class="inline-flex items-center">
                <NuxtLink
                  to="/users/employee"
                  class="inline-flex items-center text-sm text-gray-500 hover:text-gray-900"
                >
                  Users
                </NuxtLink>
              </li>
              <li class="inline-flex items-center">
                <div class="flex items-center">
                  <svg
                    class="w-4 h-4 text-gray-400"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                      clip-rule="evenodd"
                    ></path>
                  </svg>
                  <NuxtLink
                    to="/users/employee"
                    class="ml-1 text-sm text-gray-500 hover:text-secondary"
                    >Employee</NuxtLink
                  >
                </div>
              </li>
              <li>
                <div class="flex items-center">
                  <svg
                    class="w-4 h-4 text-gray-400"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                      clip-rule="evenodd"
                    ></path>
                  </svg>
                  <span class="ml-1 text-sm text-primary">{{
                    user.data.firstName + " " + user.data.lastName
                  }}</span>
                </div>
              </li>
            </ol>
          </nav>
          <!-- Breadcrumb -->
        </div>
        <div class="flex">
          <Datepicker v-model="date"></Datepicker>
          <NuxtLink
            class="text-white bg-primary focus:ring-4 focus:outline-none focus:ring-blue-300 font-bold rounded-md text-lg px-6 py-2.5 text-center inline-flex justify-center ml-3"
            :to="'/users/employee/edit/' + user.data.id"
          >
            Edit
          </NuxtLink>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-12 gap-6">
      <div class="col-span-4">
        <EmployeeProfileCard
          :userName="user.data.firstName + ' ' + user.data.lastName"
          :email="user.data.email"
          :created="
            $moment(user.data.createdAt, `YYYY-MM-DD H:i:s`).format(
              `DD MMM YYYY H:m:s`
            )
          "
          :department="
            user.data.departments.length > 0
              ? user.data.departments[0].name
              : '-'
          "
          :phone="user.data.phoneNumber"
          :role="user.data.role"
          :profileUrl="user.data.avatarUrl"
        />
      </div>

      <div class="col-span-8">
        <div class="bg-white rounded-md p-5 mb-6">
          <div class="flex items-center mb-3">
            <h3 class="flex-1 text-2xl text-secondary font-bold">
              Working Hours
            </h3>
          </div>

          <div v-if="pendingProjects">
            <SkeletonTable />
          </div>
          <div v-else>
            <ProjectHours>
              <ProjectHoursList
                v-if="projectData.data.rows.length > 0"
                v-for="project in projectData.data.rows"
                :key="project.id"
                :id="project.id"
                :projectname="project.name"
                :code="project.code"
                :worktype="project.workType"
                :workinghours="
                  project.totalHours === null
                    ? 0
                    : $hourRound(project.totalHours)
                "
              />
              <div class="bg-gray-100 p-2 rounded-md mb-2 text-center" v-else>
                No records found
              </div>
            </ProjectHours>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      // projects: [
      //   {
      //     id: 1,
      //     projectname: "Project Name",
      //     code: "101",
      //     worktype: "Work Type",
      //     workinghours: "4",
      //   },
      //   {
      //     id: 2,
      //     projectname: "Project Name",
      //     code: "102",
      //     worktype: "Work Type",
      //     workinghours: "2",
      //   },
      //   {
      //     id: 3,
      //     projectname: "Project Name",
      //     code: "103",
      //     worktype: "Work Type",
      //     workinghours: "4",
      //   },
      // ],
    };
  },
};
</script>

<script setup>
import { ref } from "vue";
import { useAuthStore } from "~/store/auth";
const auth = useAuthStore();
const runtimeConfig = useRuntimeConfig();
const route = useRoute();
const params = route.params;

useHead({
  title: "Hemlock - User Profile",
  meta: [{ name: "description", content: "User Profile" }],
});

definePageMeta({
  layout: "applayout",
  middleware: "auth",
});

// fetch user
const {
  data: user,
  pending,
  error,
  refresh,
} = await useLazyFetch(
  runtimeConfig.apiBaseUrl + "admin/user/get/" + params.id,
  {
    headers: {
      Authorization: `Bearer ${auth.token}`,
    },
  }
);

// fetch projects
const { data: projectData, pending: pendingProjects } = await useLazyFetch(
  runtimeConfig.apiBaseUrl + "admin/project/list/user/" + params.id,
  {
    headers: {
      Authorization: `Bearer ${auth.token}`,
    },
    // onResponse({ request, response, options }) {
    //   if (response.status === 200) {
    //     console.log(response._data.data);
    //   } else {
    //     if (response.status === 204) {
    //       // $showToast("No recors found", "success", 3000);
    //     }
    //   }
    // },
  }
);
</script>
