<template>
  <div class="mb-5">
    <h1 class="text-3xl text-secondary font-bold mb-1">Create Employee</h1>
    <!-- Breadcrumb -->
    <nav class="flex" aria-label="Breadcrumb">
      <ol class="inline-flex items-center space-x-1 md:space-x-2">
        <li class="inline-flex items-center">
          <NuxtLink
            to="/users/admin"
            class="inline-flex items-center text-sm text-gray-500 hover:text-gray-900"
          >
            Users
          </NuxtLink>
        </li>
        <li class="inline-flex items-center">
          <div class="flex items-center">
            <svg
              class="w-4 h-4 text-gray-400"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                clip-rule="evenodd"
              ></path>
            </svg>
            <NuxtLink
              to="/users/employee"
              class="ml-1 text-sm text-gray-500 hover:text-secondary"
              >Employee</NuxtLink
            >
          </div>
        </li>
        <li>
          <div class="flex items-center">
            <svg
              class="w-4 h-4 text-gray-400"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                clip-rule="evenodd"
              ></path>
            </svg>
            <span class="ml-1 text-sm text-primary">Create Employee</span>
          </div>
        </li>
      </ol>
    </nav>
    <!-- Breadcrumb -->
  </div>

  <form class="mb-8" @submit.prevent="submitForm">
    <div class="bg-white rounded-md mb-6">
      <div class="grid grid-cols-1 md:grid-cols-12">
        <div class="col-span-8 p-5">
          <div class="mb-5">
            <div class="flex items-center justify-between mb-2">
              <h3 class="text-xl text-gray-800 font-bold">General</h3>
              <div class="text-gray-500 text-sm flex items-center">
                <!-- <img class="w-4 h-4" src="/icon/calendar.svg" alt="icon" /> -->
                <!-- <span class="ml-1">Created 22 Sept 2022</span> -->
              </div>
            </div>

            <AlertsAlert />
            <AlertsValidationAlert />

            <div class="mb-4">
              <label
                for="email"
                class="block mb-2 text-sm font-medium text-gray-900"
              >
                Email <span class="text-red-500">*</span></label
              >
              <input
                type="email"
                placeholder="Email"
                name="email"
                v-model="formData.email"
                class="mb-2 bg-white border border-gray-200 text-gray-900 rounded-lg focus:ring-primary-vogue focus:border-primary-vogue block w-full p-3"
              />
            </div>
            <div class="grid gap-6 grid-cols-1 md:grid-cols-2">
              <div class="mb-4">
                <label
                  for="firstName"
                  class="block mb-2 text-sm font-medium text-gray-900"
                >
                  First Name <span class="text-red-500">*</span>
                </label>
                <input
                  type="text"
                  v-model="formData.firstName"
                  class="bg-white border border-gray-200 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3"
                  placeholder="First Name "
                />
              </div>

              <div class="mb-4">
                <label
                  for="lastName"
                  class="block mb-2 text-sm font-medium text-gray-900"
                >
                  Last Name <span class="text-red-500">*</span>
                </label>
                <input
                  v-model="formData.lastName"
                  type="text"
                  class="bg-white border border-gray-200 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3"
                  placeholder="Last Name "
                />
              </div>
            </div>

            <div class="mb-4">
              <label
                for="phoneNumber"
                class="block mb-2 text-sm font-medium text-gray-900"
              >
                Phone Number</label
              >
              <input
                type="text"
                v-model="formData.phoneNumber"
                placeholder="Phone Number"
                name="phoneNumber"
                class="mb-2 bg-white border border-gray-200 text-gray-900 rounded-lg focus:ring-primary-vogue focus:border-primary-vogue block w-full p-3"
              />
            </div>
          </div>

          <div class="grid gap-6 grid-cols-1 md:grid-cols-2">
            <!-- Password -->
            <div class="mb-4">
              <label
                for="password"
                class="block mb-2 text-sm font-medium text-gray-900"
              >
                Password <span class="text-red-500">*</span></label
              >
              <input
                v-model="formData.password"
                type="password"
                class="bg-white border border-gray-200 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3"
                placeholder="Password "
              />
            </div>
            <!-- ./ Password -->

            <!-- Repeat Password -->
            <div class="mb-4">
              <label
                for="repeatPassword"
                class="block mb-2 text-sm font-medium text-gray-900"
              >
                Repeat Password <span class="text-red-500">*</span></label
              >
              <input
                v-model="formData.repeatPassword"
                type="password"
                class="bg-white border border-gray-200 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3"
                placeholder="Repeat Password"
              />
            </div>
            <!-- ./Repeat Password -->
          </div>

          <div class="mb-5">
            <h3 class="text-xl text-gray-800 font-bold mb-2">Department</h3>
            <div class="mb-4">
              <label
                for="Description"
                class="block mb-2 text-sm font-medium text-gray-900"
              >
                Assign to</label
              >
              <select
                v-if="!departmentPending"
                v-model="formData.departmentId"
                id="role"
                class="bg-white border border-gray-200 text-gray-900 text-md rounded-lg focus:ring-primary-vogue focus:border-primary-vogue block w-full px-4 py-3 h-[50px]"
              >
                <option v-for="row in departmentList.data.rows" :value="row.id">
                  {{ row.name }}
                </option>
                <!-- <option value="US">Administration</option> -->
              </select>
            </div>
          </div>
        </div>
        <div class="col-span-4 p-5 border-l border-gray-200">
          <h3 class="text-xl text-gray-800 font-bold mb-3">Photo</h3>

          <div class="flex items-center justify-center w-full">
            <label
              for="dropzone-file"
              class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-200 border-dashed rounded-lg cursor-pointer bg-gray-50"
            >
              <div class="flex flex-col items-center justify-center p-6">
                <img class="w-16 h-16 mb-3" src="/icon/user.svg" alt="icon" />
                <p class="mb-2 text-center text-sm text-gray-500 px-5">
                  Support jpg, png, and webm files with max sizes 2mb
                </p>
                <div
                  class="text-white bg-secondary focus:ring-4 focus:outline-none focus:ring-primary font-bold text-sm rounded-md px-6 py-2 text-center inline-flex justify-center"
                  type="submit"
                >
                  Browse File
                </div>
              </div>
              <input id="dropzone-file" type="file" class="hidden" />
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="flex">
      <!-- <button
        class="text-danger focus:ring-4 focus:outline-none focus:ring-blue-300 font-bold rounded-md text-lg px-5 py-2.5 text-center inline-flex justify-center"
        type="submit"
      >
        Delete
      </button> -->
      <div class="flex flex-1 justify-end">
        <NuxtLink
          to="/users/employee"
          class="text-gray-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-bold rounded-md text-lg px-5 py-2.5 text-center inline-flex justify-center"
        >
          Cancel
        </NuxtLink>
        <button
          class="text-white bg-primary focus:ring-4 focus:outline-none focus:ring-blue-300 font-bold rounded-md text-lg px-8 py-2.5 text-center inline-flex justify-center"
          type="submit"
        >
          <Loaders />
          <span v-if="loaderInit.display === false"> Save </span>
        </button>
      </div>
    </div>
  </form>
</template>

<script setup>
import { useAuthStore } from "~/store/auth";
import { departmentStore } from "~/store/departmentStore";
import { validationErrors } from "~/store/validationError";
import { messageAlert } from "~~/store/messageAlert";
import { loader } from "~/store/loader";
const auth = useAuthStore();
const loaderInit = loader();
const runtimeConfig = useRuntimeConfig();
// const date = ref();

useHead({
  title: "Hemlock - Users",
  meta: [{ name: "description", content: "Users" }],
});

definePageMeta({
  layout: "applayout",
  middleware: "auth",
});

let formData = {
  email: "",
  firstName: "",
  lastName: "",
  phoneNumber: "",
  password: "",
  repeatPassword: "",
  departmentId: "",
};

// fetch department
const {
  data: departmentList,
  pending: departmentPending,
  error,
  refresh,
} = await useLazyFetch(
  runtimeConfig.apiBaseUrl + "admin/department/list/?size=100",
  {
    headers: {
      Authorization: `Bearer ${auth.token}`,
    },
  }
);

async function submitForm() {
  const validationError = validationErrors();
  const messageInit = messageAlert();

  validationError.clearErrors();
  messageInit.clearMessageAlert();

  loaderInit.display = true;

  const { data, pending, error, refresh } = await useFetch(
    runtimeConfig.apiBaseUrl + "admin/user/employee/create",
    {
      method: "POST",
      body: formData,
      headers: {
        Authorization: `Bearer ${auth.token}`,
      },
      onResponse({ request, response, options }) {
        // Process the response data
        const resData = response._data;

        if (response.status === 200) {
          // successfully
          messageInit.setMessageAlert("The user has been created", "success");
          window.scrollTo(0, 0);

          // set all form value to empty
          for (let index in formData) {
            formData[index] = "";
          }
        } else {
          // errors
          if (resData.message === "validation error") {
            validationError.setErrors(resData.errors);
          } else {
            messageInit.setMessageAlert(
              resData.message || response.statusText,
              "danger"
            );
          }
          window.scrollTo(0, 0);
        }
      },
    }
  ).then(() => {
    loaderInit.display = false;
  });
}
</script>
