<template>
  <div v-if="auth.user">
    <AlertsPopup />
    <HeaderNavbar :employee="auth.user.role === 'EMPLOYEE' ? true : false" />
    <SideBar />
    <div class="bg-gray-100 pl-[260px] min-h-screen">
      <div class="p-8">
        <slot />
      </div>
    </div>
  </div>
</template>

<script setup>
import { useAuthStore } from "~/store/auth";
const auth = useAuthStore();
</script>
