<template>
    <div class="grid grid-cols-12">
        <div class="col-span-4 md:col-span:6 lg:col-span-4">
            <slot />
        </div>
        <div class="col-span-4 md:col-span:6 lg:col-span-8 bg-cover bg-center min-h-screen" style="background-image:url(/img/bg-login.png)" />
    </div>
</template>