<template>
  <div
    v-if="store.confirmModal.show"
    id="popup-modal"
    tabindex="-1"
    class="fixed bg-black bg-opacity-20 top-50 left-0 right-0 z-50 p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-modal md:h-full"
  >
    <div class="relative w-full h-full max-w-sm mx-auto md:h-auto">
      <div class="relative bg-white rounded-lg">
        <div class="p-6 text-center">
          <svg
            aria-hidden="true"
            class="mx-auto mb-4 text-gray-400 w-14 h-14 dark:text-gray-200"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
            ></path>
          </svg>
          <h3 class="mb-5 text-lg font-normal text-black dark:text-gray-400">
            {{ store.confirmModal.text }}
          </h3>
          <slot />
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { mainStore } from "~/store/mainStore";
const store = mainStore();
</script>
