<template>
  <transition name="modal-content">
    <div
      v-if="show"
      class="
        fixed
        top-0
        left-0
        right-0
        z-50
        w-full
        p-4
        overflow-x-hidden overflow-y-auto
        md:inset-0
        h-modal
        md:min-h-full
        bg-black bg-opacity-70
      "
    >
      <div
        class="relative w-full h-full md:max-w-2xl mx-auto md:h-auto"
        :class="
          size === 'large'
            ? 'md:max-w-2xl'
            : size === 'medium'
            ? 'md:max-w-lg'
            : 'md:max-w-md'
        "
      >
        <div class="relative bg-white rounded-lg shadow">
          <slot />
        </div>
      </div>
    </div>
  </transition>
</template>

<script setup>
const props = defineProps({
  show: false,
  size: "large",
});
</script>
