<template>
  <div class="relative">
    <div @click="toggle">
      <slot name="toggler" />
    </div>
    <Teleport to="body">
      <slot />
    </Teleport>
  </div>
</template>
    
<script>
export default {
  name: "Modal",
  provide() {
    return {
      sharedState: this.sharedState,
    };
  },
  data() {
    return {
      sharedState: {
        showModal: false,
      },
    };
  },
  methods: {
    toggle() {
      this.sharedState.showModal = !this.sharedState.showModal;
    },
  },
};
</script>
    