<template>
  <div v-if="messageInit.message">
    <div
      v-if="messageInit.type == 'danger'"
      class="flex p-3 bg-danger-vogue rounded mb-3"
    >
      <img src="/icon/exclamation-triangle-circle-red.svg" alt="icon" />
      <p class="text-sm text-danger ml-3">
        {{ messageInit.message }}
      </p>
    </div>

    <div v-else class="flex p-3 bg-success-vogue rounded mb-3">
      <img src="/icon/paper-plane-circle-success.svg" alt="icon" />
      <p class="text-sm text-success ml-3">
        {{ messageInit.message }}
      </p>
    </div>
  </div>
</template>

<script setup>
import { messageAlert } from "~~/store/messageAlert";
const messageInit = messageAlert();
messageInit.clearMessageAlert();
</script>
