<template>
  <div
    v-if="alert.alertInfo.show === true"
    id="popup-modal"
    tabindex="-1"
    class="fixed bg-black bg-opacity-20 top-50 left-0 right-0 z-50 p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-modal md:h-full"
  >
    <div class="relative w-full h-full max-w-sm mx-auto md:h-auto">
      <div class="relative bg-white rounded-lg">
        <button
          @click="alert.closeAlertInfo()"
          type="button"
          class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white"
          data-modal-hide="authentication-modal"
        >
          <svg
            aria-hidden="true"
            class="w-5 h-5"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
              clip-rule="evenodd"
            ></path>
          </svg>

          <span class="sr-only">Close modal</span>
        </button>

        <div class="p-6 text-center">
          <div v-if="alert.alertInfo.type === 'success'">
            <div
              class="bg-success-vogue ml-3 w-12 h-12 rounded-full inline-flex items-center justify-center"
            >
              <img
                class="w-6 h-6"
                src="/icon/checkmark-green.svg"
                alt="icon img"
              />
            </div>
          </div>
          <div v-else class="mt-4">
            <svg
              aria-hidden="true"
              class="mx-auto mb-4 text-gray-400 w-14 h-14 dark:text-gray-200"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
              ></path>
            </svg>
          </div>

          <h3
            class="mb-5 mt-4 text-lg font-normal text-black dark:text-gray-400"
          >
            {{ alert.alertInfo.text }}
          </h3>
          <button
            @click="alert.closeAlertInfo()"
            type="button"
            class="text-white bg-primary focus:ring-4 focus:outline-none focus:ring-blue-300 font-bold rounded-md text-lg px-8 py-2.5 text-center inline-flex justify-center"
          >
            OK
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { mainStore } from "~/store/mainStore";
const alert = mainStore();

// alert.closeAlertInfo();
</script>
