<template>
  <div
    v-if="errorMessage.errors.length !== 0"
    class="flex p-3 bg-danger-vogue rounded mb-3"
    role="alert"
  >
    <img src="/icon/exclamation-triangle-circle-red.svg" alt="icon" />
    <div v-for="errors in errorMessage" class="text-sm text-danger">
      <ul v-for="(errorField, index) in errors" :key="index" class="p-0 m-0">
        <div v-if="isNaN(index)">
          <li class="mb-1" v-for="error in errorField">* {{ error }}</li>
        </div>
      </ul>
    </div>
  </div>
</template>

<script setup>
import { validationErrors } from "~/store/validationError";
const errorMessage = validationErrors();
errorMessage.clearErrors();
</script>
