<template>
  <div class="p-5 md:p-6 lg:p-20">
    <img
      class="h-14 w-auto mb-8"
      src="/img/hemlock-logo-color.svg"
      alt="logo"
    />
    <h1 class="text-3xl text-secondary font-bold mb-4">Login</h1>
    <div>
      <AlertsAlert />
      <AlertsValidationAlert />

      <form class="mb-8" @submit.prevent="userLogin" method="POST">
        <div class="mb-4">
          <label
            for="email"
            class="block mb-2 text-sm font-medium text-gray-900"
          >
            Email</label
          >
          <input
            type="email"
            id="email"
            class="bg-white border border-gray-200 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3"
            placeholder="Email Address"
            v-model="formData.email"
            name="email"
          />
        </div>
        <div class="mb-4">
          <label
            for="password"
            class="block mb-2 text-sm font-medium text-gray-900"
          >
            Password</label
          >
          <input
            type="password"
            id="password"
            placeholder="Password"
            v-model="formData.password"
            name="password"
            class="mb-2 bg-white border border-gray-200 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3"
          />
          <div class="text-sm text-gray-500">
            Forgot your
            <NuxtLink to="/forgot-password" class="text-primary"
              >Password?</NuxtLink
            >
          </div>
        </div>

        <button
          class="w-full text-white bg-secondary focus:ring-4 focus:outline-none focus:ring-blue-300 font-bold rounded-md text-lg px-5 py-2.5 text-center inline-flex justify-center"
          type="submit"
        >
          <Loaders />
          <span v-if="loaderInit.display === false"> Login </span>
        </button>
      </form>

      <div class="flex text-sm text-gray-500">
        <div class="mr-3">&copy; ddev</div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { useAuthStore } from "~/store/auth";
import { validationErrors } from "~/store/validationError";
import { messageAlert } from "~~/store/messageAlert";
import { loader } from "~~/store/loader";
const loaderInit = loader();

const router = useRouter();

const runtimeConfig = useRuntimeConfig();
const authStore = useAuthStore();

const route = useRoute();
const rel = route.query.rel;

if (authStore.token) {
  // redirect
  if (rel) {
    window.location.href = rel;
  } else {
    router.push({ path: "/overview" });
  }
}

useHead({
  title: "Hemlock - Login",
  meta: [{ name: "description", content: "Login" }],
  script: [
    {
      src:
        "https://www.google.com/recaptcha/api.js?render=" +
        runtimeConfig.reCaptchaSiteKey,
    },
  ],
});

definePageMeta({
  layout: "default",
});

let formData = {
  email: "",
  password: "",
};

async function userLogin() {
  const validationError = validationErrors();
  const messageInit = messageAlert();
  const auth = useAuthStore();

  validationError.clearErrors();

  loaderInit.display = true;

  const { data, pending, error, refresh } = await useFetch(
    runtimeConfig.apiBaseUrl + "login",
    {
      method: "POST",
      body: formData,
      onResponse({ request, response, options }) {
        // Process the response data
        const userData = response._data.data;

        if (userData) {
          // create the login
          auth.login(userData);
        }

        if (auth.token) {
          // redirect
          if (rel) {
            window.location.href = rel;
          } else {
            router.push({ path: "/overview" });
          }
        }
      },
      onResponseError({ request, response, options }) {
        // Handle the response errors
        const data = response._data;

        if (data.message == "validation error") {
          validationError.setErrors(data.errors);
        } else {
          messageInit.setMessageAlert(
            "Login Failed! Please ensure username and password is valid",
            "danger"
          );
        }
        loaderInit.display = false;

        return validationError.errors;
      },
    }
  );
}
</script>
