<template>
  <h1 class="text-3xl text-secondary font-bold mb-5">Overview</h1>
  <div class="grid grid-cols-1 md:grid-cols-4 gap-6">
    <div class="col-span-3">
      <div>
        <div v-if="!data" class="grid grid-cols-1 md:grid-cols-2 gap-6">
          <SkeletonWidget />
          <SkeletonWidget />
        </div>
        <div v-else class="grid grid-cols-1 md:grid-cols-2 gap-6">
          <OverviewDataWidget
            title="Working Total This Week"
            :number="$hourRound(data.data.workingTotalThisWeek)"
            unit
            unitnumber="Hours"
            iconWrapperColor="bg-secondary-vogue"
            icon="/icon/tools-secondary.svg"
          />
          <OverviewDataWidget
            title="Projects Finished This Week"
            :number="data.data.projectFinishedThisWeek"
            iconWrapperColor="bg-success-vogue"
            icon="/icon/checkmark-green.svg"
          />
        </div>
      </div>

      <div class="bg-white rounded-md p-5 mb-6">
        <h3 class="text-xl text-secondary font-bold mb-3">
          Today Working Hours
        </h3>
        <TodayWorkingHours>
          <div v-if="!wtData">
            <SkeletonTable />
          </div>
          <div v-else>
            <TodayWorkingHoursList
              v-if="wtData.data.rows.length > 0"
              v-for="row in wtData.data.rows"
              :key="row.id"
              :userId="row.userId"
              :profilepict="row.avatarUrl"
              :username="row.firstName + ' ' + row.lastName"
              :department="row.departmenName"
              :role="row.role"
              :totalhour="$hourRound(row.hours)"
            />
            <div class="bg-gray-100 p-2 rounded-md mb-2 text-center" v-else>
              No records found
            </div>
          </div>
        </TodayWorkingHours>
      </div>
    </div>
    <div>
      <HolidayWidget month="November" company />
      <HolidayWidget month="November" />
    </div>
  </div>
</template>

<script setup>
import { useAuthStore } from "~/store/auth";
const auth = useAuthStore();
const router = useRouter();
const runtimeConfig = useRuntimeConfig();

if (auth.user.role === "EMPLOYEE") {
  router.push("overview-employee");
}

useHead({
  title: "Hemlock - Overview",
  meta: [{ name: "description", content: "Overview" }],
});

definePageMeta({
  layout: "applayout",
  middleware: ["auth"],
});

// fetch overview data
const { data, pending } = await useLazyFetch(
  runtimeConfig.apiBaseUrl + "admin/overview/admin",
  {
    headers: {
      Authorization: `Bearer ${auth.token}`,
    },
  }
);

// fetch working time filter by today
const { data: wtData, pending: wtPending } = await useLazyFetch(
  runtimeConfig.apiBaseUrl +
    "admin/workingtime/list/?status=SUBMITTED&time=today",
  {
    headers: {
      Authorization: `Bearer ${auth.token}`,
    },
  }
);
</script>
