<template>
  <div>
    <p class="text-md text-gray-600">Welcome,</p>
    <h1 class="text-3xl text-secondary font-bold mb-5">
      {{ auth.user.firstName + " " + auth.user.lastName }}
    </h1>
  </div>

  <div v-if="overviewPending">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
      <SkeletonWidget />
      <SkeletonWidget />
      <SkeletonWidget />
    </div>

    <div class="grid grid-cols-1 md:grid-cols-12 gap-6">
      <div class="bg-white col-span-8">
        <SkeletonTable />
      </div>
      <div class="bg-white col-span-4">
        <SkeletonWidget />
      </div>
    </div>
  </div>
  <div v-else>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
      <OverviewDataWidget
        title="Working Total This Week"
        :number="$hourRound(overviewData.data.totalWorkingHoursThisWeek)"
        unit
        unitnumber="Hours"
        iconWrapperColor="bg-secondary-vogue"
        icon="/icon/tools-secondary.svg"
      />
      <OverviewDataWidget
        title="On Going Projects"
        :number="overviewData.data.ongoingProjects"
        iconWrapperColor="bg-primary-vogue"
        icon="/icon/boxes-primary.svg"
      />
      <OverviewDataWidget
        title="Projects Finished This Week"
        :number="overviewData.data.finishedProjectsThisWeek"
        iconWrapperColor="bg-success-vogue"
        icon="/icon/checkmark-green.svg"
      />
    </div>

    <div class="grid grid-cols-1 md:grid-cols-12 gap-6">
      <div class="col-span-8">
        <div class="bg-white rounded-md p-5 mb-6">
          <h3 class="text-xl text-secondary font-bold mb-3">Working Hours</h3>
          <div v-if="listPending">
            <SkeletonTable />
          </div>
          <div v-else>
            <ProjectHours>
              <ProjectHoursList
                v-if="listData.data.rows.length > 0"
                v-for="row in listData.data.rows"
                :key="row.id"
                :id="row.id"
                :projectname="row.projectName"
                :code="row.code"
                :worktype="row.workTypeName"
                :workinghours="row.hours ? $hourRound(row.hours) : 0"
              />
              <div class="bg-gray-100 p-2 rounded-md mb-2 text-center" v-else>
                No records found
              </div>
            </ProjectHours>
          </div>
        </div>
      </div>
      <div class="col-span-4">
        <EmployeeProfileCard
          :profileUrl="auth.user.avatarUrl"
          :created="
            $moment(auth.user.createdAt, `YYYY-MM-DD H:i:s`).format(
              `DD MMM YYYY`
            )
          "
          :finishedProject="overviewData.data.finishedProjects"
          :totalWorkingHours="$hourRound(overviewData.data.totalWorkingHours)"
          me
        />
      </div>
    </div>
  </div>
</template>

<script setup>
import { useAuthStore } from "~/store/auth";

const runtimeConfig = useRuntimeConfig();

const auth = useAuthStore();
const router = useRouter();

if (auth.user.role !== "EMPLOYEE") {
  router.push("overview");
}

useHead({
  title: "Hemlock",
  meta: [{ name: "description", content: "Overview" }],
});

definePageMeta({
  layout: "applayout",
  middleware: ["auth"],
});

// fetch overview
const { data: overviewData, pending: overviewPending } = await useLazyFetch(
  runtimeConfig.apiBaseUrl + "admin/user/overview/" + auth.user.id,
  {
    headers: {
      Authorization: `Bearer ${auth.token}`,
    },
  }
);

const { data: listData, pending: listPending } = await useLazyFetch(
  runtimeConfig.apiBaseUrl + "admin/workingtime/list/?userId=" + auth.user.id,
  {
    headers: {
      Authorization: `Bearer ${auth.token}`,
    },
  }
);
</script>
