<template>
  <div>
    <div class="mb-5">
      <h1 class="text-3xl text-secondary font-bold mb-1">Update Profile</h1>
      <!-- Breadcrumb -->
      <nav class="flex" aria-label="Breadcrumb">
        <ol class="inline-flex items-center space-x-1 md:space-x-2">
          <li>
            <div class="flex items-center">
              <span class="ml-1 text-sm text-primary">Update Profile</span>
            </div>
          </li>
        </ol>
      </nav>
      <!-- Breadcrumb -->
    </div>

    <div v-if="userPending" class="bg-white rounded-md p-5 mb-6">
      <SkeletonForm />
    </div>
    <div v-else>
      <form class="mb-8" @submit.prevent="submitForm">
        <div class="bg-white rounded-md mb-6">
          <div class="grid grid-cols-1 md:grid-cols-12">
            <div class="col-span-8 p-5">
              <div class="mb-5">
                <div class="flex items-center justify-between mb-2">
                  <h3 class="text-xl text-gray-800 font-bold">General</h3>
                  <div class="text-gray-500 text-sm flex items-center"></div>
                </div>

                <AlertsAlert />
                <AlertsValidationAlert />

                <div class="mb-4">
                  <label
                    for="email"
                    class="block mb-2 text-sm font-medium text-gray-900"
                  >
                    Email <span class="text-red-500">*</span></label
                  >
                  <input
                    type="email"
                    placeholder="Email"
                    name="email"
                    v-model="formData.email"
                    class="mb-2 bg-gray-100 border border-gray-200 text-gray-900 rounded-lg focus:ring-primary-vogue focus:border-primary-vogue block w-full p-3"
                    readonly
                  />
                </div>
                <div class="grid gap-6 grid-cols-1 md:grid-cols-2">
                  <div class="mb-4">
                    <label
                      for="firstName"
                      class="block mb-2 text-sm font-medium text-gray-900"
                    >
                      First Name <span class="text-red-500">*</span>
                    </label>
                    <input
                      type="text"
                      v-model="formData.firstName"
                      class="bg-white border border-gray-200 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3"
                      placeholder="First Name "
                    />
                  </div>

                  <div class="mb-4">
                    <label
                      for="lastName"
                      class="block mb-2 text-sm font-medium text-gray-900"
                    >
                      Last Name <span class="text-red-500">*</span>
                    </label>
                    <input
                      v-model="formData.lastName"
                      type="text"
                      class="bg-white border border-gray-200 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3"
                      placeholder="Last Name "
                    />
                  </div>
                </div>

                <div class="mb-4">
                  <label
                    for="phoneNumber"
                    class="block mb-2 text-sm font-medium text-gray-900"
                  >
                    Phone Number</label
                  >
                  <input
                    type="text"
                    v-model="formData.phoneNumber"
                    placeholder="Phone Number"
                    name="phoneNumber"
                    class="mb-2 bg-white border border-gray-200 text-gray-900 rounded-lg focus:ring-primary-vogue focus:border-primary-vogue block w-full p-3"
                  />
                </div>
              </div>

              <div class="grid gap-6 grid-cols-1 md:grid-cols-2">
                <!-- Password -->
                <div class="mb-4">
                  <label
                    for="password"
                    class="block mb-2 text-sm font-medium text-gray-900"
                  >
                    Change Password
                  </label>
                  <input
                    v-model="formData.password"
                    type="password"
                    class="bg-white border border-gray-200 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3"
                    placeholder="Password "
                  />
                </div>
                <!-- ./ Password -->

                <!-- Repeat Password -->
                <div class="mb-4">
                  <label
                    for="repeatPassword"
                    class="block mb-2 text-sm font-medium text-gray-900"
                  >
                    Repeat Password</label
                  >
                  <input
                    v-model="formData.repeatPassword"
                    type="password"
                    class="bg-white border border-gray-200 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3"
                    placeholder="Repeat Password"
                  />
                </div>
                <!-- ./Repeat Password -->
              </div>
            </div>
            <div class="col-span-4 p-5 border-l border-gray-200">
              <h3 class="text-xl text-gray-800 font-bold mb-3">Change Photo</h3>

              <div class="flex items-center justify-center w-full">
                <label
                  for="dropzone-file"
                  class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-200 border-dashed rounded-lg cursor-pointer bg-gray-50"
                >
                  <div class="flex flex-col items-center justify-center p-6">
                    <img
                      v-if="auth.user.avatarUrl !== null"
                      class="w-16 h-16 mb-3"
                      :src="auth.user.avatarUrl"
                      alt="icon"
                    />
                    <img
                      v-else
                      class="w-16 h-16 mb-3"
                      src="/icon/user.svg"
                      alt="icon"
                    />
                    <p class="mb-2 text-center text-sm text-gray-500 px-5">
                      Support jpg, png, and webm files with max sizes 2mb
                    </p>
                    <div
                      class="text-white bg-secondary focus:ring-4 focus:outline-none focus:ring-primary font-bold text-sm rounded-md px-6 py-2 text-center inline-flex justify-center"
                      type="button"
                    >
                      Browse File
                    </div>
                  </div>
                  <input
                    @change="handleChange"
                    name="image"
                    id="dropzone-file"
                    type="file"
                    class="hidden"
                  />
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="flex">
          <div class="flex flex-1 justify-end">
            <NuxtLink
              to="/users/employee"
              class="text-gray-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-bold rounded-md text-lg px-5 py-2.5 text-center inline-flex justify-center"
            >
              Cancel
            </NuxtLink>
            <button
              class="text-white bg-primary focus:ring-4 focus:outline-none focus:ring-blue-300 font-bold rounded-md text-lg px-8 py-2.5 text-center inline-flex justify-center"
              type="submit"
            >
              <Loaders />
              <span v-if="loaderInit.display === false"> Save </span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script setup>
import { useAuthStore } from "~/store/auth";
import { validationErrors } from "~/store/validationError";
import { messageAlert } from "~/store/messageAlert";
import { loader } from "~/store/loader";
const auth = useAuthStore();
const loaderInit = loader();
const runtimeConfig = useRuntimeConfig();
const { $moment } = useNuxtApp();

useHead({
  title: "Hemlock - Profile",
  meta: [{ name: "description", content: "Profile" }],
});

definePageMeta({
  layout: "applayout",
  middleware: ["auth"],
});

let formData = {
  email: null,
  firstName: null,
  lastName: null,
  password: "",
  repeatPassword: "",
  image: "",
};

if (process.client) {
  formData.email = auth.user.email;
  formData.firstName = auth.user.firstName;
  formData.lastName = auth.user.lastName;
  formData.phoneNumber = auth.user.phoneNumber;
}

async function handleChange(e) {
  const file = e.target.files[0];
  /* Make sure file exists */
  if (!file) return;
  formData.image = file;
}

async function submitForm() {
  const validationError = validationErrors();
  const messageInit = messageAlert();

  validationError.clearErrors();
  messageInit.clearMessageAlert();

  loaderInit.display = true;

  let formDataNew = new FormData();
  for (let index in formData) {
    formDataNew.append(index, formData[index]);
  }

  const { data, pending, error, refresh } = await useFetch(
    runtimeConfig.apiBaseUrl + "admin/updateProfile",
    {
      method: "PUT",
      body: formDataNew,
      headers: {
        Authorization: `Bearer ${auth.token}`,
        Accept: "application/json",
        // "Content-Type": "multipart/form-data",
      },
      onResponse({ request, response, options }) {
        // Process the response data
        const resData = response._data;

        if (response.status === 200) {
          // successfully
          messageInit.setMessageAlert("Profile has been updated", "success");

          // update user data into store
          auth.updateUserData(resData.data);
        } else {
          // errors
          if (resData.message === "validation error") {
            validationError.setErrors(resData.errors);
          } else {
            messageInit.setMessageAlert(
              resData.message || response.statusText,
              "danger"
            );
          }
        }
      },
    }
  ).then(() => {
    loaderInit.display = false;
  });
}
</script>
