<template>
  <div class="grid grid-cols-6">
    <div class="col-span-4 text-sm text-gray-500 font-bold p-2">
      <span class="ml-8">User Name</span>
    </div>
    <div v-show="role" class="col-span-2 text-sm text-gray-500 font-bold p-2">
      Role
    </div>
    <div
      v-show="department"
      class="col-span-2 text-sm text-gray-500 font-bold p-2"
    >
      Department
    </div>
  </div>
  <div class="gap-2">
    <slot />
  </div>
</template>

<script>
export default {
  props: {
    role: { type: Boolean, default: true },
    department: { type: Boolean, default: false },
  },
};
</script>