<template>
  <div class="bg-white rounded-md mb-2">
    <div
      class="grid grid-cols-6 border-gray-200 border rounded-md items-center"
    >
      <div class="col-span-4 flex items-center text-gray-800 font-bold p-2">
        <div class="flex items-center">
          <input
            type="checkbox"
            :name="'userId[]'"
            :data_username="username"
            :data_picture="profilepict"
            :data_email="email"
            :value="id"
            class="w-4 h-4 text-red-600 bg-gray-100 border border-gray-200 rounded focus:ring-green-200 focus:ring-2 checked:bg-success ml-1"
          />
        </div>
        <img
          v-if="profilepict"
          class="w-10 h-10 rounded ml-3"
          :src="profilepict"
          alt="profile pict"
        />
        <img
          v-else
          class="w-10 h-10 rounded ml-3"
          src="/img/placeholder-user.svg"
          alt="profile pict"
        />
        <p class="flex-1 ml-2 mb-0 pb-0">
          {{ username }}
          <br />
          <span class="text-sm text-gray-500 p-0 m-0">{{ email }}</span>
        </p>
      </div>
      <div v-show="role" class="col-span-2 text-gray-800 p-2">
        {{ role }}
      </div>
      <div v-show="department" class="col-span-2 text-gray-800 p-2">
        {{ department }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    id: Number,
    profilepict: String,
    username: String,
    role: { type: [Boolean, String] },
    email: String,
    department: { type: [Boolean, String] },
  },
};
</script>
