<template>
  <div>
    <div class="flex justify-between items-center mb-5">
      <h1 class="text-3xl text-secondary font-bold">Day Off</h1>
      <div class="flex">
        <select
          id="role"
          class="bg-white border border-gray-200 text-gray-900 text-md rounded-lg focus:ring-primary-vogue focus:border-primary-vogue block py-2 h-[44px]"
        >
          <option selected>All Department</option>
          <option value="admin">Administration</option>
        </select>
        <NuxtLink
          to="/dayoff/create"
          class="inline-flex items-center text-white bg-primary focus:outline-none hover:bg-secondary focus:ring-4 focus:ring-gray-200 rounded-md px-5 py-2.5 ml-2"
        >
          <span>Request Day Off</span>
        </NuxtLink>
      </div>
    </div>
    <div class="bg-white rounded-md p-5 mb-6">
      <div v-if="dayOff.dayOffList === null">
        <SkeletonTable />
      </div>
      <div v-else>
        <DayOff>
          <DayOffList
            v-if="dayOff.dayOffList[0].rows.length > 0"
            v-for="row in dayOff.dayOffList[0].rows"
            :key="row.id"
            :id="row.id"
            :dayoffname="row.name"
            :createdate="
              $moment(row.createdAt, `YYYY-MM-DD H:i:s`).format(`DD MMM YYYY`)
            "
            :profilepict="row.avatarUrl"
            :username="row.firstName + ' ' + row.lastName"
            :email="row.email"
            :startdate="
              $moment(row.startDate, `YYYY-MM-DD H:i:s`).format(`DD MMM YYYY`)
            "
            :enddate="
              $moment(row.endDate, `YYYY-MM-DD H:i:s`).format(`DD MMM YYYY`)
            "
            :status="row.status"
          />
          <div class="bg-gray-100 p-2 rounded-md mb-2 text-center" v-else>
            No records found
          </div>
        </DayOff>
      </div>
    </div>
  </div>
  <!-- <div>
      <h1>Unauthorized</h1>
    </div> -->
</template>

<script setup>
import { useAuthStore } from "~/store/auth";
import { dayOffStore } from "~/store/dayOffStore";

const auth = useAuthStore();
const dayOff = dayOffStore();
const runtimeConfig = useRuntimeConfig();

useHead({
  title: "Hemlock - Day Off",
  meta: [{ name: "description", content: "Day Off" }],
});

definePageMeta({
  layout: "applayout",
  middleware: "auth",
});

// fetch dayoffs
let apiPath = "";

if (auth.user.role === "ADMIN") {
  apiPath = "admin/dayoff/list";
} else if (auth.user.role === "EMPLOYEE") {
  apiPath = "admin/dayoff/list/me";
} else {
  apiPath = "admin/dayoff/list/assignedToMe";
}

await useLazyFetch(runtimeConfig.apiBaseUrl + apiPath, {
  method: "GET",
  headers: {
    Authorization: `Bearer ${auth.token}`,
  },
  onResponse({ request, response, options }) {
    // Process the response data
    if (response.status === 200) {
      // successfully
      const resData = response._data.data;
      dayOff.setDayOffList(resData);
    } else {
      window.scrollTo(0, 0);
    }
  },
});
</script>
