<template>
  <div class="grid grid-cols-6">
    <div class="col-span-2 text-sm text-gray-500 font-bold p-2">Project</div>
    <div class="text-sm text-gray-500 font-bold p-2">Code</div>
    <div class="text-sm text-gray-500 font-bold p-2">Work Type</div>
    <div class="text-sm text-gray-500 font-bold p-2">Working Hour</div>
    <div class="text-sm text-gray-500 font-bold p-2"></div>
  </div>
  <div class="gap-2">
    <slot />
  </div>
</template>
