<template>
  <div class="bg-white rounded-md mb-2">
    <div
      class="grid grid-cols-6 border-gray-200 border rounded-md items-center"
    >
      <div class="col-span-2 flex items-center text-gray-800 font-bold p-2">
        {{ projectname }}
      </div>
      <div class="text-gray-800 text-md p-2">
        {{ code }}
      </div>
      <div class="text-gray-800 text-md p-2">
        {{ workType }}
      </div>
      <div class="text-gray-800 p-2">
        <span class="text-lg font-bold">{{ workinghours }}</span
        >&nbsp;
        <span class="text-sm">Hours</span>
      </div>
      <div class="flex justify-end p-2">
        <Dropdown>
          <template #toggler>
            <button
              class="border border-gray-200 text-gray-800 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-md text-sm px-3 py-2 text-center inline-flex items-center"
              type="button"
            >
              Action
              <svg
                class="ml-2 w-4 h-4"
                aria-hidden="true"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M19 9l-7 7-7-7"
                ></path>
              </svg>
            </button>
          </template>
          <DropdownContent>
            <DropdownItem v-if="!editable" :to="'/projects/' + id"
              >View Details</DropdownItem
            >
            <DropdownItem v-else>Edit</DropdownItem>
          </DropdownContent>
        </Dropdown>
      </div>
    </div>
  </div>
</template>

<script>
import Dropdown from "../Dropdown";
import DropdownContent from "../Dropdown/Content.vue";
import DropdownItem from "../Dropdown/Items.vue";

export default {
  props: {
    id: { type: String },
    projectname: { type: String },
    code: { type: String },
    workType: { type: String },
    workinghours: { type: String },
    editable: { type: Boolean },
  },
  components: {
    Dropdown,
    DropdownContent,
    DropdownItem,
  },
};
</script>
