<template>
  <div class="p-5 md:p-6 lg:p-20">
    <img
      class="h-14 w-auto mb-8"
      src="/img/hemlock-logo-color.svg"
      alt="logo"
    />
    <h1 class="text-3xl text-secondary font-bold mb-4">Forgot Password</h1>
    <div>
      <!-- MESSAGE ALERT -->
      <AlertsAlert />

      <!-- VALIDATION ALERT -->
      <AlertsValidationAlert />

      <form class="mb-8" @submit.prevent="submitForm" method="POST">
        <div class="mb-4">
          <label
            for="email"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >
            Email</label
          >
          <input
            type="email"
            id="email"
            v-model="formData.email"
            class="bg-white border border-gray-200 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3"
            placeholder="Email Address"
          />
        </div>

        <button
          class="w-full text-white bg-secondary focus:ring-4 focus:outline-none focus:ring-blue-300 font-bold rounded-md text-lg px-5 py-2.5 text-center inline-flex justify-center"
          type="submit"
        >
          <Loaders />
          <span v-if="loaderInit.display === false"> Submit </span>
        </button>

        <div class="text-sm text-gray-500">
          Remember your Password?
          <NuxtLink to="/" class="text-primary">Log in</NuxtLink>
        </div>
      </form>

      <div class="flex text-sm text-gray-500">
        <div class="mr-3">&copy; ddev</div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { validationErrors } from "~/store/validationError";
import { messageAlert } from "~~/store/messageAlert";
import { loader } from "~~/store/loader";
const loaderInit = loader();
const runtimeConfig = useRuntimeConfig();

useHead({
  title: "Hemlock - Forgot Password",
  meta: [{ name: "description", content: "Forgot Password" }],
  script: [
    {
      src:
        "https://www.google.com/recaptcha/api.js?render=" +
        runtimeConfig.reCaptchaSiteKey,
    },
  ],
});

definePageMeta({
  layout: "default",
});

let formData = {
  email: "",
  reCaptchaToken: null,
};

async function submitForm() {
  const validationError = validationErrors();
  const messageInit = messageAlert();
  const { $showToast } = useNuxtApp();
  const router = useRouter();

  loaderInit.display = true;
  messageInit.clearMessageAlert();
  validationError.clearErrors();

  grecaptcha.ready(function () {
    grecaptcha
      .execute(runtimeConfig.reCaptchaSiteKey, { action: "submit" })
      .then(async function (token) {
        // assign recaptcha token into form
        formData.reCaptchaToken = token;
        const { data, pending, error, refresh } = await useFetch(
          runtimeConfig.apiBaseUrl + "forgot-password",
          {
            method: "POST",
            body: formData,
            onResponse({ request, response, options }) {
              // Process the response data
              const resData = response._data;

              if (resData.status == true) {
                validationError.clearErrors();
                messageInit.clearMessageAlert();
                messageInit.setMessageAlert(resData.message, "success");
                // router.push({ path: "/" });
              }

              if (response.status == 204) {
                messageInit.setMessageAlert("The user not found", "danger");
              }
            },
            onResponseError({ request, response, options }) {
              // Handle the response errors
              const data = response._data;

              if (data.message == "validation error") {
                validationError.setErrors(data.errors);
              } else {
                messageInit.setMessageAlert(data.message, "danger");
              }
            },
          }
        );
      })
      .then(() => {
        loaderInit.display = false;
      });
  });
}
</script>
