<script>
export default {
  
};
</script>



<template>
  <div class="grid grid-cols-5">
    <div class="col-span-2 text-sm text-gray-500 font-bold p-2">User Name</div>
    <div class="text-sm text-gray-500 font-bold p-2">Working Hour</div>
    <div class="text-sm text-gray-500 font-bold p-2">Role</div>
    <div class="text-sm text-gray-500 font-bold p-2"></div>
  </div>
  <div class="gap-2">
    <slot />
  </div>
</template>

