<template>
  <div class="bg-white rounded-md mb-2">
    <div
      class="grid grid-cols-5 border-gray-200 border rounded-md items-center"
    >
      <div class="col-span-2 flex items-center text-gray-800 font-bold p-2">
        <img
          v-if="profilepict"
          class="w-10 h-10 rounded"
          :src="profilepict"
          alt="profile pict"
        />
        <img
          v-else
          class="w-10 h-10 rounded"
          src="/img/placeholder-user.svg"
          alt="profile pict"
        />

        <p class="ml-2">{{ username }}</p>
      </div>
      <div class="text-gray-800 p-2">
        <div>
          <span class="font-bold text-lg">{{ workinghours }}</span
          >&nbsp;
          <span class="text-sm">Hours</span>
        </div>
        <div class="text-sm flex items-center">
          <img
            v-show="increment === 'up'"
            class="w-4 h-4"
            src="/icon/chevron-up-xxs-success.svg"
            alt="icon up"
          />
          <img
            v-show="increment === 'down'"
            class="w-4 h-4"
            src="/icon/chevron-down-xxs-danger.svg"
            alt="icon down"
          />
          <span
            :class="
              increment === 'up'
                ? 'text-success'
                : increment === 'down'
                ? 'text-danger'
                : 'text-gray-800'
            "
            >{{ incrementnumber }}%</span
          >&nbsp;
          <span class="text-gray-400">from last 7 days</span>
        </div>
      </div>
      <div class="text-gray-800 p-2">
        {{ role }}
      </div>

      <div class="flex justify-end p-2">
        <Dropdown>
          <template #toggler>
            <button
              class="border border-gray-200 text-gray-800 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-md text-sm px-3 py-2 text-center inline-flex items-center"
              type="button"
            >
              Action
              <svg
                class="ml-2 w-4 h-4"
                aria-hidden="true"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M19 9l-7 7-7-7"
                ></path>
              </svg>
            </button>
          </template>
          <DropdownContent>
            <DropdownItem :to="'/users/employee/' + id"
              >View Details
            </DropdownItem>
            <hr />
            <DropdownItem>
              <span class="text-danger" @click="deleteConfirm(id)"
                >Remove Employee</span
              >
            </DropdownItem>
          </DropdownContent>
        </Dropdown>
      </div>
    </div>
  </div>
</template>

<script setup>
import { departmentStore } from "~/store/departmentStore";
import { useAuthStore } from "~/store/auth";
const auth = useAuthStore();
const { $showToast } = useNuxtApp();

const department = departmentStore();
const runtimeConfig = useRuntimeConfig();

async function deleteConfirm(id) {
  const route = useRoute();
  const params = route.params;
  const departmentId = params.id;
  if (confirm("Do you really want to delete ?")) {
    // console.log(id + " Deleted");

    const { data, pending, error, refresh } = await useLazyFetch(
      runtimeConfig.apiBaseUrl +
        "admin/department/unassignuser/" +
        departmentId +
        "/" +
        id,
      {
        method: "DELETE",
        headers: {
          Authorization: `Bearer ${auth.token}`,
        },
        async onResponse({ request, response, options }) {
          if (response.status === 200) {
            $showToast("The user has been removed", "success", 3000);
            await refreshNuxtData();
          } else {
            console.log(response);
          }
        },
      }
    );
  }
}
</script>

<script>
import Dropdown from "../Dropdown/index.vue";
import DropdownContent from "../Dropdown/Content.vue";
import DropdownItem from "../Dropdown/Items.vue";

function getColor(status) {
  if (status === "up") {
    return "text-black";
  }
  if (status === "down") {
    return "text-success";
  }
  return "text-danger";
}

export default {
  props: {
    id: Number,
    profilepict: String,
    username: String,
    department: String,
    role: String,
    workinghours: Number,
    totalhour: String,
    incrementnumber: String,
    increment: "up" | "down",
  },
  components: {
    Dropdown,
    DropdownContent,
    DropdownItem,
  },
  methods: {
    getColor,
  },
};
</script>
