<template>
  <NuxtLink
    class="
      cursor-pointer
      block
      hover:bg-gray-100
      px-4
      py-2
      font-medium
      text-gray-800
      "
  >
    <slot />
  </NuxtLink>
</template>
  
<script>
export default {
  name: "DropdownItem",
};
</script>
  