<template>
  <div class="flex items-center border border-gray-200 rounded-md p-2">
    <NuxtLink class="flex-1" :to="'/users/employee/' + id">
      <div class="flex items-center">
        <img
          v-if="profilepict"
          class="w-12 h-12 rounded-md"
          :src="profilepict"
          alt="user profile"
        />
        <img
          v-else
          class="w-12 h-12 rounded-md"
          src="/img/placeholder-user.svg"
          alt="user profile"
        />
        <div class="ml-3">
          <h5 class="text-gray-800 font-bold">{{ username }}</h5>
          <p class="text-gray-500 text-sm">{{ email }}</p>
        </div>
      </div>
    </NuxtLink>
    <div v-show="cta" class="">
      <button
        @click="deleteConfirm(id, pagePart)"
        type="button"
        class="inline-flex bg-white focus:ring-4 focus:outline-none focus:ring-blue-300 hover:bg-gray-100 rounded-md p-1 justify-center items-center border border-gray-200"
      >
        <img class="w-6 h-6" src="/icon/close.svg" alt="icon" />
      </button>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    id: { type: Number },
    profilepict: { type: String, default: "/img/placeholder-user.svg" },
    username: { type: String },
    email: { type: String },
    cta: { type: Boolean, default: true },
    pagePart: { type: String },
  },
};
</script>

<script setup>
import { useAuthStore } from "~/store/auth";
import { dayOffStore } from "~/store/dayOffStore";

const auth = useAuthStore();
const { $showToast } = useNuxtApp();
const runtimeConfig = useRuntimeConfig();
const route = useRoute();
const params = route.params;

async function deleteConfirm(userId, pagePart = null) {
  if (confirm("Do you really want to delete ?")) {
    const userRole = auth.user.role;
    switch (pagePart) {
      case "dayOffManager":
        // unassign manager from dayoff
        unAssignManagerInDayOff(userId);
        break;
      default:
        // unassign user from project
        unAssignUserInProject(userId);
        break;
    }
  }
}

async function unAssignUserInProject(userId) {
  const { data, pending, error, refresh } = await useLazyFetch(
    runtimeConfig.apiBaseUrl +
      "admin/project/unassignuser/" +
      params.id +
      "/" +
      userId,
    {
      method: "DELETE",
      headers: {
        Authorization: `Bearer ${auth.token}`,
      },
      async onResponse({ request, response, options }) {
        if (response.status === 200) {
          $showToast("The data has been deleted", "success", 3000);
          await refreshNuxtData();
          // window.location.reload(true);
        } else {
          console.log(response);
        }
      },
    }
  );
}

async function unAssignManagerInDayOff(userId) {
  const dayOff = dayOffStore();
  dayOff.removeUserListInDayOff();
}
</script>
