<template>
  <div v-if="auth.user.role === 'ADMIN' || auth.user.role === 'MANAGER'">
    <div v-if="pending" class="bg-white rounded-md p-5 mb-6">
      <SkeletonTable />
    </div>
    <div v-else>
      <div class="mb-5">
        <div class="flex items-center">
          <div class="flex-1 mr-3">
            <h1 class="text-3xl text-secondary font-bold mb-1">
              {{ data.data.name }}
            </h1>
            <!-- Breadcrumb -->
            <nav class="flex" aria-label="Breadcrumb">
              <ol class="inline-flex items-center space-x-1 md:space-x-2">
                <li class="inline-flex items-center">
                  <NuxtLink
                    to="/departments"
                    class="inline-flex items-center text-sm text-gray-500 hover:text-gray-900"
                  >
                    Department
                  </NuxtLink>
                </li>
                <li>
                  <div class="flex items-center">
                    <svg
                      class="w-4 h-4 text-gray-400"
                      fill="currentColor"
                      viewBox="0 0 20 20"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                        clip-rule="evenodd"
                      ></path>
                    </svg>
                    <a
                      href="#"
                      class="ml-1 text-sm text-primary hover:text-secondary md:ml-2"
                    >
                      {{ data.data.name + " (" + data.data.id + ")" }}</a
                    >
                  </div>
                </li>
              </ol>
            </nav>
            <!-- Breadcrumb -->
          </div>
          <div>
            <NuxtLink
              v-if="auth.user.role === 'ADMIN'"
              class="text-white bg-primary focus:ring-4 focus:outline-none focus:ring-blue-300 font-bold rounded-md text-lg px-6 py-2.5 text-center inline-flex justify-center"
              :to="'/departments/edit/' + data.data.id"
            >
              Edit
            </NuxtLink>
          </div>
        </div>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-12 gap-6">
        <div class="col-span-9">
          <div class="bg-white rounded-md p-5 mb-6">
            <div class="flex items-center mb-3">
              <h3 class="flex-1 text-2xl text-secondary font-bold">People</h3>
              <Modal>
                <template #toggler>
                  <button
                    @click="loadModal()"
                    class="text-primary border border-primary focus:ring-4 focus:outline-none focus:ring-blue-300 font-bold rounded-md px-4 py-2 text-center inline-flex justify-center"
                    type="submit"
                  >
                    Add Employee
                  </button>
                </template>
                <ModalContent :show="department.modalShow">
                  <div class="p-5">
                    <h3 class="text-2xl text-secondary mb-3 font-bold">
                      Add People
                    </h3>
                    <div class="mb-3">
                      <!-- search form -->
                      <form method="GET" @submit.prevent="onSearchEmployee">
                        <AlertsAlert />
                        <label
                          for="search-bar"
                          class="mb-2 text-sm text-gray-800 sr-only"
                          >Search</label
                        >
                        <div
                          class="flex items-center bg-secondary-vogue rounded-md"
                        >
                          <div
                            class="flex items-center pl-3 pointer-events-none"
                          >
                            <svg
                              aria-hidden="true"
                              class="w-5 h-5 text-gray-500"
                              fill="none"
                              stroke="currentColor"
                              viewBox="0 0 24 24"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
                              ></path>
                            </svg>
                          </div>
                          <input
                            type="text"
                            id="default-search"
                            class="flex-1 border-0 bg-transparent focus:border-0 focus:outline-transparent focus:drop-shadow-none focus:ring-0 px-2.5 py-2.5"
                            placeholder="Search"
                            v-model="searchKeyword"
                            required
                          />
                        </div>
                      </form>
                      <!-- ./search form -->
                    </div>
                    <div v-if="department.allUsers === null">
                      <SkeletonTable />
                    </div>
                    <div class="mb-3" v-else>
                      <form @submit.prevent="onSubmitEmployee">
                        <UserOption v-if="department.allUsers[0].length > 0">
                          <UserOptionList
                            v-for="(item, index) in department.allUsers[0]"
                            :key="item.id"
                            :id="item.id"
                            :username="item.firstName + ' ' + item.lastName"
                            :email="item.email"
                            :profilepict="item.avatarUrl"
                            :role="item.role"
                          />
                        </UserOption>
                        <div
                          class="bg-gray-100 p-2 rounded-md mb-2 text-center"
                          v-else
                        >
                          No records found
                        </div>

                        <div class="flex justify-end">
                          <button
                            type="button"
                            class="border border-0 text-gray-800 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-md px-3 py-2 text-center inline-flex items-center font-bold text-lg mr-3"
                            @click="department.modalShow = false"
                          >
                            Cancel
                          </button>

                          <button
                            type="submit"
                            class="border border-0 text-white bg-primary hover:bg-secondary focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-md px-6 py-2 text-center inline-flex items-center font-bold text-lg"
                          >
                            Add
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </ModalContent>
              </Modal>
            </div>
            <div class="mb-3">
              <SearchBar :onSearch="onSearchEmployeeInDepartment" sorting />
            </div>

            <PeopleWorkingHours>
              <div v-if="department.usersIndepartment === null">
                <SkeletonTable />
              </div>
              <div v-else>
                <PeopleWorkingHoursList
                  v-if="department.usersIndepartment[0].rows.length > 0"
                  v-for="user in department.usersIndepartment[0].rows"
                  :key="user.id"
                  :id="user.id"
                  :profilepict="user.avatarUrl"
                  :username="user.firstName + ' ' + user.lastName"
                  :workinghours="
                    user.totalHours === null ? 0 : $hourRound(user.totalHours)
                  "
                  :role="user.role"
                  :increment="user.increment"
                  :incrementnumber="user.incrementnumber"
                />
                <div class="bg-gray-100 p-2 rounded-md mb-2 text-center" v-else>
                  No records found
                </div>
              </div>
            </PeopleWorkingHours>
          </div>
        </div>

        <div class="col-span-3">
          <div class="bg-white rounded-md p-5 mb-6">
            <h5 class="text-lg text-primary font-bold">{{ data.data.name }}</h5>
            <div class="flex items-center mb-3">
              <img class="w-3 h-3 mr-1" src="/icon/calendar.svg" alt="icon" />
              <p class="text-sm text-gray-500">
                Created
                {{
                  $moment(data.data.createdAt, `YYYY-MM-DD H:i:s`).format(
                    "DD MMM YYYY"
                  )
                }}
              </p>
            </div>
            <div>
              <p class="text-gray-500">Description</p>
              <p class="text-gray-800">
                {{ data.data.description }}
              </p>
            </div>
          </div>

          <OverviewDataWidget
            title="Total People"
            :number="data.data.users.length"
            iconWrapperColor="bg-primary-vogue"
            icon="/icon/user-primary.svg"
          />

          <OverviewDataWidget
            title="Total Working Hours"
            :number="data.data.totalHours"
            unit
            unitnumber="Hours"
            iconWrapperColor="bg-gray-100"
            icon="/icon/clock-gray.svg"
          />
        </div>
      </div>
    </div>
  </div>
  <div v-else>Unauthorized</div>
</template>

<script>
// import Modal from "~/components/Modal/index.vue";
// import ModalContent from "~/components/Modal/Content.vue";

export default {
  components: {},
  data() {
    return {};
  },
};
</script>

<script setup>
import { ref } from "vue";
import { useAuthStore } from "~/store/auth";
import { departmentStore } from "~/store/departmentStore";
import { messageAlert } from "~~/store/messageAlert";
const auth = useAuthStore();
const department = departmentStore();
const runtimeConfig = useRuntimeConfig();
const route = useRoute();
const router = useRouter();
const params = route.params;
const alert = messageAlert();
const { $showToast, $hourRound } = useNuxtApp();

const date = ref();
const refreshing = ref(false);

useHead({
  title: "Hemlock - Department",
  meta: [{ name: "description", content: "Departments" }],
});

definePageMeta({
  layout: "applayout",
  middleware: ["auth"],
});

// fetch department data
const { data, pending, error, refresh } = await useLazyFetch(
  runtimeConfig.apiBaseUrl + "admin/department/get/" + params.id,
  {
    headers: {
      Authorization: `Bearer ${auth.token}`,
    },
    onResponse({ request, response, options }) {
      if (response.status === 204) {
        $showToast("No records found", "warning", 3000);
      }
    },
  }
);

// fetch users in department
await useLazyFetch(
  runtimeConfig.apiBaseUrl + "admin/department/users/" + params.id,
  {
    headers: {
      Authorization: `Bearer ${auth.token}`,
    },
    onResponse({ request, response, options }) {
      if (response.status === 200) {
        department.setUsersIndepartment(response._data.data);
      } else {
        if (response.status === 204) {
          $showToast("No records found", "warning", 3000);
        }
      }
    },
  }
);

async function onSearchEmployeeInDepartment(event) {
  const input = document.getElementsByName("searchbar");
  const searchKeyword = input[0].value;

  await useLazyFetch(
    runtimeConfig.apiBaseUrl +
      "admin/department/users/" +
      params.id +
      "/?search=" +
      searchKeyword,
    {
      headers: {
        Authorization: `Bearer ${auth.token}`,
      },
      onResponse({ request, response, options }) {
        console.log(response);
        if (response.status === 200) {
          department.setUsersIndepartment(response._data.data);
        } else {
          if (response.status === 204) {
            $showToast("No recors found", "success", 3000);
          }
        }
      },
    }
  );
}

async function loadModal() {
  department.modalShow = true;

  // fetch all users
  await useLazyFetch(runtimeConfig.apiBaseUrl + "admin/user/employee/list", {
    headers: {
      Authorization: `Bearer ${auth.token}`,
    },
    onResponse({ request, response, options }) {
      const resData = response._data;
      if (response.status === 200) {
        const userData = response._data.data.rows;
        department.setAllUsers(userData);
      } else {
        // error
        console.log(resData.message || response.statusText);
      }
    },
  });
}

let searchKeyword = "";
async function onSearchEmployee(event) {
  // recall users=
  await useLazyFetch(
    runtimeConfig.apiBaseUrl +
      "admin/user/employee/list/?all=true&search=" +
      searchKeyword,
    {
      headers: {
        Authorization: `Bearer ${auth.token}`,
      },
      onResponse({ request, response, options }) {
        const resData = response._data;
        if (response.status === 200) {
          const userData = response._data.data.rows;
          department.setAllUsers(userData);
        } else {
          // error
          console.log(resData.message || response.statusText);
          $showToast(resData.message || response.statusText, "error", 3000);
        }
      },
    }
  );
}

// let userFormModel = [];
async function onSubmitEmployee(event) {
  let checkedUsers = [];
  // get checked users
  const input = document.getElementsByName("userId[]");
  for (let i = 0; i < input.length; i++) {
    let a = input[i];
    if (a.checked) {
      checkedUsers.push(a._value);
    }
  }

  let formData = {
    userIds: checkedUsers,
  };

  // submit users into department
  await useFetch(
    runtimeConfig.apiBaseUrl + "admin/department/assignuser/" + params.id,
    {
      method: "POST",
      body: formData,
      headers: {
        Authorization: `Bearer ${auth.token}`,
      },
      async onResponse({ request, response, options }) {
        const resData = response._data;
        if (response.status === 200) {
          $showToast(
            "The selected users have been inserted into department",
            "success",
            3000
          );
          department.modalShow = false;

          // refresh data
          // refreshing.value = true;
          try {
            await refreshNuxtData();
          } finally {
            // refreshing.value = false;
          }
        } else {
          // error
          console.log(resData.message || response.statusText);
          alert.setMessageAlert(
            resData.message || response.statusText,
            "danger"
          );
        }
      },
    }
  );
}

async function deleteRecord(userId) {
  console.log(userId + " Deleted");
}
</script>
