<template>
  <div class="flex justify-between items-center mb-5">
    <h1 class="text-3xl text-secondary font-bold">Departments</h1>
    <div class="flex items-center">
      <!-- <Datepicker v-model="date" inline auto-apply /> -->
      <DateRangePicker />
      <NuxtLink
        v-if="auth.user.role === 'ADMIN'"
        to="/departments/create"
        class="inline-flex text-white bg-primary hover:bg-secondary focus:ring-4 focus:ring-blue-300 rounded-md text-lg px-5 py-2.5 ml-3"
      >
        Add Department
      </NuxtLink>
    </div>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
    <OverviewDataWidget
      v-if="department.totalDepartments !== null"
      title="Total Departments"
      :number="department.totalDepartments"
      iconWrapperColor="bg-secondary-vogue"
      icon="/icon/sitemap-secondary.svg"
    />
    <SkeletonWidget v-else />

    <OverviewDataWidget
      v-if="department.totalUsersInDepartment !== null"
      title="People in Department"
      :number="department.totalUsersInDepartment"
      iconWrapperColor="bg-success-vogue"
      icon="/icon/checkmark-green.svg"
    />
    <SkeletonWidget v-else />

    <OverviewDataWidget
      v-if="department.totalUsersNotInDepartment !== null"
      title="People not in Department"
      :number="department.totalUsersNotInDepartment"
      iconWrapperColor="bg-danger-vogue"
      icon="/icon/circle-out-danger.svg"
    />
    <SkeletonWidget v-else />
  </div>

  <div class="bg-white rounded-md p-5 mb-6">
    <h3 class="text-xl text-secondary font-bold mb-3">All Departments</h3>

    <AlertsAlert />
    <div v-if="pending">
      <SkeletonTable />
    </div>
    <div v-else>
      <DepartmentTable>
        <DepartmentTableList
          v-if="departmentList.data.rows.length > 0"
          v-for="row in departmentList.data.rows"
          :key="row.id"
          :id="row.id"
          :departmentname="row.name"
          :created="
            $moment(row.createdAt, `YYYY-MM-DD H:i:s`).format('DD MMM YYYY')
          "
          :people="row.totalUsers"
          :workinghours="
            row.totalHours === null ? 0 : $hourRound(row.totalHours)
          "
          incrementnumber="0"
          increment="up"
        />
        <div class="bg-gray-100 p-2 rounded-md mb-2 text-center" v-else>
          No records found
        </div>
      </DepartmentTable>
    </div>
  </div>
</template>

<script setup>
import { ref } from "vue";
import Datepicker from "@vuepic/vue-datepicker";
import "@vuepic/vue-datepicker/dist/main.css";
import { useAuthStore } from "~/store/auth";
import { messageAlert } from "~/store/messageAlert";
import { departmentStore } from "~/store/departmentStore";
import { mainStore } from "~/store/mainStore";

const { $moment, $hourRound } = useNuxtApp();
const auth = useAuthStore();
const runtimeConfig = useRuntimeConfig();
const messageInit = messageAlert();
const department = departmentStore();
const main = mainStore();

const date = ref();

useHead({
  title: "Hemlock - Departments",
  meta: [{ name: "description", content: "Departments" }],
});

definePageMeta({
  layout: "applayout",
  middleware: "auth",
});

let totalDepartment = 0;

// fetch department overview
await useLazyFetch(runtimeConfig.apiBaseUrl + "admin/department/overview", {
  headers: {
    Authorization: `Bearer ${auth.token}`,
  },
  onResponse({ request, response, options }) {
    if (response.status === 200) {
      department.setTotalDepartments(response._data.totalDepartments);
      department.setTotalUsersInDepartment(response._data.usersInDepartment);
      department.setTotalUsersNotInDepartment(
        response._data.usersNotInDepartment
      );
    } else {
      messageInit.setMessageAlert(
        resData.message || response.statusText,
        "danger"
      );
    }
  },
});

const {
  data: departmentList,
  pending,
  error,
  refresh,
} = await useLazyFetch(
  runtimeConfig.apiBaseUrl + "admin/department/list/?time=",
  {
    headers: {
      Authorization: `Bearer ${auth.token}`,
    },
  }
);
</script>
