<template>
  <div v-if="auth.user.role === 'ADMIN'">
    <div class="mb-5">
      <h1 class="text-3xl text-secondary font-bold mb-1">Edit Admin</h1>
      <!-- Breadcrumb -->
      <nav class="flex" aria-label="Breadcrumb">
        <ol class="inline-flex items-center space-x-1 md:space-x-2">
          <li class="inline-flex items-center">
            <NuxtLink
              to="/users/admin"
              class="inline-flex items-center text-sm text-gray-500 hover:text-gray-900"
            >
              Users
            </NuxtLink>
          </li>
          <li class="inline-flex items-center">
            <div class="flex items-center">
              <svg
                class="w-4 h-4 text-gray-400"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                  clip-rule="evenodd"
                ></path>
              </svg>
              <NuxtLink
                to="/users/admin"
                class="inline-flex items-center text-sm text-gray-500 hover:text-gray-900"
              >
                Admin
              </NuxtLink>
            </div>
          </li>
          <li>
            <div class="flex items-center">
              <svg
                class="w-4 h-4 text-gray-400"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                  clip-rule="evenodd"
                ></path>
              </svg>
              <span class="ml-1 text-sm text-primary">Edit Admin </span>
            </div>
          </li>
        </ol>
      </nav>
      <!-- Breadcrumb -->
    </div>

    <div v-if="pending" class="bg-white rounded-md p-5 mb-6">
      <SkeletonForm />
    </div>
    <div v-else>
      <form class="mb-8" @submit.prevent="submitForm" method="POST">
        <div class="bg-white rounded-md mb-6">
          <div class="grid grid-cols-1 md:grid-cols-12">
            <div class="col-span-8 p-5">
              <div class="flex items-center justify-between mb-2">
                <h3 class="text-xl text-gray-800 font-bold">General</h3>
                <div class="text-gray-500 text-sm flex items-center">
                  <img class="w-4 h-4" src="/icon/calendar.svg" alt="icon" />
                  <span class="ml-1"
                    >Created at
                    {{
                      $moment(user.data.createdAt, `YYYY-MM-DD H:i:s`).format(
                        "DD MMM YYYY H:m:s"
                      )
                    }}</span
                  >
                </div>
              </div>

              <AlertsAlert />
              <AlertsValidationAlert />

              <!-- Email -->
              <div class="mb-4">
                <label
                  for="Email"
                  class="block mb-2 text-sm font-medium text-gray-900"
                >
                  Email <span class="text-red-500">*</span></label
                >
                <input
                  type="email"
                  v-model="formData.email"
                  placeholder="Email"
                  name="email"
                  class="mb-2 bg-gray-100 border border-gray-200 text-gray-900 rounded-lg focus:ring-primary-vogue focus:border-primary-vogue block w-full p-3"
                  readonly
                />
              </div>
              <!-- ./Email -->

              <div class="grid gap-6 grid-cols-1 md:grid-cols-2">
                <!-- First Name -->
                <div class="mb-4">
                  <label
                    for="departmentname"
                    class="block mb-2 text-sm font-medium text-gray-900"
                  >
                    First Name <span class="text-red-500">*</span></label
                  >
                  <input
                    v-model="formData.firstName"
                    type="text"
                    class="bg-white border border-gray-200 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3"
                    placeholder="First Name"
                  />
                </div>
                <!-- ./ First Name -->

                <!-- Last Name -->
                <div class="mb-4">
                  <label
                    for="lastName"
                    class="block mb-2 text-sm font-medium text-gray-900"
                  >
                    Last Name<span class="text-red-500">*</span></label
                  >
                  <input
                    v-model="formData.lastName"
                    type="text"
                    class="bg-white border border-gray-200 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3"
                    placeholder="Last Name"
                  />
                </div>
                <!-- ./Last Name -->
              </div>

              <div class="grid gap-6 grid-cols-1 md:grid-cols-2">
                <!-- Phone number -->
                <div class="mb-4">
                  <label
                    for="Description"
                    class="block mb-2 text-sm font-medium text-gray-900"
                  >
                    Phone Number</label
                  >
                  <input
                    v-model="formData.phoneNumber"
                    type="text"
                    placeholder="Phone Number"
                    name="description"
                    class="mb-2 bg-white border border-gray-200 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3"
                    rows="5"
                  />
                </div>
                <!-- ./ Phone number -->

                <!-- Role -->
                <div class="mb-4">
                  <label
                    for="User Name"
                    class="block mb-2 text-sm font-medium text-gray-900"
                  >
                    Role <span class="text-red-500">*</span></label
                  >
                  <select
                    v-model="formData.role"
                    id="role"
                    class="bg-white border border-gray-200 text-gray-900 text-md rounded-lg focus:ring-primary-vogue focus:border-primary-vogue block w-full px-4 py-3 h-[50px]"
                  >
                    <option value="ADMIN">ADMIN</option>
                    <option value="MANAGER">MANAGER</option>
                  </select>
                </div>
                <!-- ./Role -->
              </div>

              <div class="grid gap-6 grid-cols-1 md:grid-cols-2">
                <!-- Password -->
                <div class="mb-4">
                  <label
                    for="password"
                    class="block mb-2 text-sm font-medium text-gray-900"
                  >
                    New Password
                  </label>
                  <input
                    v-model="formData.password"
                    type="password"
                    class="bg-white border border-gray-200 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3"
                    placeholder="Password "
                  />
                </div>
                <!-- ./ Password -->

                <!-- Repeat Password -->
                <div class="mb-4">
                  <label
                    for="repeatPassword"
                    class="block mb-2 text-sm font-medium text-gray-900"
                  >
                    Repeat Password
                  </label>
                  <input
                    v-model="formData.repeatPassword"
                    type="password"
                    class="bg-white border border-gray-200 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3"
                    placeholder="Repeat Password"
                  />
                </div>
                <!-- ./Repeat Password -->
              </div>
            </div>
            <div class="col-span-4 p-5 border-l border-gray-200">
              <h3 class="text-xl text-gray-800 font-bold mb-3">Photo</h3>

              <div class="flex items-center justify-center w-full">
                <label
                  for="dropzone-file"
                  class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-200 border-dashed rounded-lg cursor-pointer bg-gray-50"
                >
                  <div class="flex flex-col items-center justify-center p-6">
                    <img
                      class="w-16 h-16 mb-3"
                      src="/icon/user.svg"
                      alt="icon"
                    />
                    <p class="mb-2 text-center text-sm text-gray-500 px-5">
                      Support jpg, png, and webm files with max sizes 2mb
                    </p>
                    <div
                      class="text-white bg-secondary focus:ring-4 focus:outline-none focus:ring-primary font-bold rounded-md px-6 py-2 text-center inline-flex justify-center text-sm"
                      type="submit"
                    >
                      Browse File
                    </div>
                  </div>
                  <input id="dropzone-file" type="file" class="hidden" />
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="flex">
          <!-- <button
          class="text-danger focus:ring-4 focus:outline-none focus:ring-blue-300 font-bold rounded-md text-lg px-5 py-2.5 text-center inline-flex justify-center"
          type="submit"
        >
          Delete
        </button> -->
          <div class="flex flex-1 justify-end">
            <NuxtLink
              to="/users/admin"
              class="text-gray-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-bold rounded-md text-lg px-5 py-2.5 text-center inline-flex justify-center"
            >
              Cancel
            </NuxtLink>
            <button
              class="text-white bg-primary focus:ring-4 focus:outline-none focus:ring-blue-300 font-bold rounded-md text-lg px-8 py-2.5 text-center inline-flex justify-center"
              type="submit"
            >
              <Loaders />
              <span v-if="loaderInit.display === false"> Save </span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script setup>
import { ref } from "vue";
import { useAuthStore } from "~/store/auth";
import { validationErrors } from "~/store/validationError";
import { messageAlert } from "~/store/messageAlert";
import { loader } from "~/store/loader";
const auth = useAuthStore();
const loaderInit = loader();
const runtimeConfig = useRuntimeConfig();
const route = useRoute();
const params = route.params;

const date = ref();

useHead({
  title: "Hemlock - Users",
  meta: [{ name: "description", content: "Users" }],
});

definePageMeta({
  layout: "applayout",
  middleware: ["auth"],
});

let formData = {
  email: "",
  firstName: "",
  lastName: "",
  phoneNumber: "",
  role: "",
  password: "",
  repeatPassword: "",
};

// fetch user
const {
  data: user,
  pending,
  error,
  refresh,
} = await useLazyFetch(
  runtimeConfig.apiBaseUrl + "admin/user/get/" + params.id,
  {
    headers: {
      Authorization: `Bearer ${auth.token}`,
    },
    onResponse({ request, response, options }) {
      if (response.status === 200) {
        formData.email = response._data.data.email;
        formData.firstName = response._data.data.firstName;
        formData.lastName = response._data.data.lastName;
        formData.phoneNumber = response._data.data.phoneNumber;
        formData.role = response._data.data.role;
      } else {
        messageInit.setMessageAlert(
          resData.message || response.statusText,
          "danger"
        );
      }
    },
  }
);

async function submitForm() {
  const validationError = validationErrors();
  const messageInit = messageAlert();

  validationError.clearErrors();
  messageInit.clearMessageAlert();

  loaderInit.display = true;

  const { data, pending, error, refresh } = await useFetch(
    runtimeConfig.apiBaseUrl + "admin/user/admin/update/" + params.id,
    {
      method: "PUT",
      body: formData,
      headers: {
        Authorization: `Bearer ${auth.token}`,
      },
      onResponse({ request, response, options }) {
        // Process the response data
        const resData = response._data;

        if (response.status === 200) {
          // successfully
          messageInit.setMessageAlert("The user has been updated", "success");
          window.scrollTo(0, 0);
        } else {
          // errors
          if (resData.message === "validation error") {
            validationError.setErrors(resData.errors);
          } else {
            messageInit.setMessageAlert(
              resData.message || response.statusText,
              "danger"
            );
          }
          window.scrollTo(0, 0);
        }
      },
    }
  ).then(() => {
    loaderInit.display = false;
  });
}
</script>
