<template>
  <div class="flex">
    <div class="flex-1 text-sm text-gray-500 font-bold p-2">Day Off Name</div>
    <div class="flex-1 ext-sm text-gray-500 font-bold p-2">Requester</div>
    <div class="w-[140px] p-2">Start Date</div>
    <div class="w-[140px] p-2">End Date</div>
    <div class="w-[100px] p-2">Status</div>
    <div class="w-[100px]" />
  </div>
  <div class="gap-2">
    <slot />
  </div>
</template>

<script>
export default {};
</script>