<template>
  <div class="bg-white rounded-md mb-2">
    <div class="flex items-center border-gray-200 border rounded-md">
      <div class="flex-1 p-2">
        <p class="font-bold text-gray-800">{{ dayoffname }}</p>
        <p class="text-sm text-gray-500">Created {{ createdate }}</p>
      </div>
      <div class="flex-1 flex items-center p-2">
        <img
          v-if="profilepict"
          class="w-10 h-10 rounded"
          :src="profilepict"
          alt="profile pict"
        />
        <img
          v-else
          class="w-10 h-10 rounded"
          src="/img/placeholder-user.svg"
          alt="profile pict"
        />

        <div class="ml-2">
          <p class="text-gray-800 font-bold">{{ username }}</p>
          <p class="text-sm text-gray-500">{{ email }}</p>
        </div>
      </div>
      <div class="w-[140px] p-2">
        {{ startdate }}
      </div>
      <div class="w-[140px] p-2">
        {{ enddate }}
      </div>
      <div class="w-[100px] p-2">
        <span
          v-if="status === 'APPROVED'"
          class="bg-success text-white text-sm font-medium px-2.5 py-1 rounded"
          >Approved</span
        >
        <span
          v-else-if="status === 'REJECTED'"
          class="bg-danger text-white text-sm font-medium px-2.5 py-1 rounded"
          >Rejected</span
        >
        <span
          v-else
          class="bg-warning text-white text-sm font-medium px-2.5 py-1 rounded"
          >Pending</span
        >
      </div>

      <div class="w-[100px] flex justify-end p-2">
        <Dropdown>
          <template #toggler>
            <button
              class="border border-gray-200 text-gray-800 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-md text-sm px-3 py-2 text-center inline-flex items-center"
              type="button"
            >
              Action
              <svg
                class="ml-2 w-4 h-4"
                aria-hidden="true"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M19 9l-7 7-7-7"
                ></path>
              </svg>
            </button>
          </template>
          <DropdownContent>
            <DropdownItem
              v-if="auth.user.role !== 'EMPLOYEE'"
              @click="statusUpdate(id, 'APPROVED')"
              >Approve</DropdownItem
            >
            <DropdownItem
              v-if="auth.user.role !== 'EMPLOYEE'"
              @click="statusUpdate(id, 'REJECTED')"
              >Reject</DropdownItem
            >
            <hr />
            <DropdownItem :to="'/dayoff/edit/' + id">Edit</DropdownItem>
            <hr />
            <DropdownItem @click="deleteConfirm(id)"
              ><span class="text-danger">Delete</span></DropdownItem
            >
          </DropdownContent>
        </Dropdown>
      </div>
    </div>
  </div>
</template>

<script setup>
import { userStore } from "~/store/userStore";
import { useAuthStore } from "~/store/auth";
import { dayOffStore } from "~/store/dayOffStore";
const auth = useAuthStore();
const dayOff = dayOffStore();
const { $showToast } = useNuxtApp();
const user = userStore();
const runtimeConfig = useRuntimeConfig();

async function deleteConfirm(id) {
  if (confirm("Do you really want to delete ?")) {
    const { data, pending, error, refresh } = await useLazyFetch(
      runtimeConfig.apiBaseUrl + "admin/dayoff/delete/" + id,
      {
        method: "DELETE",
        headers: {
          Authorization: `Bearer ${auth.token}`,
        },
        async onResponse({ request, response, options }) {
          if (response.status === 200) {
            $showToast("The data has been deleted", "success", 3000);
            await refreshNuxtData();
            // window.location.reload(true);
          } else {
            console.log(response);
          }
        },
      }
    );
  }
}

async function statusUpdate(id, status) {
  const { data, pending, error, refresh } = await useLazyFetch(
    runtimeConfig.apiBaseUrl + "admin/dayoff/update/status/" + id,
    {
      method: "PUT",
      body: { status: status },
      headers: {
        Authorization: `Bearer ${auth.token}`,
      },
      async onResponse({ request, response, options }) {
        if (response.status === 200) {
          $showToast("The data has been updated", "success", 3000);

          // refetch data
          let apiPath = "";
          if (auth.user.role === "ADMIN") {
            apiPath = "admin/dayoff/list";
          } else if (auth.user.role === "EMPLOYEE") {
            apiPath = "admin/dayoff/list/me";
          } else {
            apiPath = "admin/dayoff/list/assignedToMe";
          }
          await useLazyFetch(runtimeConfig.apiBaseUrl + apiPath, {
            method: "GET",
            headers: {
              Authorization: `Bearer ${auth.token}`,
            },
            onResponse({ request, response, options }) {
              // Process the response data
              if (response.status === 200) {
                // successfully
                const resData = response._data.data;
                dayOff.setDayOffList(resData);
              }
            },
          });
        } else {
          console.log(response);
        }
      },
    }
  );
}
</script>

<script>
import Dropdown from "../Dropdown/index.vue";
import DropdownContent from "../Dropdown/Content.vue";
import DropdownItem from "../Dropdown/Items.vue";

export default {
  props: {
    id: { type: Number, default: 1 },
    dayoffname: { type: String, default: "Day Off Name" },
    createdate: { type: String, default: "11 Nov 2023" },
    profilepict: { type: String, default: "/img/placeholder-user.svg" },
    username: { type: String, default: "First Name Last Name" },
    email: { type: String, default: "Email" },
    startdate: { type: String, default: "11 Nov 2023" },
    enddate: { type: String, default: "12 Nov 2023" },
    status: { type: Function, default: "" },
  },
  components: {
    Dropdown,
    DropdownContent,
    DropdownItem,
  },
};
</script>
